<% @section = 5 %>
<%= erb :'partials/progression_primaire' %>

<div class="col-12 col-md-8">

  <h2>Pièces à joindre</h2>

  <hr>

  <span style="display:block; height: 20px;"></span>

  <form>

    <% documents_demandes = ["Photo d'identité", "Carte d'identité", "Livret de famille", "Justificatif de domicile", "Dernier avis d'imposition", "Attestation d'assurance", "Notification du tarif de cantine"] %>

    <div class="card-deck">
      <% for i in 0..2 %>
        <% @document = documents_demandes[i] %>
        <%= erb :'partials/carte_upload' %>
      <% end %>
    </div>

    <div class="card-deck">
      <% for i in 3..5 %>
        <% @document = documents_demandes[i] %>
        <%= erb :'partials/carte_upload' %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="card">
          <h5 class="card-header"><%= documents_demandes[6] %></h5>
          <div class="card-body">
            <p class="card-text">Dire pourquoi on demande ce document.<br>
              <strong>../tarif_cantine.pdf</strong></p>
            <button type="button" class="btn btn-warning btn-sm"><label class="upload">Modifier<input type="file" hidden></label></button>
            <button type="button" class="btn btn-primary btn-sm">Envoyer</button>
          </div>
        </div>
      </div>
    </div>

  </form>

  <%= erb :'partials/precedent_suivant', :locals => { :precedent => "droit_image", :suivant => "validation" } %>

</div><!--/span-->