<div class="aligner-progressions">

  <% @section = 2 %>
  <%= erb :'partials/progression_primaire' %>
  <% @sous_section = 1 %>
  <%= erb :'partials/progression_secondaire' %>

</div>

<div class="col-12 col-md-8">

  <h2>Famille (1/3) : Responsable légal 1</h2>

  <hr>

  <form>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Lien de parenté", :variable => "lien_parente_rl1", :options => ["Choisissez...", "Mère", "Père", "Tutrice", "Tuteur", "Autre"], :selected => "" } %>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_rl1", :valeur => "Catherine", :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_rl1", :valeur => "Puydebois", :exemple => "Nom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adr1_rl1", :valeur => "4 Place de la Nation", :exemple => "Numéro et nom de voie" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "cp_rl1", :valeur => "75012", :exemple => "Code postal" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_rl1", :valeur => "Paris", :exemple => "Ville" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel1_rl1", :valeur => "0645478251", :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel2_rl1", :valeur => "", :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_email', :locals => { :desc => "Email principal", :variable => "mail_rl1", :valeur => "", :exemple => "Adresse email" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "sit_emploi_rl1", :options => ["Choisissez...", "Occupe un emploi", "Chômage", "Retraite", "Autre"], :selected => "" } %>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "emploi_rl1", :options => ["Choisissez...", "Agriculteur·rice", "Artisan·e", "Commerçant·e", "Professeur·e", "Cadre", "Clergé", "Technicien·ne", "Employé·e", "Ouvrier·ère", "Retraité·e"], :selected => "" } %>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre d'enfants à charge en collège ou lycée", :variable => "charge_sec_rl1", :valeur => "", :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre total d'enfants à charge", :variable => "charge_tot_rl1", :valeur => "", :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    <span style="display:block; height: 30px;"></span>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="autorisation_sortie" value="oui"> J'accepte
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="autorisation_sortie" value="non"> Je n'accepte pas
      </label>
    </div>

    <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

  </form>

  <%= erb :'partials/precedent_suivant', :locals => { :precedent => "eleve", :suivant => "resp_legal_2" } %>

</div><!--/span-->