<div class="aligner-progressions">
  
  <% @section = 2 %>
  <%= erb :'partials/progression_primaire' %>
  <% @sous_section = 3 %>
  <%= erb :'partials/progression_secondaire' %>
  
</div>

<div class="col-12 col-md-8">

  <h2>Famille (3/3) : Autre personne à contacter en cas d'urgence</h2>

  <hr>

  <form>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Lien avec l'élève", :variable => "lien_elv_urg", :valeur => "", :exemple => "Lien avec l'élève" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_urg", :valeur => "", :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_urg", :valeur => "", :exemple => "Nom" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adr1_urg", :valeur => "", :exemple => "Numéro et nom de voie" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "cp_urg", :valeur => "", :exemple => "Code postal" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_urg", :valeur => "", :exemple => "Ville" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel1_urg", :valeur => "", :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel2_urg", :valeur => "", :exemple => "Numéro de téléphone" }%>

  </form>

  <%= erb :'partials/precedent_suivant', :locals => { :precedent => "resp_legal_2", :suivant => "choix_pedagogiques" } %>

</div><!--/span-->