<div class="col-12">

  <h1 class="separation">Pièces attendues par l'établissement</h1>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>
  <div id="message-erreur" class="message_echec d-none"></div>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>nom</th>
        <th>explication</th>
        <th>Obligatoire</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pieces_attendues.each do |piece_attendue| %>
        <tr>
          <td><%= piece_attendue.nom %></td>
          <td><%= piece_attendue.explication %></td>
          <td><%= piece_attendue.obligatoire ? 'Oui' : 'Non' %></td>
          <td><i class="fas fa-trash-alt" style="color: #BB0000; cursor: pointer" data-id='<%= piece_attendue.id %>'></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_for PieceAttendue.new do |form| %>
    <%= form.label :nom %>
    <%= form.text_field :nom, placeholder: 'Ex : Livret de famille' %>
    <%= form.label :explication, 'Explication pour la famille', html: {style: 'margin-left:10px'} %>
    <%= form.text_field :explication %>
    <%= form.label :obligatoire, html: {style: 'margin-left:10px'} %>
    <%= form.check_box :obligatoire %>
    <button class='btn btn-primary' type='submit' style='margin-left:10px'>Ajouter</button>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
$('.fa-trash-alt').click(function() {
  var $this = $(this);
  var piece_attendue_id = $this.data('id');
  $.ajax({
    method: "POST",
    url: "/agent/supprime_piece_attendue",
    data: { piece_attendue_id: piece_attendue_id, authenticity_token: "<%= form_authenticity_token %>" },
    success : function() {
      console.log($this.parent().parent());
      $this.parent().parent().remove()
        $('#message-erreur').addClass('d-none')
    },
    error : function() {
      $('#message-erreur').html('Cette pièce ne peut être supprimé').removeClass('d-none')
    },
  });
})
</script>
