<%
=begin 

VARIABLES

name
label
options		["CM1", "CM2", "6ème"]
selected	"CM2"

=end
%>

<div class="form-group row">
	<label for="<%= name %>" class="col-sm-4 col-form-label"><%= label %></label>
	<div class="col-sm-5">
		<select
			id="<%= name %>"
			name="<%= name %>"
			class="form-control"
		>
			<% options.each do |option| %>
				<option
					value="<%= option %>"
					<% if option == selected %>
						selected
					<% end %>
				> <%= option %>
				</option>
			<% end %>
		</select>
	</div>
</div>