<div class="card">
  <h5 class="card-header"><%= @document %></h5>
  <div class="card-body">
    <p class="card-text"><%= @explication %></p>

    <div class="card-relat document">

      <div type="button" class="btn btn-secondary btn-sm">
        <label class="upload" for="<%= @variable %>"><%= @action %></label>
        <input type="file" hidden name="<%= @variable %>" id="<%= @variable %>"
               multiple>
      </div>
      <span id="fichier_<%= @variable %>"></span>
      <br />
      <div class="image-piece-a-joindre" id="image_<%= @variable %>"
             <% if @document_stocke_url.present? %>
             style="background-image: url('<%= @document_stocke_url %>'); height: 200px; max-width: 350px;"
              <% end %>>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('input').on('input change', function(){
        $('#fichier_'+this.id).html(this.files[0].name);
        $('label[for='+this.id+']').html('Modifier')
    })});
</script>
