<div class="card">
  <h5 class="card-header"><%= @document %></h5>
  <div class="card-body">
    <p class="card-text"><%= @explication %></p>


    <div class="card-relat document">

      <button type="button" class="btn btn-primary btn-sm">
        <label class="upload" for="<%= @variable %>"><%= @action %></label>
        <input type="file" hidden name="<%= @variable %>" id="<%= @variable %>"
               onChange="change_fichier(this)" multiple>

      </button>
      <br />
        <div class="image-piece-a-joindre" id="fichier_<%= @variable %>"
             <% if @document_stocke_url.present? %>
             style="background-image: url('<%= @document_stocke_url %>'); height: 200px; max-width: 350px;"
              <% end %>>
        </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    change_fichier = function(o){
        $('#fichier_'+o.id).html(o.files[0].name);
        $('label[for='+o.id+']').html('Modifier')
    }});
</script>
