<div class="card">
  <h5 class="card-header"><%= @document %></h5>
  <div class="card-body">
    <p class="card-text"><%= @explication %></p>

    <div class="card-relat document">

        <input data-btnClass="btn btn-primary" data-text="Parcourir" class='filestyle' type="file" name="<%= @variable %>" id="<%= @variable %>"
               multiple>
      <span id="fichier_<%= @variable %>"></span>
      <br />
      <div class="image-piece-a-joindre lien-piece-jointe" id="image_<%= @variable %>"
             <% if @document_stocke_url.present?
                document_route = FichierUploader::route_lecture+"/"+@document_stocke_url
                image_url = @document_stocke_url.ends_with?('.pdf') ? "/images/reglement_dp_small.png" : document_route
              %>
             style="background-image: url('<%= image_url %>'); height: 200px; max-width: 350px;"
             data-toggle="modal"
             data-target="#modal-pieces-jointes"
             data-url="<%= document_route %>"
              <% end %>>
      </div>
    </div>
  </div>
</div>
