<div class="card">
  <h5 class="card-header"><%= @document %></h5>
  <div class="card-body">
    <p class="card-text"><%= @explication %></p>

    <div class="card-relat document">

        <input data-btnClass="btn btn-primary" data-text="Parcourir" class='filestyle' type="file" name="<%= @variable %>" id="<%= @variable %>"
               multiple>
      <span id="fichier_<%= @variable %>"></span>
      <br />
      <div class="image-piece-a-joindre" id="image_<%= @variable %>"
             <% if @document_stocke_url.present? %>
             style="background-image: url('<%= FichierUploader::route_lecture+"/"+@document_stocke_url %>'); height: 200px; max-width: 350px;"
              <% end %>>
      </div>
    </div>
  </div>
</div>
