<div class="form-group row">
	<label for="<%= variable %>" class="col-sm-4 col-form-label"><%= desc %></label>
	<div class="col-sm-5">
		<input type="tel" class="form-control" id="<%= variable %>" value="<%= valeur %>" placeholder="<%= exemple %>" name="<%= variable %>" <%= required if defined? required %>>
	</div>
</div>
