<div class="form-group row">
	<label for="<%= variable %>" class="col-sm-<%= longueur_label %>"" col-form-label"><%= desc %></label>
	<div class="col-sm-<%= longueur_input%>">
		<input type="text" class="form-control" id="<%= variable %>" value="<%= valeur %>" placeholder="<%= exemple %>" name="<%= variable %>" <%= required if defined? required %>>
	</div>
</div>