<% if session[:demarche] == "inscription" %>

	<p>
	Votre enfant
	<strong>
		<%= get_prenom_eleve(redis, session[:identifiant]) %> <%= get_nom_eleve(redis, session[:identifiant]) %>
	</strong>
	a été affecté au collège
	<strong>
		<%= get_nom_etablissement(redis, session[:identifiant]) %> (<%= get_localite_etablissement(redis, session[:identifiant]) %>)
	</strong>
	pour son entrée en
		sixième
	.</p>

	<p>Vous avez jusqu'au <strong>vendredi 21 juin 2018</strong> pour procéder à son inscription. Le respect de cette date est nécessaire pour maintenir la place de votre enfant dans notre établissement.</p>

<% else %>

	<p>Le conseil de classe du troisième trimestre a validé le passage en cinquième de votre enfant
	<strong>
		<%= get_prenom_eleve(redis, session[:identifiant]) %> <%= get_nom_eleve(redis, session[:identifiant]) %>
	</strong>
	au collège
	<strong>
		<%= get_nom_etablissement(redis, session[:identifiant]) %> (<%= get_localite_etablissement(redis, session[:identifiant]) %>)
	</strong>
	.</p>

	<p>Vous devez maintenant procéder à sa réinscription sur ce site avant le <strong>samedi 3 juin 2018</strong>.</p>

	<p>Cette étape est nécessaire pour choisir les enseignements que votre enfant suivra l'an prochain, remplir une poignée de formalités administratives et mettre à jour vos coordonnées.</p>

<% end %>
