<div class="container mt-5 mb-4">
	<div class="wrapper">
		<div class="arrow-steps clearfix">
			<a class="step <%= 'current' if @section >= 1 %>" href='/eleve'>
				<span class="d-none d-sm-block">Elève</span>
				<span class="d-sm-none">1</span>
			</a>
			<a class="step <%= 'current' if @section >= 2 %>" href='/famille'>
				<span class="d-none d-sm-block">Famille</span>
				<span class="d-sm-none">2</span>
			</a>
			<a class="step <%= 'current' if @section >= 3 %>" href='/administration'>
				<span class="d-none d-sm-block">Administration</span>
				<span class="d-sm-none">3</span>
			</a>
			<a class="step <%= 'current' if @section >= 4 %>" href='/pieces_a_joindre'>
				<span class="d-none d-sm-block">Pièces à joindre</span>
				<span class="d-sm-none">4</span>
			</a>
			<a class="step <%= 'current' if @section >= 5 %>" href='/validation'>
				<span class="d-none d-sm-block">Validation</span>
				<span class="d-sm-none">5</span>
			</a>
		</div>
	</div>
</div>