<% nav_numbers_light = ["①", "②", "③", "④", "⑤", "⑥"] %>

<% nav_numbers_bold = ["➊", "➋", "➌", "➍", "➎", "➏"] %>

<% sections = ["Elève", "Famille", "Enseignements", "Administration", "Pièces à joindre", "Validation"] %>

<% sections_liens = ["eleve", "resp_legal_1", "choix_pedagogiques", "regime", "pieces_a_joindre", "validation"] %>

<div class="row">
  
  <% for une_section in (1..@section-1) do %>
    <a href="/<%= sections_liens[une_section-1] %>" class="col col-nav nav-number other-nav">
      <div><%= nav_numbers_light[une_section-1]%></div>
    </a>
  <% end %>

  <% if @section != 7 %>
    <div class="col col-nav nav-number this-nav"><%= nav_numbers_bold[@section-1]%></div>
  <% end %>

  <% for une_section in (@section+1..6) do %>
    <a href="/<%= sections_liens[une_section-1] %>" class="col col-nav nav-number other-nav">
      <div><%= nav_numbers_light[une_section-1]%></div>
    </a>
  <% end %>

  <div class="w-100"></div>

  <% for une_section in (1..@section-1) do %>
    <a href="/<%= sections_liens[une_section-1] %>" class="col col-nav other-nav">
      <div><%= sections[une_section-1]%></div>
    </a>
  <% end %>

  <% if @section != 7 %>
    <div class="col col-nav this-nav"><%= sections[@section-1]%></div>
  <% end %>

  <% for une_section in (@section+1..6) do %>
    <a href="/<%= sections_liens[une_section-1] %>" class="col col-nav other-nav">
      <div><%= sections[une_section-1]%></div>
    </a>
  <% end %>

</div>