<?xml version="1.0" encoding="UTF-8"?>
<IMPORT_ELEVES xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
 xs:noNamespaceSchemaLocation="../schema_Import_2.0.xsd" VERSION="">
    <PARAMETRES>
        <UAJ>0750680G</UAJ>
        <ANNEE_SCOLAIRE>2017</ANNEE_SCOLAIRE>
        <DATE_IMPORT>23/01/2018</DATE_IMPORT>
        <NUM_ENVOI>1</NUM_ENVOI>
        <LOGICIEL>DOSSIERSCO</LOGICIEL>
    </PARAMETRES>
    <DONNEES>
        <ELEVES>
        <% dossiers_eleves = etablissement.dossier_eleve.where(etat: "validé").or(etablissement.dossier_eleve.where(etat: "en attente de validation")) %>
        <% dossiers_eleves.each do |dossier_eleve| %>
            <ELEVE>
              <% mappings.each do |mapping| %>
                <<%=mapping.cible%>><%=dossier_eleve.eleve[mapping.source]%></<%=mapping.cible%>>
              <% end %>
                <CODE_REGIME><%= dossier_eleve.demi_pensionnaire ? '2' : '0' %></CODE_REGIME>
                <RESPONSABLES_ELEVE>
                  <% dossier_eleve.resp_legal.each do |resp_legal| %>
                    <LEGAL>
                        <NOM_DE_FAMILLE><%= resp_legal.nom %></NOM_DE_FAMILLE>
                        <PRENOM><%= resp_legal.prenom %></PRENOM>
                        <COMMUNICATION_ADRESSE><%= resp_legal.communique_info_parents_eleves %></COMMUNICATION_ADRESSE>
                        <CODE_PROFESSION><%= RespLegal.codes_profession.key(resp_legal.profession) %></CODE_PROFESSION>
                        <TEL_PERSONNEL><%= resp_legal.tel_principal %></TEL_PERSONNEL>
                        <TEL_PORTABLE><%= resp_legal.tel_portable %></TEL_PORTABLE>
                        <ENFANT_A_CHARGE><%= resp_legal.enfants_a_charge %></ENFANT_A_CHARGE>
                        <ADRESSE>
                            <LIGNE1_ADRESSE><%= resp_legal.adresse.strip %></LIGNE1_ADRESSE>
                            <CODE_POSTAL><%= resp_legal.code_postal %></CODE_POSTAL>
                            <LL_POSTAL><%= resp_legal.ville %></LL_POSTAL>
                        </ADRESSE>
                        <% if resp_legal.email.present? %><EMAIL><%= resp_legal.email %></EMAIL><% end %>
                    </LEGAL>
                  <% end %>
                </RESPONSABLES_ELEVE>
              <% contact = dossier_eleve.contact_urgence %>
              <% if contact.present? && ( contact.tel_principal.present? || contact.tel_secondaire.present? ) %>
                <CONTACT>
                  <CODE_PARENTE><%= contact.lien_avec_eleve %></CODE_PARENTE>
                  <NOM_DE_FAMILLE><%= contact.nom %></NOM_DE_FAMILLE>
                  <PRENOM><%= contact.prenom %></PRENOM>
                  <TEL_PERSONNEL><%= contact.tel_principal %></TEL_PERSONNEL>
                  <TEL_PORTABLE><%= contact.tel_secondaire %></TEL_PORTABLE>
                </CONTACT>
              <% end %>
              <SCOLARITE_ACTIVE>
                <OPTIONS>
                <% options = dossier_eleve.eleve.option %>
                <% options.each do |option| %>
                  <OPTION>
                    <CODE_MATIERE><%= option.nom %></CODE_MATIERE>
                  </OPTION>
                <% end %>
                </OPTIONS>
              </SCOLARITE_ACTIVE>
            </ELEVE>
        <% end %>
        </ELEVES>
    </DONNEES>
</IMPORT_ELEVES>
