<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>

  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <div class="aligner-progressions">
        
        <% @section = 4 %>
        <%= erb :'partials/progression_primaire' %>
        <% @sous_section = 1 %>
        <%= erb :'partials/progression_secondaire' %>
        
      </div>

      <div class="col-12 col-md-8">

        <h2>Régime</h2>

        <hr>

        <form>

          <div class="form-group row">
            <label for="regime" class="col-sm-3 col-form-label">Choix du régime</label>
            <div class="col-sm-6">
              <label class="col-sm-7 form-check-label">
                <input type="radio" name="regime" class="form-check-input trigger" onclick="afficher_dp(event)"> Demi-pensionnaire
              </label>
              <label class="col-sm-4 form-check-label">
                <input type="radio" name="regime" class="form-check-input trigger" onclick="masquer_dp(event)"> Externe
              </label>
            </div>
          </div>

          <div id="dp" style="display: none;">
                        
            <span style="display:block; height: 20px;"></span>

            <p>Consulter le règlement du service de demi-pension :
              <a href="images/reglement_dp.png" target="_blank"><img src="images/reglement_dp_small.png" alt="règlement demi-pension"></a>
            </p>

            <%= erb :'partials/champ_check', :locals => { :desc => "J'ai lu et j'accepte le règlement du service de demi-pension." }%>

            <%= erb :'partials/champ_check', :locals => { :desc => "Je m'engage à régler les frais de demi-pension en respectant les délais impartis inhérents au bon fonctionnement du service." }%>

          </div>

        </form>

        <%= erb :'partials/precedent_suivant', :locals => { :precedent => "choix_pedagogiques", :suivant => "autorisation_sortie" } %>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>

<script>

  function afficher_dp(e){
    document.querySelector('#dp').style.display = 'block'
  }

  function masquer_dp(e){
    console.log("yu")
    document.querySelector('#dp').style.display = 'none'
  }

  function afficher_reduction_tarif(e){
    document.querySelector('#reduction_tarif').style.display = chk_reduction_tarif.checked ? 'block' : 'none'
  }

</script>

</html>