<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>

  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <div class="aligner-progressions">
        
        <% @section = 4 %>
        <%= erb :'partials/progression_primaire' %>
        <% @sous_section = 4 %>
        <%= erb :'partials/progression_secondaire' %>
        
      </div>

      <div class="col-12 col-md-8">

        <h2>Droit à l'image</h2>

        <hr>

        <form>

          <p>En application de l'article 9 du code civil et de l'article 121-1 du code de la propriété intellectuelle :</p>

          <span style="display:block; height: 20px;"></span>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="droit_image_diffusion" value="oui"> J'autorise
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="droit_image_diffusion" value="non"> Je n'autorise pas
            </label>
          </div>

          <p>le collège à diffuser des photographies ou images filmées de mon enfant et/ou ses réalisations scolaires sur le site académique et sur le site du collège, en dehors de toute exploitation commerciale, pour une durée indéterminée.</p>

          <span style="display:block; height: 20px;"></span>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="droit_image_photo" value="oui"> J'accepte
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="droit_image_photo" value="non"> Je n'accepte pas
            </label>
          </div>

          <p>que mon enfant soit photographié à l'occasion des photos de classe.</p>

        </form>

        <%= erb :'partials/precedent_suivant', :locals => { :precedent => "medical", :suivant => "pieces_a_joindre" } %>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>
</html>