<% locals_prenom =
        {
          name: "prenom",
          label: "Prénom",
          type: "text",
          value: prenom,
          indication: "Prénom",
          disabled: true
        } %>

<% locals_nom =
        {
          name: "nom",
          label: "Nom",
          type: "text",
          value: nom,
          indication: "Nom",
          disabled: true
        } %>

<% locals_sexe =
        {
          name: "sexe",
          label: "Sexe",
          options: ["Féminin", "Masculin"],
          checked: sexe,
        } %>

<% locals_espace_1 =
        {
          hauteur: 20,
        } %>

<% locals_date_naiss =
        {
          name: "date_naiss",
          label: "Né le",
          type: "date",
          value: date_naiss,
          indication: "",
          disabled: true
        } %>

<% locals_ville_naiss =
        {
          name: "ville_naiss",
          label: "à",
          type: "text",
          value: ville_naiss,
          indication: "Ville de naissance",
          disabled: false
        } %>

<% locals_pays_naiss =
        {
          name: "pays_naiss",
          label: "Pays",
          type: "text",
          value: pays_naiss,
          indication: "Pays de naissance",
          disabled: false
        } %>

<% locals_espace_2 =
        {
          hauteur: 20,
        } %>

<% locals_nationalite =
        {
          name: "nationalite",
          label: "Nationalité",
          type: "text",
          value: nationalite,
          indication: "Nationalité",
          disabled: false
        } %>

<% locals_espace_3 =
        {
          hauteur: 10,
        } %>

<% locals_classe_ant =
        {
          name: "classe_ant",
          label: "Classe",
          options: ["CM2", "CM1 (saut de classe)", "6ème (redoublement)"],
          selected: classe_ant
        } %>

<% locals_ets_ant =
        {
          name: "ets_ant",
          label: "Etablissement",
          type: "text",
          value: ets_ant,
          indication: "Etablissement",
          disabled: true
        } %>


<% @section = 1 %>
<%= erb :'partials/progression_primaire' %>

<div class="col-12 col-md-8">

  <form action="/resp_legal_1" method="post">
  
    <h2>Identité de l'élève</h2>

    <hr>

    <%= erb :'partials/brique_de_champ', locals: locals_prenom %>

    <%= erb :'partials/brique_de_champ', locals: locals_nom %>

    <%= erb :'partials/brique_de_champ_radio', locals: locals_sexe %>          

    <%= erb :'partials/brique_de_champ_espace', locals: locals_espace_1 %>          

    <%= erb :'partials/brique_de_champ', locals: locals_date_naiss %>

    <%= erb :'partials/brique_de_champ', locals: locals_ville_naiss %>

    <%= erb :'partials/brique_de_champ', locals: locals_pays_naiss %>
    
    <%= erb :'partials/brique_de_champ_espace', locals: locals_espace_2 %>          

    <%= erb :'partials/brique_de_champ', locals: locals_nationalite %>

    <%= erb :'partials/brique_de_champ_espace', locals: locals_espace_3 %>          

    <h2>Scolarité de l'année 2017/2018</h2>

    <hr>

    <%= erb :'partials/brique_de_champ_dropdown', locals: locals_classe_ant %>

    <%= erb :'partials/brique_de_champ', locals: locals_ets_ant %>

    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "accueil", :suivant => "resp_legal_1" } %>
    
  </form>

</div>