<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>

  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <% @section = 1 %>
      <%= erb :'partials/progression_primaire' %>

      <div class="col-12 col-md-8">

        <h2>Identité de l'élève</h2>

        <hr>

        <form>

          <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_elv", :valeur => "Etienne", :exemple => "Prénom" }%>

          <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_elv", :valeur => "Puydebois", :exemple => "Nom" }%>

          <%= erb :'partials/champ_radio', :locals => { :desc => "Sexe", :variable => "sexe_elv", :options => { :feminin => "Féminin", :masculin => "Masculin" } }%>

          <%= erb :'partials/champ_date', :locals => { :desc => "Né le", :variable => "date_naiss_elv", :valeur => "1995-11-19" }%>

          <%= erb :'partials/champ_texte', :locals => { :desc => "à", :variable => "ville_naiss_elv", :valeur => "", :exemple => "Ville de naissance" }%>

          <%= erb :'partials/champ_texte', :locals => { :desc => "pays", :variable => "pays_naiss_elv", :valeur => "", :exemple => "Pays de naissance" }%>

          <%= erb :'partials/champ_texte', :locals => { :desc => "Nationalité", :variable => "nationalite_elv", :valeur => "", :exemple => "Nationalité" }%>

        </form>

        <span style="display:block; height: 10px;"></span>

        <h2>Scolarité de l'année 2017/2018</h2>

        <hr>

        <form>

          <%= erb :'partials/champ_dropdown', :locals => { :desc => "Classe", :variable => "classe_ant_elv", :options => ["CM2", "CM1 (saut de classe)", "6ème (redoublement)"] } %>
          
          <%= erb :'partials/champ_texte', :locals => { :desc => "Etablissement", :variable => "ets_elv", :valeur => "Ecole René Cassin (Aubazine)", :exemple => "Etablissement" }%>

        </form>

        <span style="display:block; height: 40px;"></span>

        <%= erb :'partials/bouton_continuer', :locals => { :destination => "resp_legal_1" } %>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>
</html>