<% locals_prenom_elv =
        {
          name: "prenom_elv",
          label: "Prénom",
          type: "text",
          value: prenom_elv,
          indication: "Prénom",
          disabled: true
        } %>

<% locals_nom_elv =
        {
          name: "nom_elv",
          label: "Nom",
          type: "text",
          value: nom_elv,
          indication: "Nom",
          disabled: true
        } %>

<% locals_sexe_elv =
        {
          name: "sexe_elv",
          label: "Sexe",
          options: ["Féminin", "Masculin"],
          checked: sexe_elv,
        } %>

<% locals_date_naiss_elv =
        {
          name: "date_naiss_elv",
          label: "Né le",
          type: "date",
          value: date_naiss_elv,
          indication: "",
          disabled: true
        } %>

<% locals_ville_naiss_elv =
        {
          name: "ville_naiss_elv",
          label: "à",
          type: "text",
          value: ville_naiss_elv,
          indication: "Ville de naissance",
          disabled: false
        } %>

<% locals_pays_naiss_elv =
        {
          name: "pays_naiss_elv",
          label: "Pays",
          type: "text",
          value: pays_naiss_elv,
          indication: "Pays de naissance",
          disabled: false
        } %>

<% locals_nationalite_elv =
        {
          name: "nationalite_elv",
          label: "Nationalité",
          type: "text",
          value: nationalite_elv,
          indication: "Nationalité",
          disabled: false
        } %>

<% locals_classe_ant_elv =
        {
          name: "classe_ant_elv",
          label: "Classe",
          options: ["CM2", "CM1 (saut de classe)", "6ème (redoublement)"],
          selected: classe_ant_elv
        } %>

<% locals_ets_ant_elv =
        {
          name: "ets_ant_elv",
          label: "Etablissement",
          type: "text",
          value: ets_ant_elv,
          indication: "Etablissement",
          disabled: true
        } %>


<% @section = 1 %>
<%= erb :'partials/progression_primaire' %>

<div class="col-12 col-md-8">

  <form action="/resp_legal_1" method="post">
  
    <h2>Identité de l'élève</h2>

    <hr>

    <%= erb :'partials/brique_de_champ', locals: locals_prenom_elv %>

    <%= erb :'partials/brique_de_champ', locals: locals_nom_elv %>

    <%= erb :'partials/brique_de_champ_radio', locals: locals_sexe_elv %>          

    <span style="display:block; height: 20px;"></span>

    <%= erb :'partials/brique_de_champ', locals: locals_date_naiss_elv %>

    <%= erb :'partials/brique_de_champ', locals: locals_ville_naiss_elv %>

    <%= erb :'partials/brique_de_champ', locals: locals_pays_naiss_elv %>
    
    <span style="display:block; height: 20px;"></span>

    <%= erb :'partials/brique_de_champ', locals: locals_nationalite_elv %>

    <span style="display:block; height: 10px;"></span>

    <h2>Scolarité de l'année 2017/2018</h2>

    <hr>

    <%= erb :'partials/brique_de_champ_dropdown', locals: locals_classe_ant_elv %>

    <%= erb :'partials/brique_de_champ', locals: locals_ets_ant_elv %>

    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "accueil", :suivant => "resp_legal_1" } %>
    
  </form>

</div>