<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>
  
  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <% @page_id = 1 %>
      <%= erb :'partials/nav2' %>
      
      <div class="col-12 col-md-8">

        <h2>Scolarité antérieure</h2>

        <hr>

        <div class="row">
          <div class="col-2">
            Année
          </div>
          <div class="col-2">
            Classe
          </div>
          <div class="col-4">
            Etablissement
          </div>
          <div class="col-4">
            Ville
          </div>
        </div>

        <% for year in [2018, 2017, 2016, 2015] do %>

        <div class="row">
          <div class="col-2">
            <input type="text" readonly class="form-control scol" id="inputVille" value="<%= year-1 %>/<%= year %>" placeholder="Ville">
          </div>
          <div class="col-2">
            <select id="inputClasse" class="form-control scol">
              <option value="CM2">CM2</option>
              <option value="CM1" <% if year == 2017 %> selected <% end %>>CM1</option>
              <option value="CE2" <% if year == 2016 %> selected <% end %>>CE2</option>
              <option value="CE1" <% if year == 2015 %> selected <% end %>>CE1</option>
            </select>          
          </div>
          <div class="col-4">
            <input type="text" class="form-control scol" id="inputEtablissement" value="Ecole Baptiste Laumont" placeholder="Etablissement">
          </div>
          <div class="col-4">
            <input type="text" class="form-control scol" id="inputVille" value="Aubazine" placeholder="Ville">
          </div>
        </div>

        <% end %>

        <div class="row">
          <div class="col-9">
          </div>
          <div class="col-3">
            <form action="/famille_resp_legal_1" method="post">
              <button class="btn btn-primary btn-continuer-scol">Continuer</button>
            </form>
          </div>
        </div>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>
</html>