<section class="section">

  <h1 class="separation"><%= t('.eleve_non_inscrit') %></h1>

  <%= link_to t('.telecharger_convocations'),
              generation_convocations_etablissement_path(@etablissement, format: "zip"),
              class: 'button mb-2',
              id: 'telecharger_convocations' %>

  <% if @fichiers_convocations.count > 0 %>
    <p><%= t('.historique') %></p>
    <ul>
      <% @fichiers_convocations.each do |fichier| %>
        <li><%= link_to fichier.created_at.strftime('Le %e/%m/%Y à %Hh%M'), fichier.contenu.url %></li>
      <% end %>
    </ul>
  <% end %>


  <table id="options" class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Resp</th>
        <th>Resp</th>
        <th class="text-center"><i class="fas fa-phone-square"></i></th>
        <th class="text-center"><i class="fas fa-phone-square"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @eleves_non_inscrits.each do |dossier_eleve| %>
        <% resp_legal_1 = dossier_eleve.resp_legal.find {|d| d.priorite == 1} %>
        <tr>
          <td><%= dossier_eleve.classe_ant %></td>
          <td><%= dossier_eleve.prenom %></td>
          <td><%= dossier_eleve.nom %></td>
          <td><%= resp_legal_1.prenom %></td>
          <td><%= resp_legal_1.nom %></td>
          <td><%= resp_legal_1.tel_personnel %></td>
          <td><%= resp_legal_1.tel_portable %></td>
        </tr>
      <% end %>
      <%= will_paginate @eleves_non_inscrits %>

    </table>
</section>
