<section class="section">
  <div class="panel siecle">
    <div class="panel__header">
      <h3><%= t('.titre_import') %></h3>
    </div>
      <% if @tache.statut != 'en_attente' && @tache.statut != 'en_cours' %>
        <%= form_for TacheImport.new, multipart: true do |form| %>
        <p><i class="fas fa-info-circle blue"></i> <%= t('.aide_siecle') %></p>
          <div class="form__group">
            <label>
              <%= form.radio_button :type_fichier, 'reinscription', {checked: true} %>
              <%= t('.fichier_siecle') %>
            </label>
            <label>
              <%= form.radio_button :type_fichier, 'inscription' %>
              <%= t('.fichier_6') %>
            </label>
          </div>
          <p class="card-text"><%= t('.selectionner_fichier') %></p>
          <div class="form__group">
            <%= form.file_field :fichier %>
          </div>
          <% if Rails.env.demo? && @agent_connecte.etablissement.uai == '0123456S' %>
            <div class="form__group">
              Pour sécuriser vos données, l'import de SIECLE est réservé aux collèges ayant créé un compte DossierSCO. Vous pouvez tester cette fonctionnalité après avoir créé votre compte sur <a href="https://dossiersco.fr/configuration/etablissements/new">https://dossiersco.fr/configuration/etablissements/new</a>
            </div>
          <% else %>
            <div class="form__group">
              <button type="submit" class="button" id="soumettre-fichier">
                <%= t('.importer_fichier') %>
              </button>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>

  <div class="panel nomenclature">
    <div class="panel__header">
      <h3><%= t('.titre_import_nomenclature') %></h3>
    </div>
      <% if @tache.statut != 'en_attente' && @tache.statut != 'en_cours' %>
        <%= form_for TacheImport.new, multipart: true do |form| %>
        <p><i class="fas fa-info-circle blue"></i> <%= t('.aide_siecle_nomenclature') %></p>
          <p class="card-text"><%= t('.selectionner_fichier_nomenclature') %></p>
          <%= form.hidden_field :type_fichier, value: "nomenclature" %>
          <div class="form__group">
            <%= form.file_field :fichier %>
          </div>
          <% if Rails.env.demo? && @agent_connecte.etablissement.uai == '0123456S' %>
            <div class="form__group">
              Pour sécuriser vos données, l'import de nomenclature est réservé aux collèges ayant créé un compte DossierSCO. Vous pouvez tester cette fonctionnalité après avoir créé votre compte sur <a href="https://dossiersco.fr/configuration/etablissements/new">https://dossiersco.fr/configuration/etablissements/new</a>
            </div>
          <% else %>
            <div class="form__group">
              <button type="submit" class="button" id="soumettre-fichier">
                <%= t('.importer_fichier_nomenclature') %>
              </button>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>


  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_export') %></h3>
    </div>
    <p><%= t('.export_classes') %></p>

    <% if @fichiers_a_telecharger.count > 0 %>
      <p>Historique des fichiers :</p>
      <ul>
        <% @fichiers_a_telecharger.each do |fichier| %>
          <li><%= link_to fichier.created_at.strftime('Le %e/%m/%Y à %Hh%M'), fichier.contenu.url %></li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to t('.telecharger'), export_options_configuration_exports_path, class: 'button' %>
  </div>

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_export_xml') %></h3>
    </div>
    <p><%= t('.explication_export_xml_html') %></p>

    <% if Rails.env.production? && !super_admin?(@agent_connecte) %>
      <p>Nous sommes en train de faire les derniers réglages pour nous assurer que le fichier généré est bien conforme aux spécification de la base élève. Vous devriez bientôt avoir ici un bouton pour télécharger le fichier SIECLE.</p>
    <% else %>
      <%= form_tag  export_siecle_configuration_exports_path, method: :get do |f| %>
        <div>
          <label><%= check_box_tag :limite %>Je souhaite limité l'export aux INE suivant (liste d'INE séparé par une virgule) :</label>
          <%= text_field_tag :liste_ine %>
        </div>
        <button type="submit" class="button"><%= t('.telecharger_xml') %></button>
      <% end %>
    <% end %>
  </div>

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_purge_etablissement') %></h3>
    </div>
    <p><%= t('.message_prevention_purge') %></p>
    <%= link_to(t('.purger_etablissement', etablissement: @agent_connecte.etablissement.nom),
                configuration_etablissement_purge_path(@agent_connecte.etablissement),
                method: :put, data: {confirm: t('.confirmer_purge') },
                id: 'bouton-purge', class: 'button warning') %>
</div>
</section>

<div class="modal__backdrop" id="modal-chargement">
  <div class="modal">
    <h4><%= t('.modal-chargement') %></h4>
  </div>
</div>

<div class="modal__backdrop" id="modal-purge">
  <div class="modal">
    <h4><%= t('.modal_purge') %></h4>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('#soumettre-fichier').click(function () {
    $('#modal-chargement').css('display', 'block')
  })
  $('#bouton-purge').click(function () {
    $('#modal-purge').css('display', 'block')
  })
})
</script>
