<section class="section">
  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_import') %></h3>
    </div>
      <% if @tache.statut != 'en_attente' && @tache.statut != 'en_cours' %>
        <%= form_for TacheImport.new, multipart: true do |form| %>
          <div class="form__group">
            <label>
              <%= form.radio_button :job_klass, 'ImporterSiecle', {checked: true} %>
              <%= t('.fichier_siecle') %>
            </label>
            <label>
              <%= form.radio_button :job_klass, 'ImporterAffelnet' %>
              <%= t('.fichier_affelnet') %>
            </label>
          </div>
          <p class="card-text"><%= t('.selectionner_fichier') %></p>
          <div class="form__group">
            <%= form.file_field :fichier %>
          </div>
          <div class="form__group">
            <button type="submit" class="button" id="soumettre-fichier">
              <%= t('.importer_fichier') %>
            </button>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_purge_etablissement') %></h3>
    </div>
    <p><%= t('.message_prevention_purge') %></p>
    <%= link_to(t('.purger_etablissement', etablissement: @agent_connecté.etablissement.nom),
                configuration_etablissement_purge_path(@agent_connecté.etablissement),
                method: :put, data: {confirm: t('.confirmer_purge') },
                id: 'bouton-purge', class: 'button warning') %>
  </div>
</section>

<div class="modal__backdrop" id="modal-chargement">
  <div class="modal">
    <h4><%= t('.modal-chargement') %></h4>
  </div>
</div>

<div class="modal__backdrop" id="modal-purge">
  <div class="modal">
    <h4><%= t('.modal_purge') %></h4>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#soumettre-fichier').click(function () {
      $('#modal-chargement').css('display', 'block')
    })
    $('#bouton-purge').click(function () {
      $('#modal-purge').css('display', 'block')
    })
  })
</script>
