<div class="col-12 col-md-8">

	<span style="display:block; height: 30px;"></span>

	<h1><%= dossier_eleve.etablissement.nom %></h1>

	<hr>

	<span style="display:block; height: 20px;"></span>

	<p>Le conseil de classe du troisième trimestre a validé le passage en cinquième de votre enfant
		<strong>
			<%= dossier_eleve.eleve.prenom %> <%= dossier_eleve.eleve.nom %>
		</strong>
		au
		<strong id="etablissement">
			<%= dossier_eleve.etablissement.nom %>
		</strong>
		.</p>

	<p>Vous devez maintenant procéder à sa réinscription sur ce site avant le <strong id="date-limite">20 Mai 2018</strong>.</p>

	<p>Cette étape est nécessaire pour choisir les enseignements que votre enfant suivra l'an prochain,
		fournir des pièces administratives et mettre à jour vos coordonnées.</p>
	<span style="display:block; height: 30px;"></span>

	<div class="row justify-content-md-center">
		<form action="/eleve" method="get">
			<button class="btn btn-primary">
				<%= erb :'partials/message_bouton_commencer' %>
			</button>
		</form>
	</div>

</div>
