<%
    premier_prenom = [
        {
          name: "prenom",
          label: "Prénom",
          type: "text",
          value: eleve.prenom,
          indication: "Prénom",
          disabled: false,
          required: 'required'
        }]

    autres_prenoms = [
        {
          name: "prenom_2",
          label: "Deuxième prénom (optionnel)",
          type: "text",
          value: eleve.prenom_2,
          indication: "Deuxième prénom (optionnel)",
          disabled: false
        },
        {
          name: "prenom_3",
          label: "Troisième prénom (optionnel)",
          type: "text",
          value: eleve.prenom_3,
          indication: "Troisième prénom (optionnel)",
          disabled: false
        }]

    reste_identite = [
        {
          name: "nom",
          label: "Nom",
          type: "text",
          value: eleve.nom,
          indication: "Nom",
          disabled: false,
          required: 'required'
        },
        {
          name: "sexe",
          label: "Sexe",
          type: "radio",
          options: ["Féminin", "Masculin"],
          checked: eleve.sexe
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "ville_naiss",
          label: "Ville de naissance",
          type: "text",
          value: eleve.ville_naiss,
          indication: "Ville de naissance",
          disabled: false,
          required: 'required'
        },
        {
          name: "pays_naiss",
          label: "Pays de naissance",
          type: "text",
          value: eleve.pays_naiss,
          indication: "Pays de naissance",
          disabled: false,
          required: 'required'
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "nationalite",
          label: "Pays de nationalité",
          type: "text",
          value: eleve.nationalite,
          indication: "Pays de nationalité",
          disabled: false,
          required: 'required'
        },
        {
          type: "espace",
          hauteur: 10,
        }]

    enseignement_facultatif = [
    {
        name: "latin",
        label: "Langue Vivante 2",
        type: "checkbox",
    }
    ]
%>

<% @section = 1 %>
<%= erb :'partials/navigation' %>

<div class="col-sm-12">

  <p><em>Veuillez corriger les informations incorrectes ou manquantes :</em></p>

  <form action="/eleve"  method="post">

    <h2 class="separation">Identité de l'élève</h2>

    <%= construire premier_prenom %>

    <% if eleve.niveau_classe_ant !~ /5EME/ and eleve.niveau_classe_ant !~ /6EME/ %>
      <%= construire autres_prenoms %>
    <% end %>

    <%= construire reste_identite %>

    <span style="display:block; height: 20px;"></span>

<!--     Options
 -->
      <h3 class="separation">Options choisies précédemment</h3>

      <% eleve.option.sort_by(&:groupe).each do |opt| %>
        <% info = [{
          type: "info",
          label: opt.groupe,
          valeur: opt.nom,
          }]
        %>
        <%= construire info %>
      <% end %>
      <span style="display:block; height: 20px;"></span>

      <h3 class="separation">Vos choix pour l'année prochaine</h3>

      <%= construire eleve.genere_demandes_possibles if eleve.montee.present? %>


    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "accueil"} %>
  </form>
</div>
<script>
  document.getElementById("prenom").focus();
</script>
