<% @section = 3 %>
<%= erb :'partials/navigation' %>

<div class="col-12 col-md-8">

  <h2>Langues vivantes</h2>

  <hr>

  <form>

    <%= erb :'partials/champ_radio', :locals => { :desc => "Langue vivante 1", :variable => "lv1", :options => { :anglais => "Anglais" }, :checked => :anglais }%>

    <%= erb :'partials/champ_radio', :locals => { :desc => "Langue vivante 2", :variable => "lv2", :options => { :allemand => "Allemand", :espagnol => "Espagnol" }, :checked => "" }%>

  </form>

  <span style="display:block; height: 10px;"></span>

  <h2>Options facultatives</h2>

  <hr>

  <form>

    <%= erb :'partials/champ_check_indente', :locals => { :desc => "Classe musicale" }%>

    <%= erb :'partials/champ_check_indente', :locals => { :desc => "Section danse" }%>

  </form>

  <%= erb :'partials/precedent_suivant', :locals => { :precedent => "urgence", :suivant => "regime" } %>

</div><!--/span-->