<% resp_legal_1 = [
    {
        name: "lien_de_parente_rl1",
        label: "Lien de parenté",
        type: "text",
        value: params['lien_de_parente_rl1'],
        indication: "Lien de parenté",
        disabled: false
    },
    {
        name: "prenom_rl1",
        label: "Prénom",
        type: "text",
        value: params['prenom_rl1'],
        indication: "Prénom",
        disabled: false
    },
    {
        name: "nom_rl1",
        label: "Nom",
        type: "text",
        value: params['nom_rl1'],
        indication: "Nom",
        disabled: false
    },
    {   name: "adresse_rl1",
        label: "Adresse",
        type: "text",
        value: params['adresse_rl1'],
        indication: "Numéro et nom de voie",
        disabled: false
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: params['code_postal_rl1'],
        indication: "Code postal",
        disabled: false
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: params['ville_rl1'],
        indication: "Ville",
        disabled: false
    }]
%>

<% @section = 2 %>
<%= erb :'partials/navigation' %>

<div class="col-12">

  <h2 class="separation">Famille (1/3) : Responsable légal 1</h2>

  <form action="/famille" method="POST">

    <%= construire resp_legal_1 %>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_rl1", :valeur => params['tel_principal_rl1'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_rl1", :valeur => params['tel_secondaire_rl1'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_email', :locals => { :desc => "Email principal", :variable => "email_rl1", :valeur => params['email_rl1'], :exemple => "Adresse email" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "situation_emploi_rl1", :options => ["Choisissez...", "Occupe un emploi", "Chômage", "Retraite", "Autre"], :selected => params['situation_emploi_rl1'] } %>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "profession_rl1", :options => ["Choisissez...", "Agriculteur·rice", "Artisan·e", "Commerçant·e", "Professeur·e", "Cadre", "Clergé", "Technicien·ne", "Employé·e", "Ouvrier·ère", "Retraité·e"], :selected => params['profession_rl1'] } %>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre d'enfants à charge en collège ou lycée", :variable => "enfants_a_charge_secondaire_rl1", :valeur => params['enfants_a_charge_secondaire_rl1'], :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre total d'enfants à charge", :variable => "enfants_a_charge_rl1", :valeur => params['enfants_a_charge_rl1'], :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    <span style="display:block; height: 30px;"></span>

    <div class="form-check form-check-inline">
      <label class="form-check-label" >
        <input class="form-check-input" id="communique_info_parents_eleves_rl1_true" type="radio" name="communique_info_parents_eleves_rl1" value="true" <% if params['communique_info_parents_eleves_rl1'] %> checked <% end %>> J'accepte
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communique_info_parents_eleves_rl1" value="false" <% unless params['communique_info_parents_eleves_rl1'] %> checked <% end %>> Je n'accepte pas
      </label>
    </div>

    <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

  <h2 class="mt-5 separation">Famille (2/3) : Responsable légal 2</h2>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Lien de parenté", :variable => "lien_de_parente_rl2", :valeur => params['lien_de_parente_rl2'], :exemple => "Lien de parenté" } %>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_rl2", :valeur => params['prenom_rl2'], :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_rl2", :valeur => params['nom_rl2'], :exemple => "Nom" }%>
    
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-5 col-sm-offset-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="meme_adresse_que_rl1" type="checkbox"> <small>Même adresse que le responsable légal 1</small>
          </label>
        </div>
      </div>
    </div>

    <span style="display:block; height: 5px;"></span>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adresse_rl2", :valeur => params['adresse_rl2'], :exemple => "Numéro et nom de voie" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "code_postal_rl2", :valeur => params['code_postal_rl2'], :exemple => "Code postal" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_rl2", :valeur => params['ville_rl2'], :exemple => "Ville" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_rl2", :valeur => params['tel_principal_rl2'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_rl2", :valeur => params['tel_secondaire_rl2'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_email', :locals => { :desc => "Email principal", :variable => "email_rl2", :valeur => params['email_rl2'], :exemple => "Adresse email" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "situation_emploi_rl2", :options => ["Choisissez...", "Occupe un emploi", "Chômage", "Retraite", "Autre"], :selected => params['situation_emploi_rl2'] } %>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "profession_rl2", :options => ["Choisissez...", "Agriculteur·rice", "Artisan·e", "Commerçant·e", "Professeur·e", "Cadre", "Clergé", "Technicien·ne", "Employé·e", "Ouvrier·ère", "Retraité·e"], :selected => params['profession_rl2'] } %>

    <span style="display:block; height: 30px;"></span>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" id="communique_info_parents_eleves_rl2_true" type="radio" name="communique_info_parents_eleves_rl2" value="true" <% if params['communique_info_parents_eleves_rl2'] %> checked <% end %>> J'accepte
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communique_info_parents_eleves_rl2" value="false" <% unless params['communique_info_parents_eleves_rl2'] %> checked <% end %>> Je n'accepte pas
      </label>
    </div>

    <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

  <h2 class="mt-5 separation">Famille (3/3) : Autre personne à contacter en cas d'urgence</h2>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Lien avec l'élève", :variable => "lien_avec_eleve_urg", :valeur => params['lien_avec_eleve_urg'], :exemple => "Lien avec l'élève" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_urg", :valeur => params['prenom_urg'], :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_urg", :valeur => params['nom_urg'], :exemple => "Nom" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adresse_urg", :valeur => params['adresse_urg'], :exemple => "Numéro et nom de voie" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "code_postal_urg", :valeur => params['code_postal_urg'], :exemple => "Code postal" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_urg", :valeur => params['ville_urg'], :exemple => "Ville" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_urg", :valeur => params['tel_principal_urg'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_urg", :valeur => params['tel_secondaire_urg'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "eleve"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $('#meme_adresse_que_rl1').click(
  function(e){
    if(meme_adresse_que_rl1.checked) {
        console.log($("#adresse_rl2").val())
        $("#adresse_rl2").val($("#adresse_rl1").val());
        $("#code_postal_rl2").val($("#code_postal_rl1").val());
        $("#ville_rl2").val($("#ville_rl1").val());
    }
  })
</script>
<script>
  document.getElementById("lien_de_parente_rl1").focus();
</script>