<% resp_legal_1 = [
    {
        name: "lien_de_parente_rl1",
        label: "Lien de parenté",
        type: "text",
        value: params['lien_de_parente_rl1'],
        indication: "Lien de parenté",
        disabled: false,
        required: 'required'
    },
    {
        name: "prenom_rl1",
        label: "Prénom",
        type: "text",
        value: params['prenom_rl1'],
        indication: "Prénom",
        disabled: false,
        required: 'required'
    },
    {
        name: "nom_rl1",
        label: "Nom",
        type: "text",
        value: params['nom_rl1'],
        indication: "Nom",
        disabled: false,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Adresse",
        type: "libre",
        value: params['adresse_rl1'],
        indication: "Numéro et nom de voie",
        disabled: false,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: params['code_postal_rl1'],
        indication: "Code postal",
        disabled: false,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: params['ville_rl1'],
        indication: "Ville",
        disabled: false,
        required: 'required'
    }]
%>

<% @section = 2 %>
<%= erb :'partials/navigation' %>

<div class="col-12">

  <h2 class="separation">Famille (1/3) : Responsable légal 1</h2>

  <form action="/famille" method="POST">

    <%= construire resp_legal_1 %>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_rl1", :valeur => params['tel_principal_rl1'], :exemple => "Numéro de téléphone", required: 'required' }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_rl1", :valeur => params['tel_secondaire_rl1'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_email', :locals => { :desc => "Email principal", :variable => "email_rl1", :valeur => params['email_rl1'], :exemple => "Adresse email", :required => false }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "situation_emploi_rl1", :options => code_situation.map{ |k, v| v }, :selected => params['situation_emploi_rl1'], :required => "required" } %>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "profession_rl1", :options => code_profession.map{ |k, v| v }, :selected => params['profession_rl1'], :required => "required" } %>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre d'enfants à charge en collège ou lycée", :variable => "enfants_a_charge_secondaire_rl1", :valeur => params['enfants_a_charge_secondaire_rl1'], :exemple => "", longueur_label: 7, longueur_input: 2, required: 'required'}%>

    <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre total d'enfants à charge", :variable => "enfants_a_charge_rl1", :valeur => params['enfants_a_charge_rl1'], :exemple => "", longueur_label: 7, longueur_input: 2, required: 'required' }%>

    <span style="display:block; height: 30px;"></span>

    <div class="form-check form-check-inline">
      <label class="form-check-label" >
        <input class="form-check-input" id="communique_info_parents_eleves_rl1_true" type="radio" name="communique_info_parents_eleves_rl1" value="true" <% if params['communique_info_parents_eleves_rl1'] %> checked <% end %>> J'accepte
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communique_info_parents_eleves_rl1" value="false" <% unless params['communique_info_parents_eleves_rl1'] %> checked <% end %>> Je n'accepte pas
      </label>
    </div>

    <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

<a href="#" id='ajouter_resp_legal_2' class='<%= "d-none" if resp_legal_2.present? %> btn btn-outline-primary' >
    Ajouter un second responsable legal
</a>
<div id='resp_legal_2' class='<%= "d-none" unless resp_legal_2.present? %>' >
  <h2 class="mt-5 separation">Famille (2/3) : Responsable légal 2</h2>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Lien de parenté", :variable => "lien_de_parente_rl2", :valeur => params['lien_de_parente_rl2'], :exemple => "Lien de parenté" } %>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_rl2", :valeur => params['prenom_rl2'], :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_rl2", :valeur => params['nom_rl2'], :exemple => "Nom" }%>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-5 col-sm-offset-4">
        <div class="form-check">
          <label class="form-check-label">
            <div class="btn btn-outline-primary" id="meme_adresse_que_rl1" ><small>Recopier l'adresse du responsable légal 1</small></div>
          </label>
        </div>
      </div>
    </div>

    <span style="display:block; height: 5px;"></span>

    <%= construire [{
          name: "adresse_rl2",
          label: "Adresse",
          type: "libre",
          value: params['adresse_rl2'],
          indication: "Numéro et nom de voie",
          disabled: false,
          required: 'required',
          lines: 3
        }]
    %>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "code_postal_rl2", :valeur => params['code_postal_rl2'], :exemple => "Code postal" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_rl2", :valeur => params['ville_rl2'], :exemple => "Ville" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_rl2", :valeur => params['tel_principal_rl2'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_rl2", :valeur => params['tel_secondaire_rl2'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_email', :locals => { :desc => "Email principal", :variable => "email_rl2", :valeur => params['email_rl2'], :exemple => "Adresse email" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "situation_emploi_rl2", :options => code_situation.map{ |k, v| v }, :selected => params['situation_emploi_rl2'], :required => "#{'required' if params['prenom_rl2'].present? || params['nom_rl2'].present? }"} %>

    <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "profession_rl2", :options => code_profession.map{ |k, v| v }, :selected => params['profession_rl2'], :required => "#{'required' if params['prenom_rl2'].present? || params['nom_rl2'].present? }" } %>

    <span style="display:block; height: 30px;"></span>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" id="communique_info_parents_eleves_rl2_true" type="radio" name="communique_info_parents_eleves_rl2" value="true" <% if params['communique_info_parents_eleves_rl2'] %> checked <% end %>> J'accepte
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="communique_info_parents_eleves_rl2" value="false" <% unless params['communique_info_parents_eleves_rl2'] %> checked <% end %>> Je n'accepte pas
      </label>
    </div>

    <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>
</div>

<a href="#" id='ajouter_contact_urgence' class='<%= "d-none" if contact_urgence.present? %> btn btn-outline-primary' >
    Ajouter un contact en cas d'urgence
</a>
<div id='contact_urgence' class='<%= "d-none" unless contact_urgence.present? %>' >
  <h2 class="mt-5 separation">Famille (3/3) : Autre personne à contacter en cas d'urgence</h2>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Lien avec l'élève", :variable => "lien_avec_eleve_urg", :valeur => params['lien_avec_eleve_urg'], :exemple => "Lien avec l'élève" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_urg", :valeur => params['prenom_urg'], :exemple => "Prénom" }%>

    <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_urg", :valeur => params['nom_urg'], :exemple => "Nom" }%>

    <span style="display:block; height: 30px;"></span>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel_principal_urg", :valeur => params['tel_principal_urg'], :exemple => "Numéro de téléphone" }%>

    <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel_secondaire_urg", :valeur => params['tel_secondaire_urg'], :exemple => "Numéro de téléphone" }%>
</div>
    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "eleve"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var input_email_rl1 = $('input[name=email_rl1]')
  var input_email_rl2 = $('input[name=email_rl2]')
  var span_email = "<span class='span-email' style='font-size: 12px'>Merci de renseigner votre adresse mail, si vous en avez une. L'établissement peut alors vous contacter plus rapidement s'il y a quelque chose à vous signaler concernant votre inscription.</span>"

  if (!input_email_rl1.val() != '' && !input_email_rl2.val() != '') {
    input_email_rl1.css('border', '1px solid orange')
    input_email_rl1.parent().append(span_email)
    input_email_rl2.css('border', '1px solid orange')
    input_email_rl2.parent().append(span_email)
  }

  $('input[type=email]').change( function() {
    input_email_rl1.css('border', '1px solid rgba(0,0,0,.15)')
    input_email_rl2.css('border', '1px solid rgba(0,0,0,.15)')
    $('.span-email').remove()
  })

  $('#meme_adresse_que_rl1').click(function() {
      $("#adresse_rl2").val($("#adresse_rl1").val());
      $("#code_postal_rl2").val($("#code_postal_rl1").val());
      $("#ville_rl2").val($("#ville_rl1").val());
  })
  $('#ajouter_resp_legal_2').click(
    function(e){
        $(this).html('d-none');
        $('#resp_legal_2').removeClass('d-none');
        $('#lien_de_parente_rl2').focus();
        e.preventDefault(); // Empêche un reload de la page
        $('html, body').animate({
            scrollTop: $('#resp_legal_2').offset().top
        }, 1000);
    })
  $('#ajouter_contact_urgence').click(function(e) {
        if ($('#contact_urgence').hasClass('d-none')) {
          console.log('if')
          $(this).html("Ne pas ajouter un contact en cas d'urgence");
          $('#contact_urgence').removeClass('d-none');
          $('#lien_avec_eleve_urg').focus();
          e.preventDefault(); // Empêche un reload de la page
          $('html, body').animate({
              scrollTop: $('#contact_urgence').offset().top
          }, 1000);
        }
        else {
          $(this).html("Ajouter un contact en cas d'urgence");
          $('#contact_urgence').addClass('d-none');
          $('#lien_avec_eleve_urg').focus();
          $("input[name='lien_avec_eleve_urg']").val('');
          $("input[name='prenom_urg']").val('');
          $("input[name='nom_urg']").val('');
          $("input[name='tel_principal_urg']").val('');
          $("input[name='tel_secondaire_urg']").val('');
          $("html, body").animate({
            scrollTop: $(document).height()
          }, 1000);
        }
    })

</script>
<script>
  document.getElementById("lien_de_parente_rl1").focus();
</script>
