<% demarche = "inscription" %>

<% @section = 3 %>

<%= erb :'partials/navigation' %>

<div class="col-12 col-md-8">

			<span style="display:block; height: 50px;"></span>

				<div class="row">
					<div class="col separation"><h2 class="not-first">Cantine</h2></div>
				</div>
			<form action="/administration" method="POST">
				<div id="accordeon-admin-cantine">

					<div class="form-group row">
						<div class="col-sm-6">
							<label class="col-sm-7 form-check-label">
								<input type="radio" name="demi_pensionnaire" value="true" class="form-check-input trigger" onclick="afficher_dp(event)" id='demi_pensionnaire'
								<% if dossier_eleve.demi_pensionnaire %>
						          checked
					            <% end %>> Demi-pensionnaire
							</label>
							<label class="col-sm-4 form-check-label">
								<input type="radio" name="demi_pensionnaire" value="false" class="form-check-input trigger" onclick="masquer_dp(event)" id='externe'
								<% if ! dossier_eleve.demi_pensionnaire %>
						          checked
					            <% end %>> Externe
							</label>
						</div>
					</div>

					<div id="dp" style="display: none;">

						<span style="display:block; height: 20px;"></span>

						<p>Consulter le règlement du service de demi-pension :
							<a href="images/reglement_dp.png" target="_blank"><img src="images/reglement_dp_small.png" alt="règlement demi-pension"></a>
						</p>

						<%= erb :'partials/champ_check', :locals => { :desc => "J'ai lu et j'accepte le règlement du service de
						  demi-pension.", name: 'check_reglement_cantine', condition: dossier_eleve.check_reglement_cantine }%>

						<%= erb :'partials/champ_check', :locals => { :desc => "Je m'engage à régler les frais de demi-pension en
						  respectant les délais impartis inhérents au bon fonctionnement du service.", name: 'check_paiement_cantine',
              condition: dossier_eleve.check_paiement_cantine}%>

						<span style="display:block; height: 10px;"></span>

					</div>
				</div>

				<div class="row">
					<div class="col separation"><h2 class="not-first">Autorisation de sortie</h2></div>
				</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="autorise_sortie" value="true"
								id='autorise_sortie'
								<% if dossier_eleve.autorise_sortie %>
						          checked
					            <% end %>> J'autorise
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="radio" name="autorise_sortie" value="false"
								  <% if !dossier_eleve.autorise_sortie %>
						          checked
                  <% end %>> Je n'autorise pas
							</label>
						</div>

						<p>mon enfant à quitter le collège après le dernier cours de l'après-midi (ou après le repas s'il n'a pas cours l'après-midi), en cas d'absence de professeur et sous mon entière responsabilité.</p>

						<span style="display:block; height: 10px;"></span>


				<div class="row">
					<div class="col separation"><h2 class="not-first">Renseignements médicaux</h2></div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" value='true' name="renseignements_medicaux" onclick="afficher_infos_med(event)" id='renseignements_medicaux'
								<% if dossier_eleve.renseignements_medicaux %>
									checked
								<% end %>> Je souhaite communiquer par écrit une information médicale (si c'est pertinent pour mon enfant)
							</label>
						</div>
					</div>
				</div>

				<span style="display:block; height: 10px;"></span>

				<div class="row">
					<div class="col separation"><h2 class="not-first">Droit à l'image</h2></div>
				</div>

				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" name="droit_image_photo" value="true" id='autorise_photo_de_classe'
						<% if dossier_eleve.autorise_photo_de_classe %>
							checked
						<% end %>> J'accepte
					</label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" name="droit_image_photo" value="false"
						<% if !dossier_eleve.autorise_photo_de_classe %>
							checked
						<% end %>> Je n'accepte pas
					</label>
				</div>

				<p>que mon enfant soit photographié à l'occasion des photos de classe.</p>

				<%= erb :'partials/precedent_suivant', :locals => { :precedent => "famille", :suivant => "pieces_a_joindre" } %>
			</form>

	<span style="display:block; height: 20px;"></span>

</div><!--/span-->

<script>
  if (<%= dossier_eleve.demi_pensionnaire %>) {
      document.querySelector('#dp').style.display = 'block'
  }

	function afficher_dp(e){
		document.querySelector('#dp').style.display = 'block'
	}

	function masquer_dp(e){
		document.querySelector('#dp').style.display = 'none'
	}

	function afficher_reduction_tarif(e){
		document.querySelector('#reduction_tarif').style.display = chk_reduction_tarif.checked ? 'block' : 'none'
	}

	function afficher_infos_med(e){
		document.getElementById("nom_med_traitant").value = meme_adresse_que_med.checked ? "Dr Blanc" : "";
		document.getElementById("adr_med_traitant").value = meme_adresse_que_med.checked ? "23 rue du Pont qui chante" : "";
		document.getElementById("cp_med_traitant").value = meme_adresse_que_med.checked ? "75011" : "";
		document.getElementById("ville_med_traitant").value = meme_adresse_que_med.checked ? "Paris" : "";
		document.getElementById("tel_med_traitant").value = meme_adresse_que_med.checked ? "0156455612" : "";
	}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
