<% @section = 4 %>
<% nb_documents_demandes = dossier_eleve.etablissement.piece_attendue.size %>

<%= erb :'partials/navigation' %>

<div class="col-12">

  <h2 class="separation">Pièces à joindre</h2>

  <form action="/pieces_a_joindre" method="POST" enctype="multipart/form-data">

    <% dossier_eleve.etablissement.piece_attendue.each do |piece| %>
      <% piece_jointe = PieceJointe.find_by(
        piece_attendue_id: piece.id,
        dossier_eleve_id: dossier_eleve.id) %>
      <div class="card-deck col-6">
        <% @document = piece.nom %>
        <% @explication = piece.explication %>
        <% @variable = piece.code %>
        <% @document_stocke_url = piece_jointe.present? ? piece_jointe.clef : '' %>
        <% @dossier_eleve = dossier_eleve %>
        <%= erb :'partials/carte_upload' %>
      </div>
    <% end %>
    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "administration"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= erb :'partials/image_box' %>
<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
<script>
  document.getElementById('<%=dossier_eleve.etablissement.piece_attendue.first.nom%>').focus();
</script>
