<% @section = 4 %>
<% nb_documents_demandes = dossier_eleve.etablissement.piece_attendue.size %>

<%= erb :'partials/navigation' %>

<div class="col-12">

  <h2 class="separation">Pièces à joindre</h2>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>
  <div class='card'>
    <div class='card-body'>
      <p>Les pièces précédées d'un * sont obligatoires.</p>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'>
      <p>Si vous disposez d'un scanner, vous pouvez nous transmettre des documents au format PDF ou image.</p>
      <p>Vous pouvez également utiliser un appareil mobile avec connexion Internet (smartphone, tablette) pour prendre la photo d'un document. <b>Attention,</b> le document doit être pris en entier, à plat, et avec un éclairage suffisant pour que nous puissons le relire.</p>
      <p>Dans ce cas, connectez-vous sur dossiersco.fr, vous serez automatiquement redirigé sur cette page. Pensez à rafraîchir cette page pour visualiser les documents avant de continuer</p>
    </div>
  </div>
  <div class="card-deck row">
    <% dossier_eleve.etablissement.piece_attendue.each do |piece| %>
      <form class="col-6 forms" action="/enregistre_piece_jointe" method="POST" enctype="multipart/form-data">
        <% piece_jointe = PieceJointe.find_by(
          piece_attendue_id: piece.id,
          dossier_eleve_id: dossier_eleve.id) %>
          <% document_stocke_url = piece_jointe.present? ? piece_jointe.clef : '' %>
        <div class="card <%= piece_jointe.etat if piece_jointe.present? %>">
          <h5 class="card-header"><%= '*' if piece.obligatoire %> <%= piece.nom %></h5>
          <p></p>
          <div class="card-body">
            <p class="card-text"><%= piece.explication %></p>
            <div class="card-relat document">

                <input data-btnClass="btn btn-primary" data-text="Parcourir" class='filestyle' type="file" name="<%= piece.code %>" id="<%= @variable %>"
                      multiple >
              <span id="fichier_<%= piece.code %>"></span>
              <br />
              <div class="image-piece-a-joindre lien-piece-jointe" id="image_<%= piece.code %>"
                    <% if document_stocke_url.present?
                        eleve_identifiant = dossier_eleve.nil? ? '' : dossier_eleve.eleve.identifiant
                        document_route = FichierUploader::route_lecture(eleve_identifiant, piece.code)+"/"+document_stocke_url
                        image_url = document_stocke_url.ends_with?('.pdf') ? "/images/document-pdf.png" : document_route
                      %>
                      style="background-image: url('<%= image_url %>'); height: 200px; max-width: 350px;"
                      data-toggle="modal"
                      data-target="#modal-pieces-jointes"
                      data-url="<%= document_route %>"
                      data-ext="<%= piece_jointe.ext %>"
                    <% end %>>
              </div>
            </div>
            <p><%=
              case piece_jointe.etat
              when 'soumis'
                "Votre document est transmis à l'établissement."
              when 'invalide'
                "Votre document ne peut pas être pris en compte par l'établissement pour cette inscription. Merci de prendre connaissance du message de l'établissement et nous fournir une nouvelle version de ce document."
              when 'valide'
                "Votre document a été examiné et approuvé par l'établissement."
              else
              end if piece_jointe.present?
              %></p>
          </div>
          <button class="soumettre d-none" type="submit">Soumettre</button>
        </div>

      </form>
    <% end %>
  </div>
  <form action="/pieces_a_joindre" method='POST'>
    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "famille"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= erb :'partials/image_box' %>
<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
<script>
  $(document).ready(function() {
    $('input[type=file]')[0].focus();

    $('.forms').change(function() {
      var data = $(this).serialize()
      $(this).find( ".soumettre" ).click()
      $("button[type='submit']").attr("disabled", "disabled").addClass('disabled')
    })
  });
</script>
