<% demarche = "inscription" %>
<% @section = 5 %>

<%= erb :'partials/navigation' %>

<div class="col-12">

	<h2 class="separation">Validation</h2>

	<% if demarche == "inscription" %>
		<p>Le dossier d'inscription de votre enfant <strong><%= "#{eleve.prenom} #{eleve.nom}"%></strong> pour son entrée en 4ème au <strong><%= dossier_eleve.etablissement.nom %></strong>  est complet.</p>
		<p>Veuillez vérifier les informations ci-dessous, puis validez l'inscription.</p>
	<% else %>
		<p>Le dossier de réinscription de votre enfant <strong><%= "#{eleve.prenom} #{eleve.nom}"%></strong> pour son passage en 4ème au <strong><%= dossier_eleve.etablissement.nom %></strong> est complet.</p>
		<p>Veuillez vérifier les informations ci-dessous, puis validez la réinscription.</p>
	<% end %>

	<div class="card">
		<div class="card-body">
			<div class="row mb-2">
				<div class="col-3">
					<strong>Langue vivante 2</strong>
				</div>
				<div class="col-4">
					<%#= eleve.lv2 %>
				</div>
				<div class="col-3">
					<a href="/eleve">
						<button class="btn btn-outline-secondary btn-sm">Modifier</button>
					</a>
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-3">
					<strong>Restaurant scolaire</strong>
				</div>
				<div class="col-4">
					Demi-pensionnaire
				</div>
				<div class="col-3">
					<a href="/administration">
						<button class="btn btn-outline-secondary btn-sm">Modifier</button>
					</a>
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-3">
					<strong>Sortie</strong>
				</div>
				<div class="col-4">
					Autorisé
				</div>
				<div class="col-3">
					<a href="/administration">
						<button class="btn btn-outline-secondary btn-sm">Modifier</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<%= erb :'partials/champ_check', locals: { desc: "Je certifie sur l'honneur l'exactitude des informations communiquées et m'engage à tenir le collège informé de tout changement de situation ou de coordonnées.",
	name: 'certifie_sur_honneur', condition: false }%>

	<div class="row mt-5">
		<div class="mx-auto">
			<a href="/confirmation">
				<% if demarche == "inscription" %>
					<button class="btn btn-primary">Valider l'inscription</button>
				<% else %>
					<button class="btn btn-primary">Valider la réinscription</button>
				<% end %>
			</a>
		</div>
	</div>
</div>