<% demarche = "inscription" %>
<% @section = 5 %>

<% @section = 5 %>
<%= erb :'partials/navigation' %>

<div class="col-12">

	<h2 class="separation">Validation</h2>

		<p>Le dossier d'inscription de votre enfant <strong><%= "#{eleve.prenom} #{eleve.nom}"%></strong> pour son entrée en <%= eleve.niveau_classe_ant[0].to_i - 1 %>ème au <strong><%= dossier_eleve.etablissement.nom %></strong>  est complet.</p>
		<p>Veuillez vérifier les informations ci-dessous, puis validez l'inscription.</p>


	<div class="card">
		<div class="card-body">
			<% eleve.demande.each do |demande| %>
				<div class="row mb-2">
					<div class="col-3">
						<strong><%= demande.option.groupe.present? ? demande.option.groupe : 'demande' %></strong>
					</div>
					<div class="col-4">
						Je demande l'inscription à l'option <%= demande.option.nom %>
					</div>
					<div class="col-3">
						<a id='modifier-<%=demande.option.nom%>' href="/eleve">
							<div class="btn btn-outline-secondary btn-sm">Modifier</div>
						</a>
					</div>
				</div>
			<% end %>
			<% eleve.abandon.each do |abandon| %>
				<div class="row mb-2">
					<div class="col-3">
						<strong><%= abandon.option.groupe.present? ? abandon.option.groupe : 'abandon' %></strong>
					</div>
					<div class="col-4">
						Je souhaite me désister de l'option <%= abandon.option.nom %>
					</div>
					<div class="col-3">
						<a id='modifier-<%=abandon.option.nom%>' href="/eleve">
							<div class="btn btn-outline-secondary btn-sm">Modifier</div>
						</a>
					</div>
				</div>
			<% end %>

			<div class="row mb-2">
				<div class="col-3">
					<strong>Restaurant scolaire</strong>
				</div>
				<div class="col-4">
					<%= dossier_eleve.demi_pensionnaire ? 'Demi-pensionnaire' : 'Externe' %>
				</div>
				<div class="col-3">
					<a id='demi-pensionnaire' href="/administration">
						<div class="btn btn-outline-secondary btn-sm">Modifier</div>
					</a>
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-3">
					<strong>Sortie</strong>
				</div>
				<div class="col-4">
					<%= dossier_eleve.autorise_sortie ? 'Autorisé' : 'Non autorisé' %>
				</div>
				<div class="col-3">
					<a href="/administration">
						<div class="btn btn-outline-secondary btn-sm">Modifier</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<form action='/validation' method='POST'>

		<%= erb :'partials/champ_check', locals: { desc: "En tant que responsable légal de #{dossier_eleve.eleve.prenom}, je certifie sur l'honneur l'exactitude des informations communiquées et m'engage à tenir le collège informé de tout changement de situation ou de coordonnées.",
		name: 'signature', condition: dossier_eleve.signature }%>

		<div class="row mt-5">
			<div class="mx-auto">
				<button type='submit' class="btn btn-primary">Valider l'inscription</button>
			</div>
		</div>
	</form>

</div>
<script>
	<% if eleve.option.first %>
  	document.getElementById('modifier-<%=eleve.option.first.nom%>').focus();
  <% else %>
  	document.getElementById('demi-pensionnaire').focus();
  <% end %>
</script>