<% demarche = "inscription" %>
<% @section = 6 %>

<%= erb :'partials/navigation' %>

<div class="col-12">

  <% if demarche == "inscription" %>
    <h2 class="separation">Inscription validée</h2>
  <% else %>
    <h2 class="separation">Réinscription validée</h2>
  <% end %>

  <p>Nous avons envoyé un mail de confirmation aux adresses suivantes :</p>

  <ul>
    <% dossier_eleve.resp_legal.each do |resp_legal| %>
      <%= "<li>#{resp_legal.email}</li>" if resp_legal.email.present? %>
    <% end %>
  </ul>

  <% if demarche == "inscription" %>
    <p><strong>Information :</strong> nous invitons les parents qui souhaitent visiter le collège et rencontrer nos équipes à une soirée de bienvenue le vendredi 30 juin de 17h à 20h.</p>
  <% end %>

  <p class='mb-5'>A bientôt au <%= dossier_eleve.etablissement.nom %> !</p>

  <div id="message_validation" class="message_de_succes" style="display: none;">Merci pour votre retour</div>

  <div class="row justify-content-md-center">
    <p><small>Qu'avez-vous pensé de cette nouvelle plateforme ?</small></p>
  </div>

  <div class="row justify-content-md-center">
    <% satisfaction = {1 => 'Très insatisfait', 2 => 'Insatisfait', 3 => 'Neutre', 4 => 'Satisfait', 5 => 'Très satisfait'} %>
    <% satisfaction.each do |note, commentaire| %>
      <% nom_fichier = commentaire.gsub(' ', '_').gsub('è', 'e').downcase %>
      <img class="smiley-satisfaction" src="images/<%= nom_fichier %>.png" data-note="<%= note %>"
           alt="<%= commentaire %>" title="<%= commentaire %>">
    <% end %>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $('.smiley-satisfaction').click(function() {
          var note = $(this).data('note');
          $.ajax({
              method: "POST",
              url: "/satisfaction",
              data: { note: note},
              success : function() {
                  $('#message_validation').show('slow')
              }
          });
      })
  })
</script>