<% demarche = "reinscription" %>
<% @section = 6 %>

<%= erb :'partials/navigation' %>

<div class="col-12">

  <% if demarche == "inscription" %>
    <h2 class="separation">Inscription validée</h2>
  <% else %>
    <h2 class="separation">Réinscription validée</h2>
  <% end %>

  <p>Vous recevrez prochainement un courriel de confirmation aux adresses suivantes :</p>

  <ul>
    <% dossier_eleve.resp_legal.each do |resp_legal| %>
      <%= "<li>#{resp_legal.email}</li>" if resp_legal.email.present? %>
    <% end %>
  </ul>

  <p class='mb-5'>A bientôt au <%= dossier_eleve.etablissement.nom %> !</p>

  <div id='question-satisfaction' class="row justify-content-md-center">
    <p><small>Qu'avez-vous pensé de cette nouvelle plateforme ?</small></p>
  </div>

  <div id='satisfaction' class="row justify-content-center">
    <% satisfaction = {1 => 'Très insatisfait', 2 => 'Insatisfait', 3 => 'Neutre', 4 => 'Satisfait', 5 => 'Très satisfait'} %>
    <% satisfaction.each do |note, commentaire| %>
      <% nom_fichier = commentaire.gsub(' ', '_').gsub('è', 'e').downcase %>
      <a class="smiley-satisfaction" href='#' data-note="<%= note %>">
        <img src="images/<%= nom_fichier %>.png"
             alt="<%= commentaire %>" title="<%= commentaire %>">
      </a>
    <% end %>
  </div>
  <div id='commentaire' class='d-none mt-3'>
      <textarea id='commentaire-textarea' name='commentaire' class="form-control"></textarea>
      <input id='envoyer-commentaire' value='Envoyer' type='submit' class='btn btn-primary mt-2'/>
  </div>
  <div id="merci_pour_commentaire" class="message_de_succes" style="display: none;">Merci pour votre commentaire</div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $('.smiley-satisfaction').click(function() {
          var note = $(this).data('note');
          $.ajax({
              method: "POST",
              url: "/satisfaction",
              data: { note: note},
              success : function() {
                  $('#message_validation').show('slow')
              }
          });
          $('#commentaire').removeClass('d-none');
          $('#commentaire-textarea').focus();
      })
      $('#envoyer-commentaire').click(function() {
        var commentaire = $('#commentaire-textarea').val();
        $.ajax({
            method: "POST",
            url: "/commentaire",
            data: { commentaire: commentaire},
            success : function() {
              $('#satisfaction').hide('slow')
              $('#question-satisfaction').hide('slow')
              $('#commentaire').addClass('d-none');
              $('#merci_pour_commentaire').show('slow')
            }
        })
      });
      $('.smiley-satisfaction:last').focus();
  })
</script>
