<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>

  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <div class="col-12 col-md-8">

        <%= erb :'partials/nav2' %>

        <h2>Identité de l'élève</h2>

        <hr>

        <form>

          <%= erb :'partials/form_brick', :locals => { :name => "Prenom", :desc => "Prénom", :value => "Etienne", :example => "Prénom", :type =>"text" }%>

          <%= erb :'partials/form_brick', :locals => { :name => "NomDeFamille", :desc => "Nom de famille", :value => "Puydebois", :example => "Nom de famille", :type =>"text" }%>

          <div class="form-group row">
            <label for="inputSexe" class="col-sm-3 col-form-label">Sexe</label>
            <div class="col-sm-6">
              <label class="col-sm-4 form-check-label">
                <input type="radio" class="form-check-input" name="sexeOptions" id="feminin" value="feminin"> Féminin
              </label>
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="sexeOptions" id="masculin" value="masculin" checked> Masculin
              </label>  
            </div>
          </div>

          <%= erb :'partials/form_brick', :locals => { :name => "DateDeNaissance", :desc => "Né le", :value => "1995-11-19", :example => "", :type =>"date" }%>
          
          <%= erb :'partials/form_brick', :locals => { :name => "VilleDeNaissance", :desc => "à", :value => "Béziers", :example => "Ville de naissance", :type =>"text" }%>

          <%= erb :'partials/form_brick', :locals => { :name => "PaysDeNaissance", :desc => "pays", :value => "France", :example => "Pays de naissance", :type =>"text" }%>

          <%= erb :'partials/form_brick', :locals => { :name => "Nationalite", :desc => "Nationalité", :value => "française", :example => "Nationalité", :type =>"text" }%>

          <%= erb :'partials/form_brick', :locals => { :name => "Telephone", :desc => "Téléphone", :value => "0646348158", :example => "Numéro de téléphone", :type =>"number" }%>

          <%= erb :'partials/form_brick', :locals => { :name => "Email", :desc => "Email", :value => "etienne.puydebois@beta.gouv.fr", :example => "Email", :type => "email" }%>

        </form>

          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-3">
              <form action="/eleve_scolarite_anterieure" method="post">
                <button class="btn btn-primary btn-continuer">Continuer</button>
              </form>
            </div>
          </div>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>
</html>