<% form_resp_legal_1 = [
  {
    name: "lien_de_parente_rl1",
    label: "Lien de parenté",
    type: "dropdown",
    selected: resp_legal_1.lien_de_parente,
    disabledw: false,
    options: lien_de_parentes,
    required: 'required'
  },
  {
    name: "prenom_rl1",
    label: "Prénom",
    type: "text",
    value: resp_legal_1.prenom,
    indication: "Prénom",
    disabled: false,
    required: 'required'
  },
  {
    name: "nom_rl1",
    label: "Nom",
    type: "text",
    value: resp_legal_1.nom,
    indication: "Nom",
    disabled: false,
    required: 'required'
  },
  {
    name: "adresse_rl1",
    label: "Adresse",
    type: "libre",
    value: resp_legal_1.adresse,
    indication: "Numéro et nom de voie",
    disabled: false,
    required: 'required',
    lines: 3
  },
  {
    name: "code_postal_rl1",
    label: "Code postal",
    type: "text",
    value: resp_legal_1.code_postal,
    indication: "Code postal",
    disabled: false,
    required: 'required'
  },
  {
    name: "ville_rl1",
    label: "Ville",
    type: "text",
    value: resp_legal_1.ville,
    indication: "Ville",
    disabled: false,
    required: 'required'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "tel_principal_rl1",
    label: "Téléphone principal",
    type: "tel",
    value: resp_legal_1.tel_principal,
    indication: "Numéro de téléphone",
    required: 'required'
  },
  {
    name: "tel_secondaire_rl1",
    label: "Téléphone secondaire",
    type: "tel",
    value: resp_legal_1.tel_secondaire,
    indication: "Numéro de téléphone",
  },
  {
    name: "email_rl1",
    label: "Email principal",
    type: "tel",
    value: resp_legal_1.email,
    indication: "Adresse email",
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "situation_emploi_rl1",
    label: "Situation emploi",
    type: "dropdown",
    options: code_situation.map{ |k, v| v },
    selected: resp_legal_1.situation_emploi,
    required: 'required'
  },
  {
    name: "profession_rl1",
    label: "Profession",
    type: "dropdown",
    options: code_profession.map{ |k, v| v },
    selected: resp_legal_1.profession,
    required: 'required'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "enfants_a_charge_secondaire_rl1",
    label: "Nombre d'enfants à charge en collège ou lycée",
    type: "text_custom",
    value: resp_legal_1.enfants_a_charge_secondaire,
    longueur_label: 7,
    longueur_input: 2,
    indication: '',
    required: 'required'
  },
  {
    name: "enfants_a_charge_rl1",
    label: "Nombre total d'enfants à charge",
    type: "text_custom",
    value: resp_legal_1.enfants_a_charge,
    longueur_label: 7,
    longueur_input: 2,
    indication: '',
    required: 'required'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    label: "que ces coordonnées soient communiquées aux fédérations de parents d'élèves.",
    name: 'communique_info_parents_eleves_rl1',
    type: 'radio_inverse',
    options: {"J'accepte": true, "Je n'accepte pas": false},
    checked: resp_legal_1.communique_info_parents_eleves
  }]

if resp_legal_2
form_resp_legal_2 = [
  {
    name: "lien_de_parente_rl2",
    label: "Lien de parenté",
    type: "dropdown",
    selected: resp_legal_2.lien_de_parente,
    disabled: false,
    options: lien_de_parentes,
    required: 'required'
  },
  {
    name: "prenom_rl2",
    label: "Prénom",
    type: "text",
    value: resp_legal_2.prenom,
    indication: "Prénom",
    disabled: false,
    required: 'required'
  },
  {
    name: "nom_rl2",
    label: "Nom",
    type: "text",
    value: resp_legal_2.nom,
    indication: "Nom",
    disabled: false,
    required: 'required'
  }
]

fin_form_resp_legal_2 = [
  {
    name: "adresse_rl2",
    label: "Adresse",
    type: "libre",
    value: resp_legal_2.adresse,
    indication: "Numéro et nom de voie",
    disabled: false,
    required: 'required',
    lines: 3
  },
  {
    name: "code_postal_rl2",
    label: "Code postal",
    type: "text",
    value: resp_legal_2.code_postal,
    indication: "Code postal",
    disabled: false,
    required: 'required'
  },
  {
    name: "ville_rl2",
    label: "Ville",
    type: "text",
    value: resp_legal_2.ville,
    indication: "Ville",
    disabled: false,
    required: 'required'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "tel_principal_rl2",
    label: "Téléphone principal",
    type: "tel",
    value: resp_legal_2.tel_principal,
    indication: "Numéro de téléphone",
    required: 'required'
  },
  {
    name: "tel_secondaire_rl2",
    label: "Téléphone secondaire",
    type: "tel",
    value: resp_legal_2.tel_secondaire,
    indication: "Numéro de téléphone",
  },
  {
    name: "email_rl2",
    label: "Email principal",
    type: "tel",
    value: resp_legal_2.email,
    indication: "Adresse email",
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "situation_emploi_rl2",
    label: "Situation emploi",
    type: "dropdown",
    options: code_situation.map{ |k, v| v },
    selected: resp_legal_2.situation_emploi,
    required: 'required'
  },
  {
    name: "profession_rl2",
    label: "Profession",
    type: "dropdown",
    options: code_profession.map{ |k, v| v },
    selected: resp_legal_2.profession,
    required: 'required'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    label: "que ces coordonnées soient communiquées aux fédérations de parents d'élèves.",
    name: 'communique_info_parents_eleves_rl2',
    type: 'radio_inverse',
    options: {"J'accepte": true, "Je n'accepte pas": false},
    checked: resp_legal_2.communique_info_parents_eleves
  }]
end

if contact_urgence
form_contact_urgence = [
  {
    name: "lien_avec_eleve_urg",
    label: "Lien avec l'élève",
    type: "text",
    value: contact_urgence.lien_avec_eleve,
    indication: "Lien avec l'élève",
    disabled: false
  },
  {
    name: "prenom_urg",
    label: "Prénom",
    type: "text",
    value: contact_urgence.prenom,
    indication: "Prénom",
    disabled: false
  },
  {
    name: "nom_urg",
    label: "Nom",
    type: "text",
    value: contact_urgence.nom,
    indication: "Nom",
    disabled: false
  },
  {
    type: 'espace',
    hauteur: '30'
  },
  {
    name: "tel_principal_urg",
    label: "Téléphone principal",
    type: "tel",
    value: contact_urgence.tel_principal,
    indication: "Numéro de téléphone",
  },
  {
    name: "tel_secondaire_urg",
    label: "Téléphone secondaire",
    type: "tel",
    value: contact_urgence.tel_secondaire,
    indication: "Numéro de téléphone",
  },
]
end
%>

<% @section = 2 %>
<%= erb :'partials/navigation', locals: { dossier_eleve: dossier_eleve } %>

<div class="col-12">

  <h2 class="separation">Famille : Responsable légal<%= " 1" if resp_legal_2.present?%></h2>

  <form action="/famille" method="POST">

    <%= construire form_resp_legal_1 %>

<% if resp_legal_2 %>
<div id='resp_legal_2' class='<%= "d-none" unless resp_legal_2.present? %>' >
  <h2 class="mt-5 separation">Famille : Responsable légal 2</h2>

    <%= construire form_resp_legal_2 %>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-5 col-sm-offset-4">
        <div class="form-check">
          <label class="form-check-label">
            <div class="btn btn-outline-primary" id="meme_adresse_que_rl1" ><small>Recopier l'adresse du responsable légal 1</small></div>
          </label>
        </div>
      </div>
    </div>

    <span style="display:block; height: 5px;"></span>

    <%= construire fin_form_resp_legal_2 %>

</div>
<% end %>

<a href="#" id='ajouter_contact_urgence' class='<%= "d-none" if contact_urgence.present? && !contact_urgence.nom.empty? %> btn btn-outline-primary' >
    Ajouter un contact en cas d'urgence
</a>
<div id='contact_urgence' class='<%= "d-none" unless contact_urgence.present? && !contact_urgence.nom.empty? %>' >
  <h2 class="mt-5 separation">Famille : Autre personne à contacter en cas d'urgence</h2>

  <% if contact_urgence %>
    <%= construire form_contact_urgence %>
  <% end %>
</div>
    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "eleve"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var input_email_rl1 = $('input[name=email_rl1]')
  var input_email_rl2 = $('input[name=email_rl2]')
  var span_email = "<span class='span-email' style='font-size: 12px'>Merci de renseigner votre adresse mail, si vous en avez une. L'établissement peut alors vous contacter plus rapidement s'il y a quelque chose à vous signaler concernant votre inscription.</span>"

  if (!input_email_rl1.val() != '' && !input_email_rl2.val() != '') {
    input_email_rl1.css('border', '1px solid orange')
    input_email_rl1.parent().append(span_email)
    input_email_rl2.css('border', '1px solid orange')
    input_email_rl2.parent().append(span_email)
  }

  $('input[type=email]').change( function() {
    input_email_rl1.css('border', '1px solid rgba(0,0,0,.15)')
    input_email_rl2.css('border', '1px solid rgba(0,0,0,.15)')
    $('.span-email').remove()
  })

  $('#meme_adresse_que_rl1').click(function() {
      $("#adresse_rl2").val($("#adresse_rl1").val());
      $("#code_postal_rl2").val($("#code_postal_rl1").val());
      $("#ville_rl2").val($("#ville_rl1").val());
  })
  $('#ajouter_contact_urgence').click(function(e) {
        if ($('#contact_urgence').hasClass('d-none')) {
          $(this).html("Ne pas ajouter un contact en cas d'urgence");
          $('#contact_urgence').removeClass('d-none');
          $('#lien_avec_eleve_urg').focus();
          e.preventDefault(); // Empêche un reload de la page
          $('html, body').animate({
              scrollTop: $('#contact_urgence').offset().top
          }, 1000);
        }
        else {
          $(this).html("Ajouter un contact en cas d'urgence");
          $('#contact_urgence').addClass('d-none');
          $('#lien_avec_eleve_urg').focus();
          $("input[name='lien_avec_eleve_urg']").val('');
          $("input[name='prenom_urg']").val('');
          $("input[name='nom_urg']").val('');
          $("input[name='tel_principal_urg']").val('');
          $("input[name='tel_secondaire_urg']").val('');
          $("html, body").animate({
            scrollTop: $(document).height()
          }, 1000);
        }
    })

</script>
<script>
  document.getElementById("lien_de_parente_rl1").focus();
</script>
