<% @section = 2 %>
<%= erb :'partials/navigation' %>

<div class="col-12 col-md-8">

      <span style="display:block; height: 80px;"></span>

      <a data-toggle="collapse" data-parent="#accordeon-admin" href="#accordeon-admin-regime" aria-expanded="false" aria-controls="accordeon-admin-regime">

        <div class="row posit-relat">
          <div class="col"><h2 class="not-first">Représentant légal 1</h2></div>
          <div class="col posit-absol"><img src="images/chevron_bas.png" alt="déplier" title="déplier"></div>
        </div>
        <hr>
      </a>
      <div id="accordeon-admin-regime" class="collapse" role="tabpanel">
        <form>

	        <div class="row">
	          <div class="col">
	            <div class="form-check">
	              <label class="form-check-label">
	                <input class="form-check-input" id="meme_adresse_que_rl1" type="checkbox" checked="" onclick="afficher_infos_rl1(event)"> Le Représentant légal 1 est le même que l'année dernière
	              </label>
	            </div>
	          </div>
	        </div>

	      <span style="display:block; height: 20px;"></span>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_rl1", :valeur => "Catherine", :exemple => "Prénom" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_rl1", :valeur => "Puydebois", :exemple => "Nom" }%>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation familiale", :variable => "lien_parente_rl1", :options => ["Mariée", "Célibataire", "Pacsée", "Séparée", "Divorcée", "Veuve", "Choisissez..."], :selected => "" } %>

    	  <span style="display:block; height: 30px;"></span>

		  <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adr1_rl1", :valeur => "4 Place de la Nation", :exemple => "Numéro et nom de voie" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "cp_rl1", :valeur => "75012", :exemple => "Code postal" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_rl1", :valeur => "Paris", :exemple => "Ville" }%>

    	  <span style="display:block; height: 30px;"></span>

    	  <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel1_rl1", :valeur => "0645478251", :exemple => "Numéro de téléphone" }%>

    	  <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel2_rl1", :valeur => "0146354535", :exemple => "Numéro de téléphone" }%>

    	  <%= erb :'partials/champ_email', :locals => { :desc => "Adresse email", :variable => "mail_rl1", :valeur => "catherine@example.fr", :exemple => "Adresse email" }%>

    	  <span style="display:block; height: 30px;"></span>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "sit_emploi_rl1", :options => ["Occupe un emploi", "Chômage", "Retraite", "Autre", "Choisissez..."], :selected => "" } %>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "emploi_rl1", :options => ["Commerçant·e", "Agriculteur·rice", "Artisan·e", "Professeur·e", "Cadre", "Clergé", "Technicien·ne", "Employé·e", "Ouvrier·ère", "Retraité·e", "Choisissez..."], :selected => "" } %>

    	  <span style="display:block; height: 30px;"></span>

    	  <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre d'enfants à charge en collège ou lycée", :variable => "charge_sec_rl1", :valeur => "", :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    	  <%= erb :'partials/champ_texte_custom', :locals => { :desc => "Nombre total d'enfants à charge", :variable => "charge_tot_rl1", :valeur => "", :exemple => "", longueur_label: 7, longueur_input: 2 }%>

    	  <span style="display:block; height: 20px;"></span>

    	  <div class="form-check form-check-inline">
    	    <label class="form-check-label">
    	      <input class="form-check-input" type="radio" name="autorisation_sortie" value="oui"> J'accepte
    	    </label>
    	  </div>
    	  <div class="form-check form-check-inline">
    	    <label class="form-check-label">
    	      <input class="form-check-input" type="radio" name="autorisation_sortie" value="non"> Je n'accepte pas
    	    </label>
    	  </div>

    	  <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

    	  <span style="display:block; height: 20px;"></span>
      
        </form>
      </div>

      <a data-toggle="collapse" data-parent="#accordeon-admin" href="#accordeon-admin-sortie" aria-expanded="false" aria-controls="accordeon-admin-sortie">

        <div class="row posit-relat">
          <div class="col"><h2 class="not-first">Représentant légal 2</h2></div>
          <div class="col posit-absol"><img src="images/chevron_bas.png" alt="déplier" title="déplier"></div>
        </div>
        <hr>
      </a>
      <div id="accordeon-admin-sortie" class="collapse" role="tabpanel">
        <p class="mb-3">

          <form>

	        <div class="row">
	          <div class="col">
	            <div class="form-check">
	              <label class="form-check-label">
	                <input class="form-check-input" id="meme_adresse_que_rl2" type="checkbox" checked="" onclick="afficher_infos_rl2(event)"> Le Représentant légal 2 est le même que l'année dernière
	              </label>
	            </div>
	          </div>
	        </div>

	      <span style="display:block; height: 20px;"></span>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_rl2", :valeur => "Hubert", :exemple => "Prénom" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_rl2", :valeur => "Puydebois", :exemple => "Nom" }%>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation familiale", :variable => "lien_parente_rl2", :options => ["Marié", "Célibataire", "Pacsé", "Séparé", "Divorcé", "Veuf", "Choisissez..."], :selected => "Marié" } %>

    	  <span style="display:block; height: 30px;"></span>

		  <%= erb :'partials/champ_texte', :locals => { :desc => "Adresse", :variable => "adr1_rl2", :valeur => "4 Place de la Nation", :exemple => "Numéro et nom de voie" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Code postal", :variable => "cp_rl2", :valeur => "75012", :exemple => "Code postal" }%>

    	  <%= erb :'partials/champ_texte', :locals => { :desc => "Ville", :variable => "ville_rl2", :valeur => "Paris", :exemple => "Ville" }%>

    	  <span style="display:block; height: 30px;"></span>

    	  <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel1_rl2", :valeur => "0675364223", :exemple => "Numéro de téléphone" }%>

    	  <%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel2_rl2", :valeur => "0146354535", :exemple => "Numéro de téléphone" }%>

    	  <%= erb :'partials/champ_email', :locals => { :desc => "Adresse email", :variable => "mail_rl2", :valeur => "hubert@example.fr", :exemple => "Adresse email" }%>

    	  <span style="display:block; height: 30px;"></span>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Situation emploi", :variable => "sit_emploi_rl2", :options => [ "Choisissez...", "Occupe un emploi", "Chômage", "Retraite", "Autre"], :selected => "Occupe un emploi" } %>

    	  <%= erb :'partials/champ_dropdown', :locals => { :desc => "Profession", :variable => "emploi_rl2", :options => ["Choisissez...", "Commerçant·e", "Agriculteur·rice", "Artisan·e", "Professeur·e", "Cadre", "Clergé", "Technicien·ne", "Employé·e", "Ouvrier·ère", "Retraité·e"], :selected => "Technicien·ne" } %>

    	  <span style="display:block; height: 20px;"></span>

    	  <div class="form-check form-check-inline">
    	    <label class="form-check-label">
    	      <input class="form-check-input" type="radio" name="autorisation_sortie" value="oui"> J'accepte
    	    </label>
    	  </div>
    	  <div class="form-check form-check-inline">
    	    <label class="form-check-label">
    	      <input class="form-check-input" type="radio" name="autorisation_sortie" value="non"> Je n'accepte pas
    	    </label>
    	  </div>

    	  <p>que ces coordonnées soient communiquées aux fédérations de parents d'élèves.</p>

    	  <span style="display:block; height: 20px;"></span>

          </form>
        </p>
      </div>

      <a data-toggle="collapse" data-parent="#accordeon-admin" href="#accordeon-admin-medical" aria-expanded="false" aria-controls="accordeon-admin-medical">

        <div class="row posit-relat">
          <div class="col"><h2 class="not-first">Autre personne à contacter en cas d'urgence</h2></div>
          <div class="col posit-absol"><img src="images/chevron_bas.png" alt="déplier" title="déplier"></div>
        </div>
        <hr>
      </a>
      <div id="accordeon-admin-medical" class="collapse" role="tabpanel">
        <p class="mb-3">

          <form>

          	<div class="row">
          	  <div class="col">
          	    <div class="form-check">
          	      <label class="form-check-label">
          	        <input class="form-check-input" id="meme_adresse_que_urg" type="checkbox" checked="" onclick="afficher_infos_urg(event)"> La personne à contacter en cas d'urgence est la même que l'année dernière
          	      </label>
          	    </div>
          	  </div>
          	</div>

        	<span style="display:block; height: 20px;"></span>

          	<%= erb :'partials/champ_texte', :locals => { :desc => "Lien avec l'élève", :variable => "lien_elv_urg", :valeur => "Oncle", :exemple => "Lien avec l'élève" }%>

          	<%= erb :'partials/champ_texte', :locals => { :desc => "Prénom", :variable => "prenom_urg", :valeur => "Louis", :exemple => "Prénom" }%>

          	<%= erb :'partials/champ_texte', :locals => { :desc => "Nom", :variable => "nom_urg", :valeur => "Piaf", :exemple => "Nom" }%>

          	<span style="display:block; height: 30px;"></span>

          	<%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone principal", :variable => "tel1_urg", :valeur => "0654341817", :exemple => "Numéro de téléphone" }%>

          	<%= erb :'partials/champ_tel', :locals => { :desc => "Téléphone secondaire", :variable => "tel2_urg", :valeur => "0156879892", :exemple => "Numéro de téléphone" }%>
            
          </form>

        </p>
      </div>

  <span style="display:block; height: 20px;"></span>

  <%= erb :'partials/precedent_suivant', :locals => { :precedent => "r1", :suivant => "r3" } %>

</div><!--/span-->

<script>

	function afficher_infos_rl1(e){
	  document.getElementById("prenom_rl1").value = meme_adresse_que_rl1.checked ? "Catherine" : "";
	  document.getElementById("nom_rl1").value = meme_adresse_que_rl1.checked ? "Puydebois" : "";
	  document.getElementById("lien_parente_rl1").value = meme_adresse_que_rl1.checked ? "Mariée" : "Choisissez...";
	  document.getElementById("adr1_rl1").value = meme_adresse_que_rl1.checked ? "4 Place de la Nation" : "";
	  document.getElementById("cp_rl1").value = meme_adresse_que_rl1.checked ? "75012" : "";
	  document.getElementById("ville_rl1").value = meme_adresse_que_rl1.checked ? "Paris" : "";
	  document.getElementById("tel1_rl1").value = meme_adresse_que_rl1.checked ? "0645478251" : "";
	  document.getElementById("tel2_rl1").value = meme_adresse_que_rl1.checked ? "0146354535" : "";
	  document.getElementById("mail_rl1").value = meme_adresse_que_rl1.checked ? "catherine@example.fr" : "";
	  document.getElementById("sit_emploi_rl1").value = meme_adresse_que_rl1.checked ? "Occupe un emploi" : "Choisissez...";
	  document.getElementById("emploi_rl1").value = meme_adresse_que_rl1.checked ? "Employé·e" : "Choisissez...";
	}

	function afficher_infos_rl2(e){
	  document.getElementById("prenom_rl2").value = meme_adresse_que_rl2.checked ? "Hubert" : "";
	  document.getElementById("nom_rl2").value = meme_adresse_que_rl2.checked ? "Puydebois" : "";
	  document.getElementById("lien_parente_rl2").value = meme_adresse_que_rl2.checked ? "Marié" : "Choisissez...";
	  document.getElementById("adr1_rl2").value = meme_adresse_que_rl2.checked ? "4 Place de la Nation" : "";
	  document.getElementById("cp_rl2").value = meme_adresse_que_rl2.checked ? "75012" : "";
	  document.getElementById("ville_rl2").value = meme_adresse_que_rl2.checked ? "Paris" : "";
	  document.getElementById("tel1_rl2").value = meme_adresse_que_rl2.checked ? "0675364223" : "";
	  document.getElementById("tel2_rl2").value = meme_adresse_que_rl2.checked ? "0146354535" : "";
	  document.getElementById("mail_rl2").value = meme_adresse_que_rl2.checked ? "hubert@example.fr" : "";
	  document.getElementById("sit_emploi_rl2").value = meme_adresse_que_rl2.checked ? "Occupe un emploi" : "Choisissez...";
	  document.getElementById("emploi_rl2").value = meme_adresse_que_rl2.checked ? "Technicien·ne" : "Choisissez...";
	}

	function afficher_infos_urg(e){
	  document.getElementById("lien_elv_urg").value = meme_adresse_que_urg.checked ? "Oncle" : "";
	  document.getElementById("prenom_urg").value = meme_adresse_que_urg.checked ? "Louis" : "";
	  document.getElementById("nom_urg").value = meme_adresse_que_urg.checked ? "Piaf" : "";
	  document.getElementById("tel1_urg").value = meme_adresse_que_urg.checked ? "0654341817" : "";
	  document.getElementById("tel2_urg").value = meme_adresse_que_urg.checked ? "0156879892" : "";
	}

</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>