<span style="display:block; height: 80px;"></span>

<div class="container legend">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-1">
      <p>Dossiers</p>
    </div>
    <div class="col">
      <div class="progress" style="font-size: .8rem; margin-left: 0; width: 27em;">
        <div class="progress-bar bg-secondary"
         style="width: 18%; height: 20px; padding-top: 3px;">Vierges</div>
        <div class="progress-bar bg-warning"
         style="width: 19%; height: 20px; padding-top: 3px;">En cours</div>
        <div class="progress-bar bg-primary"
         style="width: 46%; height: 20px; padding-top: 3px;">En attente de validation</div>
        <div class="progress-bar bg-success"
         style="width: 17%; height: 20px; padding-top: 3px;">Validés</div>
      </div>
    </div>
  </div>
</div>

<span style="display:block; height: 40px;"></span>

<div class="container totaux">
  <div class="row">
    <div class="col nom">
      Totaux
    </div>
    <div class="col-10">
      <div class="progress" style="font-size: 1rem; margin-left: 0; width: 100%;">
        <%
        dossiers = DossierEleve.all
        stats = dossiers.group_by(&:etat)
        colormap = {
          "pas connecté" => "bg-secondary",
          "connecté" => "bg-warning",
          "en attente de validation" => "bg-primary",
          "validé" => "bg-success"
          }
          colormap.each do |etat, couleur|
            next unless stats[etat]
            pct = (100.0 * stats[etat].count) / dossiers.count %>
          <div
            class="progress-bar <%= couleur %>"
            style="width: <%= pct %>%;">
            <%= stats[etat].count %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<hr/>

<% etablissements.each do |etablissement| %>
  <span style="display:block; height: 40px;"></span>

  <div class="container">
    <div class="row">
      <% etats, notes, moyenne, dossiers_avec_commentaires = etablissement.stats %>
      <div class="col nom">
        <%= etablissement.nom %> <%= moyenne %>
      </div>
      <div class="col-10">
        <div class="progress" style="font-size: 1rem; margin-left: 0; width: 100%;">
          <%
          dossiers = DossierEleve.where(etablissement: etablissement)
          stats = dossiers.group_by(&:etat)
          colormap = {
            "pas connecté" => "bg-secondary",
            "connecté" => "bg-warning",
            "en attente de validation" => "bg-primary",
            "validé" => "bg-success"
            }
            colormap.each do |etat, couleur|
              next unless stats[etat]
              pct = (100.0 * stats[etat].count) / dossiers.count %>
            <div
              class="progress-bar <%= couleur %>"
              style="width: <%= pct %>%;">
              <%= stats[etat].count %>
            </div>
            <% end %>
        </div>
        <div> Satisfaction (Moyenne) <%= moyenne %></div>
      </div>
    </div>
  </div>
<% end %>



<% etablissements.each do |etablissement| %>
<hr/>
  <span style="display:block; height: 40px;"></span>

  <div class="container etablissement">
    <div class="row">
      <% etats, notes, moyenne, dossiers_avec_commentaires = etablissement.stats %>
      <div class="col nom">
        <%= etablissement.nom %>
      </div>
      <div class="col-10">
        <div class="progress" style="font-size: 1rem; margin-left: 0; width: 100%;">
          <%
          dossiers = DossierEleve.where(etablissement: etablissement)
          stats = dossiers.group_by(&:etat)
          colormap = {
            "pas connecté" => "bg-secondary",
            "connecté" => "bg-warning",
            "en attente de validation" => "bg-primary",
            "validé" => "bg-success"
            }
            colormap.each do |etat, couleur|
              next unless stats[etat]
              pct = (100.0 * stats[etat].count) / dossiers.count %>
            <div
              class="progress-bar <%= couleur %>"
              style="width: <%= pct %>%;">
              <%= stats[etat].count %>
            </div>
            <% end %>
        </div>
      </div>
    </div>

    <% etablissement.classes.sort.each do |classe| %>
      <span style="display:block; height: 20px;"></span>

      <div class="container classe">
        <div class="row">
          <div class="col nom">
            <%= classe %>
          </div>
          <div class="col-10">
        <div class="progress" style="font-size: 1rem; margin-left: 0; width: 100%;">
          <%
          dossiers = DossierEleve.joins(:eleve).where(
            etablissement: etablissement,
            eleves: {classe_ant: classe})
          stats = dossiers.group_by(&:etat)
          colormap = {
            "pas connecté" => "bg-secondary",
            "connecté" => "bg-warning",
            "en attente de validation" => "bg-primary",
            "validé" => "bg-success"
            }
            colormap.each do |etat, couleur|
              next unless stats[etat]
              pct = (100.0 * stats[etat].count) / dossiers.count %>
            <div
              class="progress-bar <%= couleur %>"
              style="width: <%= pct %>%;">
              <%= stats[etat].count %>
            </div>
            <% end %>
        </div>          </div>
        </div>
      </div>
    <% end %>

  </div>

<% end %>
