<section class="section cards">
  <div class="row mb-2 cards-configuration">
    <% if @stats.eleves_sans_mef > 0 %>
      <div class="card">
        <div class="card__content">
          <h3><%= t('.eleves_sans_mef') %></h3>
          <p><%= t('.text_eleves_sans_mef', nombre: @stats.eleves_sans_mef) %></p>
          <%= link_to t('.liste_des_eleves'), agent_liste_des_eleves_path %>
        </div>
      </div>
    <% end %>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.import') %></h3>
        <% if @stats.dossiers == 0 %>
          <p><%= t('.aucun_dossier') %></p>
          <%= link_to t('.importer_un_fichier'), new_tache_import_path %>
        <% else %>
          <p><%= t('.nombre_dossiers_eleves', dossiers: @stats.dossiers) %></p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.agents') %></h3>
        <% if @stats.agents <= 1 %>
          <p><%= t('.seul_agent', nombre: @stats.agents) %></p>
        <% else %>
          <p><%= t('.nombre_agents_html', nombre: @stats.agents) %></p>
        <% end %>
        <%= link_to t('.ajouter_un_agent'), new_configuration_agent_path %>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.options_pedagogiques') %></h3>
        <% if @stats.mef == 0 && @stats.options == 0 %>
          <p><%= t('.aucun_mef_et_option') %></p>
          <%= link_to t('.importer_un_fichier'), new_tache_import_path %>
        <% else %>
          <p><%= t('.nombre_options_pedagogiques_html', options: @stats.options, mef: @stats.mef) %></p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.campagne') %></h3>
        <p><%= t('.info_campagne', date_fin: @stats.date_fin) %></p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.etablissement') %></h3>
        <% unless @stats.nom_etablissement || @stats.code_postal %>
          <p><%= t('.information_etablissement_manquantes') %></p>
          <%= link_to t('.modifier_informations'), edit_configuration_etablissement_path(@agent_connecté.etablissement) %>
        <% else %>
          <p><%= t('.information_etablissement_html', uai: @stats.uai, nom: @stats.nom_etablissement,
                   code_postal: @stats.code_postal) %></p>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3><%= t('.pieces_attendues') %></h3>
        <% if @stats.pieces_attendues.size  == 0  %>
          <p class="card-text"><%= t('.aucune_piece_attendue') %></p>
          <%= link_to t('.ajouter_piece_justificative'), configuration_pieces_attendues_path %>
        <% else %>
          <ul>
            <% @stats.pieces_attendues.each do |piece| %>
              <li><%= piece %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
