<div class="row d-flex align-items-stretch mb-4">
  <div class="col-md-4 col-12">
    <div class="card card-configuration">
      <div class="card-header">
        <h3><%= t('.agents') %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t('.nombre_agents_html', nombre: @stats.agents) %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="card card-configuration">
      <div class="card-header">
        <h3><%= t('.options_pedagogiques') %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t('.nombre_options_pedagogiques_html', options: @stats.options, mef: @stats.mef) %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="card card-configuration">
      <div class="card-header">
        <h3><%= t('.import') %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t('.nombre_dossiers_eleves', dossiers: @stats.dossiers) %></p>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-stretch">
  <div class="col-md-4 col-12">
    <div class="card card-configuration">
      <div class="card-header">
        <h3><%= t('.campagne') %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t('.info_campagne', date_fin: @stats.date_fin) %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="card card-configuration">
      <div class="card-header">
        <h3><%= t('.etablissement') %></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t('.information_etablissement_html', uai: @stats.uai, nom: @stats.nom_etablissement, code_postal: @stats.code_postal) %></p>
      </div>
    </div>
  </div>
</div>
