<h1>Suivi de l'embarquement des établissement</h1>


<section>
  <p>
  <%= t('.pas_encore_connectes') %>
  </p>

  <ul>
    <% @suivi.pas_encore_connecte.each do |etablissement| %>
      <li><%= link_to(etablissement.uai, "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
  <%= t('.eleves_importes') %>
  </p>

  <ul>
    <% @suivi.eleves_importe.each do |etablissement| %>
      <li><%= link_to(etablissement.uai, "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
  <%= t('.piece_attendue_configure') %>
  </p>

  <ul>
    <% @suivi.piece_attendue_configure.each do |etablissement| %>
      <li><%= link_to(etablissement.uai, "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
  <%= t('.familles_connectes') %>
  </p>

  <ul>
    <% @suivi.familles_connectes.each do |etablissement| %>
      <li><%= link_to(etablissement.uai, "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>


  </li>
</ul>

