<h1>Suivi de l'embarquement des établissement</h1>

<section>
  <p>
    <%= t('.pas_encore_connectes') %> (<%= @suivi.pas_encore_connecte.count %>)
  </p>

  <ul>
    <% @suivi.pas_encore_connecte.each do |etablissement| %>
      <li><%= link_to("#{etablissement.nom} #{etablissement.uai}", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
    <%= t('.eleves_importes') %> (<%= @suivi.eleves_importe.count %>)
  </p>

  <ul>
    <% @suivi.eleves_importe.each do |etablissement| %>
      <li><%= link_to("#{etablissement.nom} #{etablissement.uai}", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
    <%= t('.piece_attendue_configure') %> (<%= @suivi.piece_attendue_configure.count %>)
  </p>

  <ul>
    <% @suivi.piece_attendue_configure.each do |etablissement| %>
      <li><%= link_to("#{etablissement.nom} #{etablissement.uai}", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>
    <%= t('.familles_connectes') %> (<%= @suivi.familles_connectes.count %>)
  </p>

  <ul>
    <% @suivi.familles_connectes.each do |suivi| %>
      <li><%= link_to("#{suivi[:etablissement].nom} #{suivi[:etablissement].uai} (#{suivi[:nb_familles_connectees]})", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{suivi[:etablissement].uai}") %></li>
    <% end %>
  </ul>
</section>
