<h1>Suivi de l'embarquement des établissements (<%= somme_suivi(@suivi) %>)</h1>

<section>
  <h2><%= t('.pas_encore_connectes', count: @suivi.pas_encore_connecte.count ) %></h2>

  <ul>
    <% @suivi.pas_encore_connecte.each do |etablissement| %>
      <li><%= link_to("#{etablissement.nom} #{etablissement.uai}", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2><%= t('.eleves_importes', count: @suivi.eleves_importe.count ) %></h2>

  <ul>
    <% @suivi.eleves_importe.each do |etablissement| %>
      <li><%= link_to("#{etablissement.nom} #{etablissement.uai}", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{etablissement.uai}") %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2><%= t('.familles_connectes', count: @suivi.familles_connectes.count ) %></h2>

  <ul>
    <% @suivi.familles_connectes.each do |suivi| %>
      <li><%= link_to("#{suivi[:etablissement].nom} #{suivi[:etablissement].uai} (#{suivi[:nb_familles_connectees]})", "http://www.opencartecomptable.fr/#/etablissements?code_uai=#{suivi[:etablissement].uai}") %></li>
    <% end %>
  </ul>
</section>
