<%	case type
    when "text", "date" %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <input
      id="<%= name %>"
      name="<%= name %>"
      type="<%= type %>"
      value="<%= value %>"
      placeholder="<%= indication %>"
      <% if disabled %>
      disabled
      <% end %>
      <%= required if defined? required %>
      >
  </div>

<% when 'text_custom' %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <input type="text" id="<%= name %>" value="<%= value %>" placeholder="<%= indication %>" name="<%= name %>" <%= required if defined? required %>>
  </div>

<%	when "libre" %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <textarea
      id="<%= name %>"
      name="<%= name %>"
      type="<%= type %>"
      placeholder="<%= indication %>"
      rows="<%= lines if defined? lines %>"
      <% if disabled %>
				disabled
			<% end %>
      <%= required if defined? required %>
      ><%= value %></textarea>
  </div>

<%	when "espace" %>
  <span style="display:block; height: <%= hauteur %>px;"></span>

<%	when "dropdown" %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <select id="<%= name %>" name="<%= name %>" <%= required if defined? required %>>
      <% options.each do |option| %>
        <option <% if option == selected %> selected <% end %>><%= option %></option>
      <% end %>
    </select>
  </div>

<%	when "radio" %>
  <div class="form__group">
    <label><%= label %></label>
    <% options.each do |option|%>
      <label>
        <input
          name="<%= name %>"
          value="<%= option %>"
          type="radio"
          <% if option == checked %>
          checked
          <% end %>
          > <%= option %>
      </label>
    <% end %>
  </div>

<% when "radio_inverse" %>
  <% options.each do |nom_option, valeur_option| %>
    <div class="form__group">
      <label>
        <input id="<%= name %>" type="radio" name="<%= name %>"
               value="<%= valeur_option %>" <% if checked == valeur_option %> checked <% end %>> <%= nom_option %>
      </label>
    </div>
  <% end %>


  <p><%= label %></p>

<%	when "check" %>
  <div class="form__group">
    <label for='<%= name %>'><%= label %></label>
    <div>
      <input type='hidden' name='<%= name %>_present' value='true'>
      <input type='checkbox' name='<%= name %>' value='true' id='<%= name %>'
             <% if condition %>
             checked
             <% end %>>
      <label for='<%= name %>'><%= desc %></label>
    </div>
  </div>

<%	when "info" %>
  <div class="form__group">
    <label class="><%= label %></label>
    <div class="col-sm-6">
    <%= valeur %>
  </div>
  </div>

<%	when "hidden" %>
  <div class="form__group">
    <label><%= label %></label>
    <input type='hidden' name='<%= name %>_present' value='true'>
    <input type='hidden' name='<%= name %>' value='true' id='<%= name %>' >
  </div>
  </div>

<% when 'tel' %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <div class="col-sm-5">
      <input type="tel" id="<%= name %>" value="<%= value %>" placeholder="<%= indication %>" name="<%= name %>" <%= required if defined? required %>>
    </div>
  </div>

<% when 'email' %>
  <div class="form__group">
    <label for="<%= name %>"><%= label %></label>
    <div class="col-sm-5">
      <input type="email" id="<%= name %>" value="<%= value %>" placeholder="<%= indication %>" name="<%= name %>" <%= required if defined? required %>>
    </div>
  </div>

<%  when "contact" %>
  <% if contact.present? %>
    <h2 class="separation">
      <%= contact.respond_to?(:lien_de_parente) ? contact.lien_de_parente : 'Contact' %>
      <%= contact.prenom %> <%= contact.nom %></h2>
    <div style='font-size: 1.5em;'>
      <% if contact.tel_principal.present? %>
				<span>
					<i class="fas fa-phone-square"></i> <strong><%= contact.tel_personnel %></strong>
				</span>
      <% end %>
      <% if contact.tel_secondaire.present? %>
				<span style="white-space: nowrap;">
					<i class="fas fa-phone-square"></i> <%= contact.tel_secondaire %>
				</span>
      <% end %>
      <% if contact.respond_to?(:email) && contact.email.present? %>
				<span style='font-size: 0.8em; white-space: nowrap;'>
					<i class="fas fa-envelope mr-1"></i><%= contact.email %>
				</span>
      <% end %>
    </div>
  <% end %>
<% end %>
