<div class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="navbar-logo">
    <%= link_to lien_espace_courant do %>
      <img src='/images/republique_francaise.svg' class='logo'>
      <span class="navbar-brand" >DossierSCO</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% unless @agent_connecte.nil? %>
        <% if @agent_connecte.admin? %>
          <li class="nav-item">
            <%= link_to autre_espace, lien_autre_espace, {class: 'nav-link'}%>
          </li>
        <% end %>
        <% if super_admin?(@agent_connecte.identifiant) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <%= @agent_connecte.etablissement.nom %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% Etablissement.all.each do |etablissement| %>
                <%= link_to "#{etablissement.nom} (#{etablissement.departement})", changer_etablissement_configuration_agent_path(@agent_connecte, etablissement: etablissement), {method: :post, class: 'dropdown-item'} %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="nav-link"><%= @agent_connecte.etablissement.nom %></span>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <%= @agent_connecte.identifiant %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Se déconnecter", agent_deconnexion_path, {class: "dropdown-item"} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
