<% liste_menu = [
	{
		numero_etape: 1,
		url: '/eleve',
		titre: t('.eleve'),
		etapes: ['accueil', 'famille', 'administration', 'pieces_a_joindre', 'validation', 'confirmation']
	},
	{
		numero_etape: 2,
		url: '/famille',
		titre: t('.famille'),
		etapes: ['famille', 'administration', 'pieces_a_joindre', 'validation', 'confirmation']
	},
	{
		numero_etape: 3,
		url: '/administration',
		titre: t('.administration'),
		etapes: ['administration', 'pieces_a_joindre', 'validation', 'confirmation']
	},
	{
		numero_etape: 4,
		url: '/pieces_a_joindre',
		titre: t('.pieces_a_joindre'),
		etapes: ['pieces_a_joindre', 'validation', 'confirmation']
	},
	{
		numero_etape: 5,
		url: '/validation',
		titre: t('.validation'),
		etapes: ['validation', 'confirmation']
	}
]%>

<div class="container mt-5 mb-4">
	<div class="wrapper">
		<div class="arrow-steps clearfix">
		<% liste_menu.each do |menu| %>
			<% if menu[:etapes].include? dossier_eleve.etape_la_plus_avancee %>
				<% classes = 'step step-enabled' %>
				<% lien = menu[:url] %>
			<% else %>
				<% classes = 'step step-disabled' %>
				<% lien = '#' %>
			<% end %>
				<a class="<%= classes %> <%= 'current' if @section >= menu[:numero_etape] %>" href='<%= lien %>'>
					<span class="d-none d-sm-block"><%= menu[:titre] %></span>
					<span class="d-sm-none"><%= menu[:numero_etape] %></span>
				</a>
			<% end %>
		</div>
	</div>
</div>
