  <div class="card-deck row">
    <% @pieces_jointes.each do |piece| %>
      <%= form_for piece, multipart: true, html: { class: "col-12 col-md-6 forms" } do |form| %>
        <div class="card <%= piece.etat if piece.present? %>">
          <h5 class="card-header"><%= '*' if piece.obligatoire %> <%= piece.nom %></h5>
          <div class="card-body">
            <p class="card-text"><%= piece.explication %></p>
            <div class="card-relat document">
              <%= form.hidden_field :piece_attendue_id %>
              <%= url_for(piece.fichier) if piece.fichier.attached? %>
              <%= form.file_field :fichier, data: { btnClass: "btn btn-primary", text: "Parcourir"}, class: "filestyle" %>
              <span id="fichier_<%= piece.code %>"></span>
              <br />
              <div class="image-piece-a-joindre lien-piece-jointe" id="image_<%= piece.code %>">
              </div>
            </div>
            <p><%=
              case piece.etat
              when 'soumis'
                t('.document_transmis')
              when 'invalide'
                t('.document_invalide')
              when 'valide'
                t('.document_approuve')
              else
              end if piece.present?
              %></p>
          </div>
          <button class="soumettre d-none" type="submit">Soumettre</button>
        </div>

      <% end %>
    <% end %>
  </div>
