<div class="cards-famille">
  <% @pieces_jointes.each do |piece| %>
    <%= form_for piece, multipart: true do |form| %>
      <div class="card mb-2 <%= piece.etat if piece.present? %>">
        <h4><%= '*' if piece.obligatoire %> <%= piece.nom %></h4>
        <div>
          <p><%= piece.explication %></p>
          <p class="etat-piece-jointe"><%= t(".document_#{piece.etat}") if piece.etat.present?  %></p>
          <div class="card-relat document">
            <% if piece.fichiers[0].present? && piece.fichiers[0].url.present? %>
              <div class="lien-piece-jointe" data-url="<%= piece.fichiers[0].url %>" data-nom="<%= piece.nom %>">
                <% if piece.fichiers[0].content_type != false &&  piece.fichiers[0].content_type.start_with?("image/") %>
                  <%= image_tag(piece.fichiers[0].url, alt:"preview piece jointe") %>
                <% else %>
                  <%= link_to t('.voir_piece_jointe'), piece.fichiers[0].url %>
                <% end %>
              </div>
            <% end %>
            <%= form.hidden_field :piece_attendue_id %>
            <div class="form__group">
              <%= form.file_field :fichiers, multiple: true %>
            </div>
            <span id="fichier_<%= piece.code %>"></span>
            <br />
            <div class="image-piece-a-joindre lien-piece-jointe" id="image_<%= piece.code %>">
            </div>
          </div>
        </div>
        <button class="soumettre d-none" type="submit">Soumettre</button>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('form').change(function() {
      $(this).find(".soumettre").click()
      $('#modal-chargement').css('display', 'block')
    })
  });
</script>
