<%= form_with(model: mef, local: true) do |form| %>
  <% if mef.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mef.errors.count, "error") %> prohibited this mef from being saved:</h2>

      <ul>
      <% mef.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
