<%= form_with(model: option_pedagogique, url: url, local: true) do |form| %>
  <% if option_pedagogique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option_pedagogique.errors.count, "error") %> prohibited this option_pedagogique from being saved:</h2>
      <ul class="list-unstyled">
        <% option_pedagogique.errors.full_messages.each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__group">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="form__group">
    <%= form.label :groupe %>
    <%= form.text_field :groupe %>
  </div>

  <div class="form__group mb-2">
    <%= form.check_box :obligatoire%>
    <%= form.label :obligatoire, class: 'label-inline' %>
  </div>

    <%= form.collection_check_boxes(:mef_ids, @agent_connecté.etablissement.mef, :id, :libelle) do |b| %>
      <div class=form__group">
        <%= b.label(class: "label-inline") { b.check_box + b.text } %>
      </div>
    <% end %>

  <div class=form__group">
    <%= form.submit 'valider', class: 'button mt-2'  %>
  </div>
<% end %>
