<%= simple_form_for(option_pedagogique, url: url, methode: "post") do |form| %>
  <% if option_pedagogique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option_pedagogique.errors.count, "error") %> prohibited this option_pedagogique from being saved:</h2>
      <ul class="list-unstyled">
        <% option_pedagogique.errors.full_messages.each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__group">
    <%= form.input :nom %>
  </div>

  <div class="form__group">
    <%= form.input :explication %>
  </div>

  <div class="form__group">
    <% if option_pedagogique.code_gestion.present? %>
      <%= form.input :code_gestion, label: t(".code_gestion"), disabled: true %>
    <% else %>
      <%= form.input :code_gestion, label: t(".code_gestion") %>
    <% end %>
  </div>

  <div class="form__group">
    <%= form.input :code_matiere_6, label: t(".code_matiere") %>
    <%= t(".explication_code_matiere_html") %>
  </div>

  <div class=form__group">
    <%= form.submit 'valider', class: 'button mt-2'  %>
  </div>
<% end %>
