<section class="section">
  <h1>Carte des formations</h1>

  <div class="text-right">
    <%= link_to t('.liste_options'), liste_configuration_options_pedagogiques_path, {class: 'button-outline primary'} %>
    <%= link_to t('.nouveau_mef'), new_configuration_mef_path, {class: 'button-outline primary'} %>
  </div>

  <div id="dashboard" class="dashboard">
    <aside class="side-menu" role="navigation">
      <ul>
        <% @mefs.each_with_index do |mef, index| %>
          <li><a class="<%= 'active' if index == 0 %> lien-section" data-target="#<%= mef.id %>"><%= mef.libelle %></a></li>
        <% end %>
      </ul>
    </aside>
    <% @mefs.each_with_index do |mef, index| %>
      <div class="main <%= 'hide' if index > 0 %>" id="<%= mef.id %>">
        <div class="panel">
          <div class="panel__header">
            <h3><%= mef.libelle %></h3>
          </div>
          <div class="cards">
            <table class="table">
              <tbody data-mef-id="<%= mef.id %>">
              <% mef.mef_options_pedagogiques.each do |mef_option| %>
                <tr class="small-line" data-option-id="<%= mef_option.option_pedagogique.id %>">
                  <td><%= "#{mef_option.option_pedagogique.nom} #{mef_option.option_pedagogique.groupe} " %></td>
                  <td><%= select_tag "abandonnable", options_for_select([['Abandonnable', true], ['Non abandonnable', false]], selected: mef_option.abandonnable ), data: {id: mef_option.id} %></td>
                  <td><%= link_to t('.modifier'), edit_configuration_option_pedagogique_path(mef_option.option_pedagogique) %></td>
                  <td><%= link_to enleve_option_au_mef_configuration_option_pedagogique_path(mef_option), method: :delete, remote: true do %><i class='fas fa-times'></i><% end %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <button class="button mt-1 ajouter-option" data-id="mef-<%= mef.id %>">Ajouter une option au MEF</button>
            <%= form_tag ajoute_option_au_mef_configuration_option_pedagogique_path(mef), remote: true, class: 'mt-1 hide', id: "mef-#{mef.id}" do %>
              <%= select_tag :option_pedagogique, options_from_collection_for_select(@options_pedagogiques, "id", "nom") %>
              <%= select_tag :abandonnable, options_for_select([['Abandonnable', true], ['Non abandonnable', false]]) %>
              <%= button_tag 'Ajouter', class: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    $('.ajouter-option').click( function() {
      const id = $(this).data('id')
      $(this).hide()
      $('#' + id).removeClass('hide')
    })

    $('select[name=abandonnable]').change( function() {
      $.ajax({
        method: 'POST',
        url: '/configuration/options_pedagogiques/definie_abandonnabilite',
        data: {
          abandonnable: this.value,
          mef_option_pedagogique_id: $(this).data('id')}
      })
    })

    $('.lien-section').click(function() {
      const target = $(this).data('target')
      $('.lien-section').removeClass('active')
      $(this).addClass('active')
      $('.main').addClass('hide')
      $(target).removeClass('hide')
    })
  })
</script>
