<section class="section">
  <div class="container">
    <h1 class="mb-3">Nouvelle Option Pedagogique</h1>

    <%= form_with(model: @option_pedagogique, url: configuration_options_pedagogiques_path, local: true) do |form| %>

      <div class="form__group">
        <%= form.label :nom %>
        <%= form.text_field :nom %>
      </div>

      <div class="form__group">
        <%= form.label :explication %>
        <%= form.text_area :explication %>
      </div>

      <div class=form__group">
        <%= form.submit 'valider', class: 'button mt-2'  %>
      </div>
    <% end %>
    <%= link_to 'Retour', :back, class: 'button-outline small secondary mt-2'%>
  </div>
</section>
