<%= form_for [:configuration, mef] do |form| %>
  <div class="form__group">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="form__group">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="form__group">
    <%= form.submit 'valider', class: 'button' %>
  </div>
<% end %>

