<%= form_for [:configuration, mef] do |form| %>
  <% if mef.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mef.errors.count, "error") %> prohibited this mef from being saved:</h2>

      <ul class="list-unstyled">
      <% mef.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :libelle %>
    <%= form.text_field :libelle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'valider', class: 'btn btn-primary  my-3' %>
  </div>
<% end %>

