<% if notice.present? %>
  <p class="bg-success" id="notice"><%= notice %></p>
<% end %>

<h1>Mef</h1>

<table class="table">
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Code</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @mef.each do |mef| %>
      <tr>
        <td><%= mef.libelle %></td>
        <td><%= mef.code %></td>
        <td><%= link_to 'Editer', edit_configuration_mef_path(mef) %></td>
        <td><%= link_to 'Supprimer', [:configuration, mef], method: :delete, data: { confirm: 'Etes vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Mef', new_configuration_mef_path %>
