<section class="section">
  <h1>Mef</h1>

  <div class="text-right">
    <%= link_to link_to 'Nouveau Mef', new_configuration_mef_path, {class: 'button-outline primary'} %>
  </div>

  <p>
  <strong>ATTENTION</strong> si vous appliquer un changement de MEF destination depuis cette page, vous écraserez les modifications de MEF destination que vous auriez pue faire individuellement.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Mef d'origine</th>
        <th>Mef de destination</th>
      </tr>
    </thead>

    <tbody>
      <% @mef.each do |mef| %>
        <tr>
          <td><%= mef.libelle %></td>
          <td>
            <%= form_tag(changer_mef_destination_configuration_dossiers_eleve_index_path, method: :put) do |f| %>
              <%= hidden_field_tag "mef_origine", mef.id, id: "mef_origine_#{mef.id}" %>
              <%= select_tag("nouveau_mef_destination", options_for_select(@mef.map{|m| [m.libelle, m.id]}, @mef_service.mef_destination(mef)&.id), { include_blank: true, id: mef.id}) %>
            <button type="submit" class="button-outline primary" style="display:none"><%= t('.appliquer') %></button>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>


<script>
$(document).ready(function () {
  $("select").change(function (e) {
    $(this).next().css("display", "inline")
  })
})
</script>
