<%= form_with(model: option_pedagogique, local: true) do |form| %>
  <% if option_pedagogique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option_pedagogique.errors.count, "error") %> prohibited this option_pedagogique from being saved:</h2>
      <ul class="list-unstyled">
        <% option_pedagogique.errors.full_messages.each do |message| %>
          <li class="bg-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nom %>
    <%= form.text_field :nom, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :groupe %>
    <%= form.text_field :groupe, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= form.check_box :obligatoire, class: 'form-check-input' %>
    <%= form.label :obligatoire, class: 'form-check-label' %>
  </div>

  <div class="form-check">
    <%= form.collection_check_boxes(:mef_ids, Mef.all, :id, :libelle) %>
  </div>

    <%= form.submit 'valider', class: 'btn btn-primary my-3'  %>
<% end %>
