<section class="section">
  <h1>Options Pedagogiques</h1>

  <div class="text-right">
    <%= link_to 'Nouvelle Option Pedagogique', new_option_pedagogique_path, {class: 'button-outline primary'} %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <td>Nom</td>
      <td>Groupe</td>
      <td>Obligatoire</td>
      <td colspan="2"></td>
    </tr>
    </thead>

    <tbody>
    <% @options_pedagogiques.each do |option_pedagogique| %>
      <tr>
        <td><%= option_pedagogique.nom %></td>
        <td><%= option_pedagogique.groupe %></td>
        <td><%= option_pedagogique.obligatoire %></td>
        <td><%= link_to 'Editer', edit_option_pedagogique_path(option_pedagogique) %></td>
        <td><%= link_to 'Supprimer', option_pedagogique, method: :delete, data: { confirm: 'Etes vous sure ?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>