<section class="section">

  <h1 class="separation"><%= t('.eleve_non_inscrit') %></h1>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>

  <%= link_to t('.telecharger_convocations'), telecharger_pdf_convocation_path, class: 'button mb-2', id: 'telecharger_convocations' %>

  <table id="options" class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Resp</th>
        <th>Resp</th>
        <th class="text-center"><i class="fas fa-phone-square"></i></th>
        <th class="text-center"><i class="fas fa-phone-square"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @eleves_non_inscrits.each do |dossier_eleve| %>
        <% resp_legal_1 = dossier_eleve.resp_legal.find {|d| d.priorite == 1} %>
        <tr>
          <td><%= dossier_eleve.eleve.classe_ant %></td>
          <td><%= dossier_eleve.eleve.prenom %></td>
          <td><%= dossier_eleve.eleve.nom %></td>
          <td><%= resp_legal_1.prenom %></td>
          <td><%= resp_legal_1.nom %></td>
          <td><%= resp_legal_1.tel_personnel %></td>
          <td><%= resp_legal_1.tel_portable %></td>
        </tr>
      <% end %>
      <%= will_paginate @eleves_non_inscrits %>

    </table>
</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#telecharger_convocations').click(function () {
      $('main').prepend("<div class=\"notification success mt-1\">La génération des documents est en cours, cela peut prendre du temps. Merci de rester sur cette page jusqu'à récéption du dossier</div>")
    })
  })
</script>
