<section class="section">
  <h1 class="text-center">Agent EPLE</h1>
  <form class="mb-2" action="/agent" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <% if session[:erreur_login] %>
      <p class="notification warning"><%= session[:erreur_login] %></p>
      <% session.delete :erreur_login %>
    <% end %>
    <div class="form__group">
      <label for="email"><%= t('.email') %></label>
      <input name="email" type="text" id="email" placeholder="intendant.collegexyz@ac-paris.fr" autofocus>
    </div>

    <div class="form__group">
      <label for="mot-de-passe"><%= t('.mot_de_passe') %></label>
      <input name="mot_de_passe" type="password" id="mot-de-passe" >
    </div>

    <div class="form__group text-center">
      <button class="button"><%= t('.se_connecter') %></button>
    </div>
  </form>
  <div class="text-center">
    <ul>
      <li>
        <%= link_to t('.mot_de_passe_oublie'), new_mot_de_passe_agent_path %>
      </li>
      <li>
        <%= link_to t('.inscription'), new_configuration_etablissement_path %>
      </li>
    </ul>
  </div>
  <% unless Rails.env.production? %>
    <div class="text-center">
      <p>Vous êtes sur un environnement de test, vous pouvez donc vous connecter avec les comptes suivant : </p>
      <ul>
        <li><%= link_to "Agent d'EPLE", '/agent?email=ce.0753936w@ac-paris.fr&mot_de_passe=tilion', method: :post %></li>
      </ul>
    </div>
  <% end %>
</section>
