<section class="section">
  <h1 class="text-center">Agent EPLE</h1>
  <form class="mb-2" action="/agent" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <% if session[:erreur_login] %>
      <p class="erreur"><%= session[:erreur_login] %></p>
      <% session.delete :erreur_login %>
    <% end %>
    <div class="form__group">
      <label for="email"><%= t('.email') %></label>
      <input name="email" type="text" id="email" placeholder="intendant.collegexyz@ac-paris.fr" autofocus>
    </div>

    <div class="form__group">
      <label for="mot-de-passe"><%= t('.mot_de_passe') %></label>
      <input name="mot_de_passe" type="password" id="mot-de-passe" >
    </div>

    <div class="form__group text-center">
      <button class="button"><%= t('.se_connecter') %></button>
    </div>
  </form>
  <div class="text-center">
    <%= link_to t('.inscription'), new_configuration_etablissement_path %>
  </div>
</section>
