<section class="section">
  <h1 class="separation">Eleves en cours de traitement</h1>

  <div class="text-right">
    <%= link_to link_to 'Envoyer une relance', new_contact_par_etat_path, {class: 'button-outline primary'} %>
  </div>

  <div class="my-2">
    Collège <%= agent.etablissement.nom %> : <span id="total_dossiers" class="badge badge-danger"><%= lignes_eleves.count('*') %></span> dossiers.
  </div>

  <div>
    <p><i class="fas fa-truck"></i> : La famille a modifié son adresse de résidence</p>
    <p><i class="fas fa-utensils"></i> : La famille a choisie le régime de demi-pension</p>
  </div>
  <table class="table table-striped table-bordered table-condensed table-hover"
  id="table_liste_des_eleves">
    <thead><tr>
      <th></th>
      <th>ID</th>
      <th>Classe</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Etat</th>
      <th>Date de modification</th>
      <th><i class="fas fa-truck"></i></th>
      <th><i class="fas fa-utensils"></i></th>
      <th><i class="far fa-envelope"></i></th>
    </tr></thead>
    <tbody>
      <% lignes_eleves.each do |ligne_eleve| %>
        <tr data-eleve-id="<%= ligne_eleve.identifiant %>" class='link-to-eleve'>
          <td></td>
          <td><%= ligne_eleve.dossier_id %></td>
          <td><%= ligne_eleve.classe_ant %></td>
          <td><%= ligne_eleve.prenom %></td>
          <td><%= ligne_eleve.nom %></td>
          <td><%= ligne_eleve.etat %></td>
          <td><%= ligne_eleve.dossier_maj.to_datetime.localtime.strftime("%Y/%m/%d %H:%M ") %></td>
          <td>
            <% rl = RespLegal.new(
              adresse: ligne_eleve.adresse,
              ville: ligne_eleve.ville,
              code_postal: ligne_eleve.code_postal,
              adresse_ant: ligne_eleve.adresse_ant,
              ville_ant: ligne_eleve.ville_ant,
              code_postal_ant: ligne_eleve.code_postal_ant) %>
            <%= rl.adresse_inchangee ? "" : "✓" %>
        </td>
          <td>
            <%= ligne_eleve.demi_pensionnaire ? "✓" : "" %>
          </td>
          <td class="contacter">
            <% if ligne_eleve.email.present? %>
              <a href="/agent/eleve/<%= ligne_eleve.identifiant %>#echanges"><i class="far fa-envelope"></i></a>
            <% end %>
            <%= messages[ligne_eleve.dossier_id].present? ? raw("&nbsp;(#{messages[ligne_eleve.dossier_id].count})") : "" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= content_for :after_js do %>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.3/jquery.dataTables.yadcf.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('.etat').click(function() {
    var id = $(this).parent().data('piece-id');
    if ($(this).hasClass('fa-check-circle')) {
        var etat = 'valide';
        $(this).css('color', '#00cf00');
        $(this).parent().find('.fa-times-circle').css('color', '#383f45');
    } else {
        var etat = 'invalide';
        $(this).css('color', 'red');
        $(this).parent().find('.fa-check-circle').css('color', '#383f45');
    }
    $.ajax({
        method: "POST",
        url: "/agent/change_etat_fichier",
        data: { id: id, etat: etat}
    })
  })
  jQuery(document).ready(function($) {
    $(".link-to-eleve").click(function (event) {
      if (event.target.className !== ' select-checkbox' &&
        event.target.className !==  'contacter' &&
        event.target.className !==  'far fa-envelope') {
        let href = "/agent/eleve/" + $(this).data("eleve-id")
        if (event.metaKey) { window.open(href, '_blank') }
        else { window.location.replace(href) }
      }
    })
    table = $('#table_liste_des_eleves').DataTable({
    "dom": 'Bflrtip',
    "bJQueryUI": true,
    "bStateSave": true,
    "order": [[ 2, "desc" ], [5, "asc"]],
    "columnDefs": [
      { "visible": false, "targets": 6 },
      { "visible": false, "targets": 1 },
      {
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }
    ],
      select: {
        style:    'multi',
        selector: 'td:first-child'
      },
    "buttons": [
        {
          text: 'Valider les dossiers',
          action: function () {
            ids = collecter_ids()
            envoyer_requete("/agent/valider_plusieurs_dossiers", ids)
          }
        }
    ],
    "lengthMenu": [ 30, 60, 90, 120 ],
    language: {
      processing:     "Traitement en cours...",
      search:         "Rechercher&nbsp;:",
      lengthMenu:    "Afficher _MENU_ &eacute;l&egrave;ves",
      info:           "Affichage des &eacute;l&egrave;ves _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&egrave;ves",
      infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&egrave;ves",
      infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&egrave;ves au total)",
      infoPostFix:    "",
      loadingRecords: "Chargement en cours...",
      zeroRecords:    "Aucun &eacute;l&egrave;ve &agrave; afficher",
      emptyTable:     "Aucune donnée disponible dans le tableau",
      paginate: {
          first:      "Premier",
          previous:   "Pr&eacute;c&eacute;dent",
          next:       "Suivant",
          last:       "Dernier"
    },
    aria: {
      sortAscending:  ": activer pour trier la colonne par ordre croissant",
      sortDescending: ": activer pour trier la colonne par ordre décroissant"
    }
  },
  });
  yadcf.init(table,[ {
    column_number: 2,
    select_type: 'select2',
    filter_default_label: 'Toutes',
    select_type_options: {
        width: '60px',
        minimumResultsForSearch: -1 // remove search box
    }
  },{
    column_number: 5,
    select_type: 'select2',
    filter_default_label: 'Tous',
    filter_match_mode : 'exact',
    select_type_options: {
        width: '140px',
        minimumResultsForSearch: -1 // remove search box
    }
  }]);

      // Afficher/masquer une colonne
  $('a.toggle-vis').on( 'click', function (e) {
    e.preventDefault();

    // Get the column API object
    var debut = $(this).attr('data-column')
    var fin = table.columns()[0].length - 1
    var colonne_date = table.column(6)

    colonne_date.visible( ! colonne_date.visible() );

    for (var i = debut; i < fin; i++) {
      var column = table.column(i);
      column.visible( ! column.visible() );
    }
  });

  function collecter_ids(){
    var count = table.rows( { selected: true } ).count();
    var rows_selected = table.rows({ selected: true })[0]
    var ids = []

    $.each( rows_selected, function( key, value ) {
      ids.push(table.rows(value).data()[0][1])
    });
    return ids
  }

  function envoyer_requete(route, parametres){
    $.ajax({
        method: "POST",
        url: route,
        data: { ids: parametres, authenticity_token: "<%= form_authenticity_token %>" },
        success : function() {
          location.reload();
        }
    });
  }
});
</script>
