<div class="col-12 col-10">

  <span style="display:block; height: 50px;"></span>

  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
      <h1 class="separation">Tableau de bord</h1>
      </div>
    </div>
  </div>

  <div>
    <%= @agent_connecté.etablissement.nom %> : <span id="total_dossiers" class="badge badge-danger"><%= total_dossiers %></span> dossiers.
  </div>

  <span style="display:block; height: 20px;"></span>

  <div>Nombre de notes : <%= notes.reject { |a| a == 0 }.count  %></div>

  <div>Moyenne : <%= moyenne %></div>
  <br />
  <div>
    <ul>
    <% dossiers_avec_commentaires.each do |dossier| %>
      <li>
        <a href="/agent/eleve/<%= dossier.eleve.identifiant %>" ><%= dossier.date_signature_gmt_plus_2 %> : <strong><%= dossier.satisfaction %></strong> : </a>
        <%= dossier.commentaire %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
