<section class="section">
  <h1 class="separation">Tableau de bord</h1>

  <div>
    Collège <%= @agent_connecté.etablissement.nom %> : <span id="total_dossiers" class="badge badge-danger"><%= total_dossiers %></span> dossiers.
  </div>

  <div>Nombre de notes : <%= notes.reject { |a| a == 0 }.count  %></div>

  <div>Moyenne : <%= moyenne %></div>
  <br />
  <div>
    <ul>
    <% dossiers_avec_commentaires.each do |dossier| %>
      <li>
        <a href="/agent/eleve/<%= dossier.eleve.identifiant %>" ><%= dossier.date_signature_gmt_plus_2 %> : <strong><%= dossier.satisfaction %></strong> : </a>
        <%= dossier.commentaire %>
      </li>
    <% end %>
    </ul>
  </div>
</section>
