<% identite = [
        {
          name: "prenom",
          label: "Prénom",
          type: "text",
          value: eleve.prenom,
          indication: "Prénom",
          disabled: false
        },
        {
          name: "nom",
          label: "Nom",
          type: "text",
          value: eleve.nom,
          indication: "Nom",
          disabled: false
        },
        {
          name: "sexe",
          label: "Sexe",
          type: "radio",
          options: ["Féminin", "Masculin"],
          checked: eleve.sexe,
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "date_naiss",
          label: "Né le",
          type: "date",
          value: eleve.date_naiss,
          indication: "",
          disabled: true
        },
        {
          name: "ville_naiss",
          label: "à",
          type: "text",
          value: eleve.ville_naiss,
          indication: "Ville de naissance",
          disabled: false
        },
        {
          name: "pays_naiss",
          label: "Pays",
          type: "text",
          value: eleve.pays_naiss,
          indication: "Pays de naissance",
          disabled: false
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "nationalite",
          label: "Nationalité",
          type: "text",
          value: eleve.nationalite,
          indication: "Nationalité",
          disabled: false
        },
        {
          type: "espace",
          hauteur: 10,
        }]

scolarite_ant = [
        {
          name: "classe_ant",
          label: "Classe",
          type: "text",
          value: eleve.classe_ant,
          indication: "Classe",
          disabled: false
        },
        {
          name: "ets_ant",
          label: "Etablissement",
          type: "text",
          value: eleve.dossier_eleve.etablissement.nom,
          indication: "Etablissement",
          disabled: false
        }] %>

<% @section = 1 %>

<div class="col-12 col-md-8">
    <h2 class="separation">Identité de l'élève</h2>

    <%= construire identite %>

    <h2 class="separation">Scolarité de l'année 2017/2018</h2>

    <%= construire scolarite_ant %>

    <h2 class="separation">Options</h2>

    <% eleve.option.each do |option| %>
      <p><strong><%= option.groupe %></strong> : <%= option.nom %></p>
    <% end %>

    <h2 class="separation">Envoyer un message</h2>

    <div class='card'>
      <div class='card-body'>
        <p>Ce formulaire envoie un message à la famille de l'élève. Précisez par exemple si les pièces justificatives ne sont pas conformes, et ce que la famille doit transmettre.</p>
      </div>
    </div>

    <form action="/agent/contacter_une_famille" method="POST" class="text-center">
      <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
      <textarea name='message' class="form-control" rows="6"></textarea>
      <input id='envoyer-commentaire' value='Envoyer' type='submit' class='btn btn-outline-primary mb-5 mt-1'/>
    </form>

    <% dossier_valide = eleve.dossier_eleve.etat == 'validé' %>
    <div style='text-align: center; width:100%'>
    <form action='/agent/valider_inscription' method='POST'>
      <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
      <button class="<%= dossier_valide ? 'btn-danger' : 'btn-primary' %>  btn btn-lg" type='submit'><%= dossier_valide ? "Annuler l'inscription" : "Valider l'inscription" %></button>
    </form>
  </div>
</div>
