<% identite = [
    {
        name: "sexe",
        label: "Sexe",
        type: "text",
        value: eleve.sexe,
        indication: "",
        disabled: true
    },
    {
        name: "date_naiss",
        label: "Né le",
        type: "date",
        value: eleve.date_naiss,
        indication: "",
        disabled: true
    }] %>

<% resp_foyer = eleve.dossier_eleve.resp_legal.first %>
<% resp_legal_1 = [
    {
        name: "lien_de_parente_rl1",
        label: "Lien de parenté",
        type: "text",
        value: resp_foyer.lien_de_parente,
        indication: "Lien de parenté",
        disabled: true,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Adresse",
        type: "libre",
        value: resp_foyer.adresse,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: resp_foyer.code_postal,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: resp_foyer.ville,
        indication: "Ville",
        disabled: true,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Ancienne adresse",
        type: "libre",
        value: resp_foyer.adresse_ant,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: resp_foyer.code_postal_ant,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: resp_foyer.ville_ant,
        indication: "Ville",
        disabled: true,
        required: 'required'
    }]
%>

<% @section = 1 %>

<div class="col-12 col-md-8">
    <h2 class="separation mt-3">Envoyer un message</h2>

    <% if emails_presents %>
      <div class='card'>
        <div class='card-body'>
          <p>Ce formulaire envoie un message à la famille de l'élève. Précisez par exemple si les pièces justificatives ne sont pas conformes, et ce que la famille doit transmettre.</p>
        </div>
      </div>

      <form action="/agent/contacter_une_famille" method="POST" class="text-center">
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <textarea name='message' class="form-control" rows="6"></textarea>
        <input id='envoyer-commentaire' value='Envoyer' type='submit' class='btn btn-outline-primary mt-1'/>
      </form>
    <% else %>
      <div class='card'>
        <div class='card-body'>
          <p>Cette famille ne possède pas d'adresse email</p>
        </div>
      </div>
    <% end %>

    <% resp_legal_2 = eleve.dossier_eleve.resp_legal.second %>

    <%= construire [{type: 'contact', contact: resp_foyer}] %>
    <%= construire [{type: 'contact', contact: resp_legal_2}] %>

    <h2 class="separation"><%= eleve.classe_ant %> <%= eleve.prenom%> <%=eleve.nom%></h2>

    <%= construire identite %>

    <h2 class="separation">Habite chez <%=resp_foyer.prenom %> <%=resp_foyer.nom %></h2>

    <%= construire resp_legal_1 %>

    <h2 class="separation">Options</h2>

    <% eleve.option.each do |option| %>
      <p><strong><%= option.groupe %></strong> : <%= option.nom %></p>
    <% end %>

    <%= construire [{type: 'contact', contact: eleve.dossier_eleve.contact_urgence}] %>

    <div class="d-flex justify-content-center align-items-center" style='text-align: center; width:100%'>
      <form action='/agent/valider_inscription' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-lg btn-primary mr-2  <%= 'disabled' if eleve.dossier_eleve.etat == 'validé'%>"
          id="bouton-validation-inscription" type='submit'
          <%= 'disabled' if eleve.dossier_eleve.etat == 'validé'%>>Valider l'inscription</button>
      </form>
      <form action='/agent/eleve_sortant' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-outline-primary ml-2 <%= 'disabled' if eleve.dossier_eleve.etat == 'sortant'%>"
          id="bouton-eleve-sortant" type='submit'  <%= 'disabled' if eleve.dossier_eleve.etat == 'sortant'%>>
          Cet élève est sorti·e de l'établissement</button>
      </form>
    </div>

</div>
