<% identite = [
    {
        name: "sexe",
        label: "Sexe",
        type: "text",
        value: eleve.sexe,
        indication: "",
        disabled: true
    },
    {
        name: "date_naiss",
        label: "Né le",
        type: "date",
        value: eleve.date_naiss,
        indication: "",
        disabled: true
    }] %>

<% resp_legal_1 = dossier_eleve.resp_legal_1 %>
<% domicile_actuel = [
    {
        name: "lien_de_parente_rl1",
        label: "Lien de parenté",
        type: "text",
        value: resp_legal_1.lien_de_parente,
        indication: "Lien de parenté",
        disabled: true,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Adresse",
        type: "libre",
        value: resp_legal_1.adresse,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: resp_legal_1.code_postal,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: resp_legal_1.ville,
        indication: "Ville",
        disabled: true,
        required: 'required'
    }] %>
<% ancien_domicile = [
    {   name: "adresse_rl1",
        label: "Ancienne adresse",
        type: "libre",
        value: resp_legal_1.adresse_ant,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: resp_legal_1.code_postal_ant,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: resp_legal_1.ville_ant,
        indication: "Ville",
        disabled: true,
        required: 'required'
    }]
%>

<% @section = 1 %>

<div class="col-12 col-md-8">
    <h2 class="separation mt-3">Envoyer un message</h2>

    <% if emails_presents %>
      <div class='card'>
        <div class='card-body'>
          <p>Ce formulaire envoie un message à la famille de l'élève. Précisez par exemple si les pièces justificatives ne sont pas conformes, et ce que la famille doit transmettre.</p>
        </div>
      </div>

      <form action="/agent/contacter_une_famille" method="POST" class="text-center">
          <% if !agent.etablissement.modele.empty? %>
            Modèles: <select id="modeles">
              <% agent.etablissement.modele.each do |modele| %>
                <option value=<%= modele.id %>><%= modele.nom %></option>
              <% end %>
            </select>
          <% end %>
          <button id="inserer">Insérer</button>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <textarea id="message" name='message' class="form-control" rows="6"></textarea>
        <input id='envoyer-commentaire' value='Envoyer' type='submit' class='btn btn-outline-primary mt-1'/>
      </form>
    <% else %>
      <div class='card'>
        <div class='card-body'>
          <p>Cette famille ne possède pas d'adresse email</p>
        </div>
      </div>
    <% end %>

    <% if eleve.dossier_eleve.message.count > 0 %>
    <h2 class="separation mt-3">Historique</h2>
    <div id="historique" class="container">
    <% eleve.dossier_eleve.message.each do |message| %>
      <div class="message">
        <div class='card'>
            <div class="card-header">
              <small class="text-muted"><%= message.categorie %> du <%= message.created_at %> (cliquez pour afficher/cacher)</small>
            </div>
            <div class='card-body' style="display:none;">
            <% if message.categorie == "mail" %>
            <%= message.contenu.gsub(/\n/,"<br/>") %>
            <% else %>
            <%= message.contenu %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <% end %>

    <% resp_legal_2 = dossier_eleve.resp_legal_2 %>

    <%= construire [{type: 'contact', contact: resp_legal_1}] %>
    <%= construire [{type: 'contact', contact: resp_legal_2}] %>

    <% if resp_legal_2.present? %>
       <p>Ces responsables légaux <strong>habitent à
         <% if meme_adresse %>
             la même adresse
         <% else %>
             des adresses différentes
         <% end %>
       </strong></p>
    <% end %>

    <h2 class="separation"><%= eleve.classe_ant %> <%= eleve.prenom%> <%=eleve.nom%></h2>

    <%= construire identite %>

    <h2 class="separation">Habite chez <%=resp_legal_1.prenom %> <%=resp_legal_1.nom %></h2>

    <%= construire domicile_actuel %>
    <% if resp_legal_1.changement_adresse %>
      <div id="ancienne_adresse">
        <hr/>
        <%= construire ancien_domicile %>
      </div>
    <% end %>

    <h2 class="separation">Options</h2>

    <% eleve.option.each do |option| %>
      <p><strong><%= option.groupe %></strong> : <%= option.nom %></p>
    <% end %>

     <a href="/agent/pieces_jointes_eleve/<%= dossier_eleve.eleve.identifiant %>" class="btn btn-primary mb-3 mt-3">Ajouter une pièce jointe</a>

    <%= construire [{type: 'contact', contact: dossier_eleve.contact_urgence}] %>

    <% if dossier_eleve.commentaire %>
      <h2 class="separation">Commentaire du <%= dossier_eleve.date_signature_gmt_plus_2 %></h2>
      <div id="commentaire"><strong><%= dossier_eleve.satisfaction %></strong> : <%= dossier_eleve.commentaire %></div>
    <% end %>

    <div class="d-flex justify-content-center align-items-center" style='text-align: center; width:100%'>
      <form action='/agent/valider_inscription' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-lg btn-primary mr-2  <%= 'disabled' if dossier_eleve.etat == 'validé'%>"
          id="bouton-validation-inscription" type='submit'
          <%= 'disabled' if dossier_eleve.etat == 'validé'%>>Valider l'inscription</button>
      </form>
      <form action='/agent/eleve_sortant' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-outline-primary ml-2 <%= 'disabled' if dossier_eleve.etat == 'sortant'%>"
          id="bouton-eleve-sortant" type='submit'  <%= 'disabled' if dossier_eleve.etat == 'sortant'%>>
          Cet élève est sorti·e de l'établissement</button>
      </form>
    </div>

</div>
<script type="text/javascript" charset="utf-8">
  $("#historique .message").on('click',function(e) {
    $(this).find(".card-body").toggle();
  })
  $('#inserer').click(function() {
    $.ajax({
        method: "GET",
        url: "/agent/fusionne_modele/"+$("#modeles").val()+"/eleve/<%= eleve.identifiant %>"
    }).done(function(data) {
      $("#message").val($("#message").val()+(data ? "\n"+data : ""));
    })
    return false;
  })
</script>
