<% identite = [
        {
          name: "prenom",
          label: "Prénom",
          type: "text",
          value: eleve.prenom,
          indication: "Prénom",
          disabled: false
        },
        {
          name: "nom",
          label: "Nom",
          type: "text",
          value: eleve.nom,
          indication: "Nom",
          disabled: false
        },
        {
          name: "sexe",
          label: "Sexe",
          type: "radio",
          options: ["Féminin", "Masculin"],
          checked: eleve.sexe,
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "date_naiss",
          label: "Né le",
          type: "date",
          value: eleve.date_naiss,
          indication: "",
          disabled: true
        },
        {
          name: "ville_naiss",
          label: "à",
          type: "text",
          value: eleve.ville_naiss,
          indication: "Ville de naissance",
          disabled: false
        },
        {
          name: "pays_naiss",
          label: "Pays",
          type: "text",
          value: eleve.pays_naiss,
          indication: "Pays de naissance",
          disabled: false
        },
        {
          type: "espace",
          hauteur: 20,
        },
        {
          name: "nationalite",
          label: "Nationalité",
          type: "text",
          value: eleve.nationalite,
          indication: "Nationalité",
          disabled: false
        },
        {
          type: "espace",
          hauteur: 10,
        }]

scolarite_ant = [
        {
          name: "classe_ant",
          label: "Classe",
          type: "text",
          value: eleve.classe_ant,
          indication: "Classe",
          disabled: false
        },
        {
          name: "ets_ant",
          label: "Etablissement",
          type: "text",
          value: eleve.dossier_eleve.etablissement.nom,
          indication: "Etablissement",
          disabled: false
        }] %>

<% resp_legal_1 = [
    {
        name: "lien_de_parente_rl1",
        label: "Lien de parenté",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.lien_de_parente,
        indication: "Lien de parenté",
        disabled: true,
        required: 'required'
    },
    {
        name: "prenom_rl1",
        label: "Prénom",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.prenom,
        indication: "Prénom",
        disabled: true,
        required: 'required'
    },
    {
        name: "nom_rl1",
        label: "Nom",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.nom,
        indication: "Nom",
        disabled: true,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Adresse",
        type: "libre",
        value: eleve.dossier_eleve.resp_legal.first.adresse,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.code_postal,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.ville,
        indication: "Ville",
        disabled: true,
        required: 'required'
    },
    {   name: "adresse_rl1",
        label: "Ancienne adresse",
        type: "libre",
        value: eleve.dossier_eleve.resp_legal.first.adresse_ant,
        indication: "Numéro et nom de voie",
        disabled: true,
        required: 'required',
        lines: 3
    },
    {   name: "code_postal_rl1",
        label: "Code postal",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.code_postal_ant,
        indication: "Code postal",
        disabled: true,
        required: 'required'
    },
    {   name: "ville_rl1",
        label: "Ville",
        type: "text",
        value: eleve.dossier_eleve.resp_legal.first.ville_ant,
        indication: "Ville",
        disabled: true,
        required: 'required'
    }]
%>

<% @section = 1 %>

<div class="col-12 col-md-8">
    <h2 class="separation mt-3">Envoyer un message</h2>

    <div class='card'>
      <div class='card-body'>
        <p>Ce formulaire envoie un message à la famille de l'élève. Précisez par exemple si les pièces justificatives ne sont pas conformes, et ce que la famille doit transmettre.</p>
      </div>
    </div>

    <form action="/agent/contacter_une_famille" method="POST" class="text-center">
      <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
      <textarea name='message' class="form-control" rows="6"></textarea>
      <input id='envoyer-commentaire' value='Envoyer' type='submit' class='btn btn-outline-primary mb-5 mt-1'/>
    </form>

    <h2 class="separation">Identité de l'élève</h2>

    <%= construire identite %>

    <h2 class="separation">Domicile de l'élève</h2>

    <%= construire resp_legal_1 %>

    <h2 class="separation">Scolarité de l'année 2017/2018</h2>

    <%= construire scolarite_ant %>

    <h2 class="separation">Options</h2>

    <% eleve.option.each do |option| %>
      <p><strong><%= option.groupe %></strong> : <%= option.nom %></p>
    <% end %>

    <div class="d-flex justify-content-center align-items-center" style='text-align: center; width:100%'>
      <form action='/agent/valider_inscription' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-lg btn-primary mr-2  <%= 'disabled' if eleve.dossier_eleve.etat == 'validé'%>"
          id="bouton-validation-inscription" type='submit'
          <%= 'disabled' if eleve.dossier_eleve.etat == 'validé'%>>Valider l'inscription</button>
      </form>
      <form action='/agent/eleve_sortant' method='POST'>
        <input type="hidden" name="identifiant" value="<%= eleve.identifiant %>" />
        <button class="btn btn-outline-primary ml-2 <%= 'disabled' if eleve.dossier_eleve.etat == 'sortant'%>"
          id="bouton-eleve-sortant" type='submit'  <%= 'disabled' if eleve.dossier_eleve.etat == 'sortant'%>>
          Cet élève est sorti·e de l'établissement</button>
      </form>
  </div>
</div>
