<div class="col-12 col-10">

  <span style="display:block; height: 50px;"></span>

  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
        <h1 class="separation">Eleves en cours de traitement</h1>
      </div>
    </div>
  </div>

  <div>
    <%= agent.etablissement.nom %> : <span id="total_dossiers" class="badge badge-danger"><%= lignes_eleves.count('*') %></span> dossiers.
  </div>

  <span style="display:block; height: 20px;"></span>

  <div style="overflow-x:auto;">
    <table class="table table-striped table-bordered table-condensed table-hover"
    id="table_liste_des_eleves">
      <thead><tr>
        <th>Classe</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Etat</th>
        <th><i class="fas fa-truck"></i></th>
        <th><i class="fas fa-utensils"></i></th>
        <% pieces_attendues.each do |piece| %>
          <th><%= piece.nom %></th>
        <% end %>
        <th><i class="far fa-envelope"></i></th>
      </tr></thead>
      <tbody>
        <% lignes_eleves.each do |ligne_eleve| %>
          <% cliquable = "class='clickable-row' data-href='/agent/eleve/#{ligne_eleve.identifiant}'" %>
          <tr id="<%= ligne_eleve.id %>" style='cursor:pointer'>
            <td <%= cliquable %> ><%= ligne_eleve.classe_ant %></td>
            <td <%= cliquable %> ><%= ligne_eleve.prenom %></td>
            <td <%= cliquable %> ><%= ligne_eleve.nom %></td>
            <td <%= cliquable %> ><%= ligne_eleve.etat %></td>
            <td <%= cliquable %> >
              <% rl = RespLegal.new(
                adresse: ligne_eleve.adresse,
                ville: ligne_eleve.ville,
                code_postal: ligne_eleve.code_postal,
                adresse_ant: ligne_eleve.adresse_ant,
                ville_ant: ligne_eleve.ville_ant,
                code_postal_ant: ligne_eleve.code_postal_ant) %>
              <%= rl.changement_adresse ? "✓" : "" %>
            </td>
            <td <%= cliquable %> >
              <%= ligne_eleve.demi_pensionnaire ? "✓" : "" %>
            </td>

            <% pieces_attendues.each do |piece| %>
              <% piece_jointe = pieces_jointes[ligne_eleve.dossier_id] &&
                                pieces_jointes[ligne_eleve.dossier_id].find {|x| x.piece_attendue_id == piece.id} %>
              <td class="text-center" data-piece-id="<%= piece_jointe.id if piece_jointe.present? %>">
                <% if piece_jointe.present? %>
                  <a class="lien-piece-jointe" data-toggle="modal" data-target="#modal-pieces-jointes"
                      data-url="<%= FichierUploader::route_lecture(ligne_eleve.identifiant, piece.code) + "/" + piece_jointe.clef %>"
                      data-ext="<%= piece_jointe.ext %>">
                    <i class="fas fa-file-image"></i>
                  </a>
                  <i class="fas fa-check-circle etat" style="<%= 'color: #00cf00' if piece_jointe.etat == 'valide' %>"></i>
                  <i class="fas fa-times-circle etat" style="<%= 'color: red' if piece_jointe.etat == 'invalide' %>"></i>
                <% end %>
              </td>
            <% end %>
              <td>
                <% if ligne_eleve.email.present? %>
                  <a href="/agent/eleve/<%= ligne_eleve.identifiant %>"><i class="far fa-envelope"></i></a>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.3/jquery.dataTables.yadcf.min.js"></script>
<%= erb :'partials/image_box' %>
<script type="text/javascript" charset="utf-8">
  $('.etat').click(function() {
      var id = $(this).parent().data('piece-id');
      if ($(this).hasClass('fa-check-circle')) {
          var etat = 'valide';
          $(this).css('color', '#00cf00');
          $(this).parent().find('.fa-times-circle').css('color', '#383f45');
      } else {
          var etat = 'invalide';
          $(this).css('color', 'red');
          $(this).parent().find('.fa-check-circle').css('color', '#383f45');
      }
    $.ajax({
        method: "POST",
        url: "/agent/change_etat_fichier",
        data: { id: id, etat: etat}
    })
  })
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function(event) {
      var href = $(this).data("href")
      if (event.metaKey) { window.open(href, '_blank') }
      else { window.location.replace(href) }
    });

        oTable = $('#table_liste_des_eleves').dataTable({
        "bJQueryUI": true,
        "bStateSave": true,
        "order": [[ 0, "desc" ], [3, "asc"]],
        "lengthMenu": [ 30, 60, 90, 120 ],
        language: {
          processing:     "Traitement en cours...",
          search:         "Rechercher&nbsp;:",
          lengthMenu:    "Afficher _MENU_ &eacute;l&egrave;ves",
          info:           "Affichage des &eacute;l&egrave;ves _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&egrave;ves",
          infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&egrave;ves",
          infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&egrave;ves au total)",
          infoPostFix:    "",
          loadingRecords: "Chargement en cours...",
          zeroRecords:    "Aucun &eacute;l&egrave;ve &agrave; afficher",
          emptyTable:     "Aucune donnée disponible dans le tableau",
          paginate: {
              first:      "Premier",
              previous:   "Pr&eacute;c&eacute;dent",
              next:       "Suivant",
              last:       "Dernier"
        },
        aria: {
          sortAscending:  ": activer pour trier la colonne par ordre croissant",
          sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
      },
    }).yadcf([ {
        column_number: 0,
        select_type: 'select2',
        filter_default_label: 'Toutes',
        select_type_options: {
            width: '150px',
            minimumResultsForSearch: -1 // remove search box
        }
    },{
        column_number: 3,
        select_type: 'select2',
        filter_default_label: 'Tous',
        filter_match_mode : 'exact',
        select_type_options: {
            width: '150px',
            minimumResultsForSearch: -1 // remove search box
        }
    }]);

  });
</script>
