<%= form_for([:configuration, @regime]) do |f| %>
  <div class="form__group">
    <%= f.label :nom %>
    <%= f.text_field :nom%>
  </div>
  <div class="form__group">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <p>Vous pouvez écrire en utilisant la syntaxe <a href="https://fr.wikipedia.org/wiki/Markdown">markdown</a> si vous voulez, et <a href="https://developer.mozilla.org/fr/docs/Apprendre/HTML/Introduction_%C3%A0_HTML/Getting_started">HTML</a> également</p>
  </div>
  <div class="form__group">
    <%= f.submit t('.valider'), class: 'button' %>
  </div>
<% end %>
