<section class="section">
  <h1>Régimes d'autorisation de sortie</h1>

  <div class="text-right">
    <%= link_to t('.ajouter_un_regime'), new_configuration_regime_sortie_path, {class: 'button-outline primary'} %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @regimes.each do |regime| %>
      <tr>
        <td><%= regime.nom %></td>
        <td><%= regime.description %></td>
        <td><%= link_to 'Modifier', edit_configuration_regime_sortie_path(regime) %></td>
        <td>
          <% if regime.dossier_eleves.any? %>
            <%= t('.dossier_eleve_utilisant_ce_regime', count: regime.dossier_eleves.count) %>
          <% else %>
            <%= link_to("Supprimer", [:configuration, regime], method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer ce regime ?' }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>
