var cards = $(".cards[data-mef-destination='<%= @mef_destination.id %>']")
var table = cards.find("tbody[data-mef-origine='<%= @mef_origine.id %>']")
var td = "<tr class='small-line' data-option-id='<%= @montee.option_pedagogique.id %>'>" +
  "<td><%= "#{@montee.option_pedagogique.nom} #{@montee.option_pedagogique.groupe} " %></td>" +
  "<td><%= "abandonnable" if @montee.abandonnable %></td>" +
  "<td><%= j link_to t('options_pedagogiques.index.modifier'), edit_option_pedagogique_path(@montee.option_pedagogique) %></td>" +
  "<td class='text-right'><%= j link_to "<i class='fas fa-times'></i>".html_safe, configuration_montee_pedagogique_path(@montee.id), method: :delete, remote: true %></td>" +
  "</tr>"

if (table.length > 0) {
  table.append(td)
} else {
  cards.prepend("<h6 class='mb-0 mt-1'>MEF d'origine : <%= @mef_origine.libelle %></h6>" +
    "<table class='table'>" +
    "<tbody data-mef-origine='<%= @mef_origine.id %>'>" +
    td +
    "</tbody></table>")
}
