<?xml version="1.0" encoding="iso-8859-15"?>
<IMPORT_ELEVES xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="schema_Import_3.0.xsd" VERSION="">

  <PARAMETRES>
    <UAJ><%= @etablissement.uai %></UAJ>
    <ANNEE_SCOLAIRE><%= Time.now.strftime('%Y').to_i + 1 %></ANNEE_SCOLAIRE>
    <DATE_IMPORT><%= Time.now.strftime('%d/%m/%Y') %></DATE_IMPORT>
    <NUM_ENVOI>1</NUM_ENVOI>
    <LOGICIEL>DOSSIERSCO</LOGICIEL>
  </PARAMETRES>
  <DONNEES>
    <PERSONNES>
    <% @etablissement.dossier_eleve.map(&:resp_legal).flatten.each do |resp_legal| %>
      <PERSONNE>
        <ID_PRV_PER><%= resp_legal.id %></ID_PRV_PER>
        <CODE_CIVILITE>1</CODE_CIVILITE>
        <NOM_DE_FAMILLE><%= resp_legal.nom %></NOM_DE_FAMILLE>
        <PRENOM><%= resp_legal.prenom %></PRENOM>
        <COMMUNICATION_ADRESSE><%= resp_legal.communique_info_parents_eleves %></COMMUNICATION_ADRESSE>
        <CODE_PROFESSION><%= resp_legal.profession %></CODE_PROFESSION>
        <TEL_PERSONNEL><%= resp_legal.tel_principal %></TEL_PERSONNEL>
        <TEL_PROFESSIONNEL>0555131415</TEL_PROFESSIONNEL>
        <TEL_PORTABLE><%= resp_legal.tel_secondaire %></TEL_PORTABLE>
        <ACCEPTE_SMS>true</ACCEPTE_SMS>
        <EMAIL><%= resp_legal.email %></EMAIL>
        <ENFANT_A_CHARGE><%= resp_legal.enfants_a_charge %></ENFANT_A_CHARGE>
      </PERSONNE>
    <% end %>
    </PERSONNES>
    <ELEVES>
    <% @etablissement.dossier_eleve.each do |dossier_eleve| %>
      <ELEVE>
        <ID_PRV_ELE>12345</ID_PRV_ELE>
        <NOM_DE_FAMILLE><%= dossier_eleve.eleve.nom %></NOM_DE_FAMILLE>
        <NOM_USAGE>possible 0</NOM_USAGE>
        <PRENOM><%= dossier_eleve.eleve.prenom %></PRENOM>
        <CODE_PAYS_NAT>100</CODE_PAYS_NAT>
        <DATE_NAISS><%= dossier_eleve.eleve.date_naiss %></DATE_NAISS>
        <CODE_SEXE><%= dossier_eleve.eleve.sexe == 'Masculin' ? '1' : '2' %></CODE_SEXE>
        <CODE_PAYS>100</CODE_PAYS>
        <CODE_COMMUNE_INSEE_NAISS>75012</CODE_COMMUNE_INSEE_NAISS>
        <EMAIL>victorhugo@test.fr</EMAIL>
        <ADHESION_TRANSPORT>false</ADHESION_TRANSPORT>
        <CODE_REGIME>3</CODE_REGIME>
        <DOUBLEMENT>false</DOUBLEMENT>
        <RESPONSABLES_ELEVE>
        <% dossier_eleve.resp_legal.each do |resp_legal| %>
          <LEGAL>
            <ID_PRV_PER><%= resp_legal.id %></ID_PRV_PER>
            <CODE_PARENTE><%= resp_legal.priorite %></CODE_PARENTE>
            <HEBERGE_ELEVE>false</HEBERGE_ELEVE>
          </LEGAL>
        <% end %>
        </RESPONSABLES_ELEVE>
        <SCOLARITE_ACTIVE>
          <CODE_MEF><%= dossier_eleve.mef_destination.code %></CODE_MEF>
          <CODE_STATUT>ST</CODE_STATUT>
          <DATE_DEB_SCO>2017-09-04</DATE_DEB_SCO>
          <OPTIONS>
          <% dossier_eleve.options_pedagogiques.each do |option| %>
            <OPTION>
              <CODE_MATIERE><%= option.nom %></CODE_MATIERE>
              <CODE_MODALITE_ELECT><%= option.obligatoire ? "O" : "F" %></CODE_MODALITE_ELECT>
            </OPTION>
          <% end %>
          </OPTIONS>
        </SCOLARITE_ACTIVE>
        <ETABLISSEMENT_AN_DERNIER>
          <CODE_RNE>0750680G</CODE_RNE>
          <CODE_PROVENANCE>1</CODE_PROVENANCE>
          <OPTIONS_AN_DERNIER>
            <CODE_MATIERE>code5</CODE_MATIERE>
          </OPTIONS_AN_DERNIER>
        </ETABLISSEMENT_AN_DERNIER>
      </ELEVE>
      <% end %>
    </ELEVES>
  </DONNEES>
</IMPORT_ELEVES>

