<?xml version="1.0" encoding="UTF-8"?>
<IMPORT_ELEVES xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="schema_Import_3.1.xsd" VERSION="">

  <PARAMETRES>
    <UAJ><%= @etablissement.uai %></UAJ>
    <ANNEE_SCOLAIRE><%= Time.now.strftime('%Y').to_i %></ANNEE_SCOLAIRE>
    <DATE_IMPORT><%= Time.now.strftime('%d/%m/%Y') %></DATE_IMPORT>
    <NUM_ENVOI>1</NUM_ENVOI>
    <LOGICIEL>DOSSIERSCO</LOGICIEL>
  </PARAMETRES>
  <% if @dossiers.any? %>
    <DONNEES>
      <PERSONNES>
        <% @dossiers.map(&:resp_legal).flatten.compact.each do |resp_legal| %>
          <% next unless resp_legal.nom %>
          <PERSONNE>
            <ID_PRV_PER><%= resp_legal.id %></ID_PRV_PER>
            <CODE_CIVILITE><%= resp_legal.civilite == "MME" ? "2" : "1" %></CODE_CIVILITE>
            <NOM_DE_FAMILLE><%= alternative(resp_legal.nom) %></NOM_DE_FAMILLE>
            <PRENOM><%= alternative(resp_legal.prenom) %></PRENOM>
            <% if resp_legal.adresse.present? && resp_legal.code_postal.present? && resp_legal.ville.present? && resp_legal.pays.present? %>
              <ADRESSE>
                <LIGNE1_ADRESSE><%= resp_legal.ligne1_adresse_siecle %></LIGNE1_ADRESSE>
                <% if resp_legal.ligne2_adresse_siecle.present? %>
                  <LIGNE2_ADRESSE><%= resp_legal.ligne2_adresse_siecle %></LIGNE2_ADRESSE>
                <% end %>
                <% if resp_legal.pays == "100" %>
                  <CODE_POSTAL><%= resp_legal.code_postal.strip %></CODE_POSTAL>
                  <LL_POSTAL><%= resp_legal.ville %></LL_POSTAL>
                <% else %>
                  <COMMUNE_ETRANGERE><%= resp_legal.ville %></COMMUNE_ETRANGERE>
                <% end %>
                <CODE_PAYS><%= resp_legal.pays ? resp_legal.pays : 995 %></CODE_PAYS>
              </ADRESSE>
            <% end %>
            <COMMUNICATION_ADRESSE><%= resp_legal.communique_info_parents_eleves? ? "1" : "0" %></COMMUNICATION_ADRESSE>

            <CODE_PROFESSION><%= resp_legal.profession %></CODE_PROFESSION>
            <% if resp_legal.tel_personnel.present? %>
              <TEL_PERSONNEL><%= resp_legal.tel_personnel %></TEL_PERSONNEL>
            <% end %>
            <% if resp_legal.tel_professionnel.present? %>
              <TEL_PROFESSIONNEL><%= resp_legal.tel_professionnel %></TEL_PROFESSIONNEL>
            <% end %>
            <% if resp_legal.tel_portable.present? %>
              <TEL_PORTABLE><%= resp_legal.tel_portable %></TEL_PORTABLE>
            <% end %>
            <ACCEPTE_SMS>true</ACCEPTE_SMS>
            <% if resp_legal.email.present? %>
              <EMAIL><%= resp_legal.email %></EMAIL>
            <% end %>
            <ENFANT_A_CHARGE><%= nb_enfants_a_charge(resp_legal) %></ENFANT_A_CHARGE>
          </PERSONNE>
        <% end %>
        <% @dossiers.map(&:contact_urgence).compact.each do |contact_urgence| %>
          <% next unless contact_urgence.nom %>
          <PERSONNE>
            <ID_PRV_PER><%= contact_urgence.id %></ID_PRV_PER>
            <CODE_CIVILITE><%= "?" %></CODE_CIVILITE>
            <NOM_DE_FAMILLE><%= alternative(contact_urgence.nom) %></NOM_DE_FAMILLE>
            <PRENOM><%= alternative(contact_urgence.prenom) %></PRENOM>
            <COMMUNICATION_ADRESSE>0</COMMUNICATION_ADRESSE>
            <CODE_PROFESSION>99</CODE_PROFESSION>
            <% if contact_urgence.tel_principal.present? %>
              <TEL_PERSONNEL><%= contact_urgence.tel_principal %></TEL_PERSONNEL>
            <% end %>
            <% if contact_urgence.tel_secondaire.present? %>
              <TEL_PROFESSIONNEL><%= contact_urgence.tel_secondaire %></TEL_PROFESSIONNEL>
            <% end %>
            <ACCEPTE_SMS>false</ACCEPTE_SMS>
            <ENFANT_A_CHARGE>0</ENFANT_A_CHARGE>
          </PERSONNE>
        <% end %>
      </PERSONNES>
      <ELEVES>
        <% @dossiers.each do |dossier_eleve| %>
          <ELEVE>
            <ID_PRV_ELE><%= dossier_eleve.eleve.id_prv_ele || dossier_eleve.eleve.id %></ID_PRV_ELE>
            <% if dossier_eleve.eleve.identifiant.present? %>
              <ID_NATIONAL><%= dossier_eleve.eleve.identifiant %></ID_NATIONAL>
            <% end %>
            <NOM_DE_FAMILLE><%= dossier_eleve.nom %></NOM_DE_FAMILLE>
            <PRENOM><%= dossier_eleve.prenom %></PRENOM>
            <% if dossier_eleve.prenom_2.present? %>
              <PRENOM2><%= dossier_eleve.prenom_2 %></PRENOM2>
            <% end %>
            <% if dossier_eleve.prenom_3.present? %>
              <PRENOM3><%= dossier_eleve.prenom_3 %></PRENOM3>
            <% end %>
            <CODE_PAYS_NAT><%= dossier_eleve.eleve.nationalite ? dossier_eleve.eleve.nationalite : 995 %></CODE_PAYS_NAT>
            <DATE_NAISS><%= dossier_eleve.eleve.date_naiss %></DATE_NAISS>
            <CODE_SEXE><%= dossier_eleve.eleve.sexe == 'Masculin' ? '1' : '2' %></CODE_SEXE>
            <CODE_PAYS><%= dossier_eleve.eleve.pays_naiss ? dossier_eleve.eleve.pays_naiss : 995 %></CODE_PAYS>
            <% if dossier_eleve.eleve.pays_naiss == "100" %>
              <CODE_COMMUNE_INSEE_NAISS><%= dossier_eleve.eleve.commune_insee_naissance %></CODE_COMMUNE_INSEE_NAISS>
            <% else %>
              <VILLE_NAISS><%= alternative(dossier_eleve.eleve.ville_naiss) %></VILLE_NAISS>
            <% end %>
            <ADHESION_TRANSPORT>false</ADHESION_TRANSPORT>
            <CODE_REGIME><%= dossier_eleve.demi_pensionnaire? ? 24 : 0 %></CODE_REGIME>
            <DOUBLEMENT>false</DOUBLEMENT>
            <RESPONSABLES_ELEVE>
              <% dossier_eleve.resp_legal.each do |resp_legal| %>
                <LEGAL>
                  <ID_PRV_PER><%= resp_legal.id %></ID_PRV_PER>
                  <CODE_PARENTE><%= RespLegal::CODE_PARENTE[resp_legal.lien_de_parente&.to_sym] %></CODE_PARENTE>
                  <PAIE_FRAIS_SCOLAIRES><%= resp_legal.paie_frais_scolaires? ? 1 : 0 %></PAIE_FRAIS_SCOLAIRES>
                  <HEBERGE_ELEVE><%= resp_legal.priorite == 1 ? true : false %></HEBERGE_ELEVE>
                </LEGAL>
              <% end %>
              <% if dossier_eleve.contact_urgence.present? %>
                <CONTACT>
                  <ID_PRV_PER><%= dossier_eleve.contact_urgence.id %></ID_PRV_PER>
                  <CODE_PARENTE><%= RespLegal::CODE_PARENTE[dossier_eleve.contact_urgence.lien_de_parente&.to_sym] %></CODE_PARENTE>
                </CONTACT>
              <% end %>
            </RESPONSABLES_ELEVE>
            <SCOLARITE_ACTIVE>
              <CODE_MEF><%= dossier_eleve.mef_destination.code %></CODE_MEF>
              <% if dossier_eleve.division.present? %>
                <CODE_DIVISION><%= dossier_eleve.division %></CODE_DIVISION>
              <% end %>
              <CODE_STATUT>ST</CODE_STATUT>
              <DATE_DEB_SCO>2019-09-02</DATE_DEB_SCO>
              <DATE_FIN_SCO>2020-08-31</DATE_FIN_SCO>
              <OPTIONS>
                <% dossier_eleve.options_triees_par_rang.each do |option| %>
                  <% next if option.code_matiere.nil? %>
                  <OPTION>
                    <CODE_MATIERE><%= option.code_matiere_6 %></CODE_MATIERE>
                    <CODE_MODALITE_ELECT><%= option.mef_options_pedagogiques.find_by(mef: dossier_eleve.mef_destination)&.code_modalite_elect || "O" %></CODE_MODALITE_ELECT>
                  </OPTION>
                <% end %>
              </OPTIONS>
            </SCOLARITE_ACTIVE>
            <ETABLISSEMENT_AN_DERNIER>
              <CODE_RNE><%= @etablissement.uai %></CODE_RNE>
              <CODE_PROVENANCE>1</CODE_PROVENANCE>
              <CODE_MEF><%= dossier_eleve.mef_an_dernier %></CODE_MEF>
              <TYPE_MEF><%= dossier_eleve.mef_an_dernier[10] || " " %></TYPE_MEF>
              <% if dossier_eleve.division_an_dernier.present? %>
                <CODE_DIVISION><%= dossier_eleve.division_an_dernier %></CODE_DIVISION>
              <% end %>
              <OPTIONS_AN_DERNIER>
                <% dossier_eleve.options_origines.each do |id, h| %>
                  <CODE_MATIERE><%= h["code_matiere"] %></CODE_MATIERE>
                <% end %>
              </OPTIONS_AN_DERNIER>
            </ETABLISSEMENT_AN_DERNIER>
          </ELEVE>
        <% end %>
      </ELEVES>
    </DONNEES>
<% end %>
</IMPORT_ELEVES>

