<nav>
  <ul class="file-ariane-retour-base">
    <li><%= link_to 'Vérification des codes matière', manque_code_matiere_retour_siecle_path %></li>>
    <li><b><%= link_to 'Vérification des divisions', manque_division_retour_siecle_path %></b></li>>
    <li><%= link_to 'Export des dossiers', export_des_dossiers_retour_siecle_path %></li>
  </ul>
</nav>

<section class="section">
  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_manque_division') %></h3>
    </div>

    <% if @dossiers_sans_division.count > 0 %>
    <p><%= t('.explication_manque_division_html') %></p>
    <%= link_to "Sauter cette étape", export_des_dossiers_retour_siecle_path %>


    <% if @tache.statut != 'en_attente' && @tache.statut != 'en_cours' %>
      <%= form_for TacheImport.new, multipart: true do |form| %>
        <p><i class="fas fa-info-circle blue"></i> <%= t('.aide_eleves_avec_adresse') %></p>
        <div class="form__group">
          <%= form.hidden_field :type_fichier, value: "eleves" %>
          <p class="card-text"><%= t('.selectionner_fichier') %></p>
        </div>
        <div class="form__group">
          <%= form.file_field :fichier %>
        </div>
        <% if Rails.env.demo? && @agent_connecte.etablissement.uai == '0123456S' %>
          <div class="form__group">
            Pour sécuriser vos données, l'import de SIECLE est réservé aux collèges ayant créé un compte DossierSCO. Vous pouvez tester cette fonctionnalité après avoir créé votre compte sur <a href="https://dossiersco.fr/configuration/etablissements/new">https://dossiersco.fr/configuration/etablissements/new</a>
          </div>
        <% else %>
          <div class="form__group">
            <button type="submit" class="button" id="soumettre-fichier">
              <%= t('.importer_fichier') %>
            </button>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% else %>
      <p><%= t('.aucune_division_manquante') %> <%= link_to t('.passer_etape_suivant'), export_des_dossiers_retour_siecle_path %></p>
  <% end %>
  </div>

</section>

<section class="section">

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_dossiers_sans_division') %></h3>
    </div>
    <p><%= t('.explication_dossiers_sans_division_html') %></p>

     <table class="table">
      <thead>
        <tr>
          <th>INE</th>
          <th>Prénom</th>
          <th>Nom</th>
        </tr>
      </thead>

      <tbody>
        <% @dossiers_sans_division.each do |dossier| %>
          <tr>
            <td><%= dossier.eleve.identifiant %></td>
            <td><%= dossier.eleve.prenom %></td>
            <td><%= dossier.nom %></td>
          </tr>
        <% end %>
      </tbody>
     </table>

  </div>

</section>
