<section class="section">

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_selection_ine') %></h3>
    </div>
    <p><%= t(".retour_siecle_partiel_html") %></p>

    <% if Rails.env.production? && !super_admin?(@agent_connecte) %>
      <p>Nous sommes en train de faire les derniers réglages pour nous assurer que le fichier généré est bien conforme aux spécification de la base élève. Vous devriez bientôt avoir ici un bouton pour télécharger le fichier SIECLE.</p>
    <% else %>

      <%= form_tag new_retour_siecle_path, method: :get do |f| %>
        <div>
          <%= text_field_tag :liste_ine %>
        </div>
        <button type="submit" class="button mt-1"><%= t('.demander_fichier_partiel_xml') %></button>
      <% end %>

      <% if @selection_dossiers %>
        <%= form_tag  export_siecle_configuration_exports_path, method: :get do |f| %>
          <%= hidden_field_tag :liste_ine, @selection_dossiers.map(&:eleve).map(&:identifiant).join(",") %>
          <%= hidden_field_tag :limite, true %>
          <button type="submit" class="button mt-1"><%= t('.telecharger_fichier_partiel_xml', count_eleves: @selection_dossiers.count, count_resp: @selection_dossiers.map(&:resp_legal).flatten.count) %></button>
        <% end %>
        <% if @selection_dossiers.count == 0 %>
          <p>Si aucun dossier n'est proposé, c'est sans doute que le dossier n'a pas de mef destination, ou bien que l'élève ou un des représentant légaux n'a pas de prénom et/ou de nom.</p>
        <% end %>
      <% end %>

    <% end %>
  </div>

</section>

<section class="section">

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_retour_complet') %></h3>
    </div>
    <p><%= t(".retour_siecle_complet_html", count_resp: @dossiers.map(&:resp_legal).flatten.count, count_eleves: @dossiers.count) %></p>

    <% if Rails.env.production? && !super_admin?(@agent_connecte) %>
      <p>Nous sommes en train de faire les derniers réglages pour nous assurer que le fichier généré est bien conforme aux spécification de la base élève. Vous devriez bientôt avoir ici un bouton pour télécharger le fichier SIECLE.</p>
    <% else %>
      <%= form_tag  export_siecle_configuration_exports_path, method: :get do |f| %>
        <button type="submit" class="button mt-1"><%= t('.telecharger_fichier_complet_xml') %></button>
      <% end %>
    <% end %>
  </div>

</section>

<section class="section">

  <div class="panel">
    <div class="panel__header">
      <h3><%= t('.titre_dossiers_non_exportable') %></h3>
    </div>
    <p><%= t(".dossiers_non_exportable_explication_html") %></p>

    <table class="table">
      <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
        </tr>
      </thead>

      <tbody>
        <% @dossiers_sans_mef_destination.each do |dossier| %>
          <tr>
            <td><%= dossier.eleve.prenom %></td>
            <td><%= dossier.eleve.nom %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>

</section>

