<section class="section">
  <div class="container">
    <h1><%= t(".titre") %></h1>
    <% if flash[:error] %>
      <div class="notification error">
        <%= flash[:error] %><br/>
        <% if @etablissement.present? %>
          Vous pouvez également <%= link_to "relancer l'email de confirmation", configuration_etablissement_relance_invitation_agent_path(@etablissement.id), method: :post %>.
        <% end %>
      </div>
    <% end %>

    <p><%= t('.explication') %></p>
    <%= form_for([:configuration, Etablissement.new]) do |f| %>
      <div class="form__group">
        <%= f.label :uai %>
        <%= f.text_field :uai%>
      </div>
      <div class="form__group">
        <%= f.submit t('.inscrire'), class: 'button' %>
      </div>
    <% end %>

    <p class="notification warning">Il arrive parfois que nos emails soient bloqué dans l'anti-virus académique, ou bien arrive comme spam. Nous faisons actuellement des recherches et développements pour améliorer cette partie.</p>
  </div>
</section>
