<section class="section">
  <div class="container">
    <h2><%= @etablissement.nom %> - <%= @etablissement.uai %></h2>
    <dl>
      <dt>Adresse</dt>
      <dd><%= @etablissement.adresse %></dd>

      <dt>Code postal</dt>
      <dd><%= @etablissement.code_postal %></dd>

      <dt>Ville</dt>
      <dd><%= @etablissement.ville %></dd>

      <dt>Signataire</dt>
      <dd><%= @etablissement.signataire %></dd>
    </dl>

    <%= link_to 'Modifier', edit_configuration_etablissement_path(@etablissement), {class: 'button-outline primary'} %>
  </div>
</section>

