<%= form_for([:configuration, @agent]) do |f| %>

  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
      <% @agent.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :jeton, params[:jeton] if params[:jeton] %>
  <div class="form-group">
    <%= f.label :prenom %>
    <%= f.text_field :prenom, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :nom %>
    <%= f.text_field :nom, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.submit 'valider', class: 'btn btn-primary my-3' %>
  </div>
<% end %>
