<%= form_for([:configuration, @agent]) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% @agent.errors.full_messages.each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :jeton, params[:jeton] if params[:jeton] %>
  <div class="form__group">
    <%= f.label :prenom %>
    <%= f.text_field :prenom %>
  </div>
  <div class="form__group">
    <%= f.label :nom %>
    <%= f.text_field :nom %>
  </div>
  <div class="form__group">
    <%= f.label :password, t('.nouveau_mot_de_passe') %>
    <%= f.password_field :password %>
  </div>
  <div class="form__group">
    <%= f.submit 'valider', class: 'button' %>
  </div>
<% end %>
