
<h1>Agents</h1>

<table class="table">
  <thead>
    <tr>
      <th>Identifiant</th>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Admin</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.identifiant %></td>
        <td><%= agent.nom %></td>
        <td><%= agent.prenom %></td>
        <td><%= "<span class='fas fa-check'></span>".html_safe if agent.admin? %></td>
        <td><%= link_to 'Modifier', edit_configuration_agent_path(agent) %></td>
        <td>
          <%= link_to_if(@agent_connecté != agent, "Supprimer", [:configuration, agent],
                         method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet agent ?' })
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Créer un nouvel agent", new_configuration_agent_path %>
