<section class="section">
  <h1>Agents</h1>

  <div class="text-right">
    <%= link_to t('.ajouter_un_agent'), new_configuration_agent_path, {class: 'button-outline primary'} %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Admin</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.email %></td>
        <td><%= agent.nom %></td>
        <td><%= agent.prenom %></td>
        <td><%= "<span class='fas fa-check'></span>".html_safe if agent.admin? %></td>
        <td>
          <%= link_to_if(@agent_connecte != agent, "Supprimer", [:configuration, agent],
                         method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cet agent ?' })
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
