<h2 class="separation"><%= t('.titre_responsable_legal') %></h2>


<div class="informations-rl mb-2" data-rl-id="<%= responsable.id %>">
  <ul class="list-unstyled">
    <li><b><%= t('.lien_de_parente') %></b> : <%= responsable.lien_de_parente %></li>
    <li><b><%= t('.prenom') %></b> : <%= responsable.prenom %></li>
    <li><b><%= t('.nom') %></b> : <%= responsable.nom %></li>
    <li><b><%= t('.adresse') %></b> : <%= responsable.adresse %></li>
    <li><b><%= t('.code_postal') %></b> : <%= responsable.code_postal %></li>
    <li><b><%= t('.ville') %></b> : <%= responsable.ville&.upcase %></li>
    <li><b><%= t('.pays') %></b> :
      <% @liste_pays.each do |option| %>
        <%= option[0] if option[1] == responsable.pays %>
      <% end %></li>
    <li><b><%= t('.telephone_principal') %></b> : <%= responsable.tel_personnel %></li>
    <li><b><%= t('.telephone_secondaire') %></b> : <%= responsable.tel_portable %></li>
    <li><b><%= t('.telephone_professionnel') %></b> : <%= responsable.tel_professionnel %></li>
    <li><b><%= t('.email_principal') %></b> : <%= responsable.email %></li>
  </ul>
  <a class="modifier-informations-rl button-outline primary" tabindex="0" data-rl-id="<%= responsable.id %>" data-rl="<%= rl %>">
    <%= t('.modifier_informations') %>
  </a>
</div>

<%= hidden_field_tag :id, responsable.id %>

<div class="formulaire-rl mb-2" data-rl-id="<%= responsable.id %>" style="display: none;">
  <div class="form__group">
    <%= f.label :lien_de_parente, t('.lien_de_parente') %>
    <%= f.select :lien_de_parente, options_for_select(@lien_de_parentes, :lien_de_parente), {}, { class: "lien_de_parente_#{rl}" } %>
  </div>

  <div class="form__group">
    <%= f.label :prenom, t('.prenom') %>
    <%= f.text_field :prenom, placeholder: "Prénom" %>
  </div>

  <div class="form__group">
    <%= f.label :nom, t('.nom') %>
    <%= f.text_field :nom, placeholder: "Nom" %>
  </div>

  <div class="form__group">
    <%= f.label :adresse, t('.adresse') %>
    <%= f.text_area :adresse, placeholder: "Numéro et nom de voie", rows: "3" %>
  </div>

  <div class="form__group" id="champs-code-postal-rl<%= rl %>">
    <%= f.label :code_postal, t('.code_postal') %>
    <%= f.number_field :code_postal, placeholder: t('.code_postal'), class: 'input-code-postal', data: { rl: rl } %>
  </div>

  <div class="form__group" id="champs-select-ville-rl<%= rl %>">
    <% ville_rl = responsable.ville ? responsable.ville.upcase : '' %>
    <%= f.label :ville, t('.ville') %>
    <%= f.select :ville, options_for_select([ville_rl], :ville), {}, { class: 'input-ville', "data-rl" => rl } %>
  </div>

  <div class="form__group" id="champs-text-ville-rl<%= rl %>" style="display: none;">
    <%= f.label :ville_etrangere, t('.ville') %>
    <%= f.text_field :ville_etrangere, placeholder: "Nom", value: responsable.ville %>
  </div>

  <div class="form__group">
    <%= f.label :pays, t('.pays') %>
    <%= f.select :pays, options_from_collection_for_select(@liste_pays, :last, :first, responsable.pays), {include_blank: true}, { class: 'pays', data: {"resp-legal" => responsable.priorite}}  %>
  </div>

  <div class="form__group">
    <%= f.label :tel_personnel, t('.telephone_principal') %>
    <%= f.telephone_field :tel_personnel, placeholder: "Numéro de téléphone" %>
  </div>

  <div class="form__group">
    <%= f.label :tel_portable, t('.telephone_secondaire') %>
    <%= f.telephone_field :tel_portable, placeholder: "Numéro de téléphone" %>
  </div>

  <div class="form__group">
    <%= f.label :tel_professionnel, t('.telephone_professionnel') %>
    <%= f.telephone_field :tel_professionnel, placeholder: "Numéro de téléphone" %>
  </div>

  <div class="form__group">
    <%= f.label :email, t('.email_principal') %>
    <%= f.email_field :email, placeholder: "Numéro de téléphone" %>
  </div>
</div>

<div class="form__group">
  <% professions = @code_profession.map{ |k, v| v } %>
  <%= f.label :profession, t('.profession') %>
  <%= f.select :profession, options_for_select(professions, :profession) %>
</div>

<div class="form__group">
  <%= f.label :enfants_a_charge, t('.nb_total_enfants_a_charge') %>
  <%= f.number_field :enfants_a_charge %>
</div>

<div class="form__group">
  <%= label_tag do %>
    <%= t('.j_accepte') %>
    <%= f.radio_button :communique_info_parents_eleves, true %>
  <% end %>
  <%= label_tag do %>
    <%= t('.j_accepte_pas') %>
    <%= f.radio_button :communique_info_parents_eleves, false %>
  <% end %>
  <%= f.label :communique_info_parents_eleves, t('.coordonnees_communiquees') %>
</div>
