<% @section = 3 %>

<%= render partial: 'partials/navigation', locals: { dossier_eleve: dossier_eleve } %>

<section class="section">

  <form action="/administration" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <h2 class="col separation"><%= t('.restauration_scolaire') %></h2>


    <div class="form__group" id="demi-pension" data-demi-pension="<%= dossier_eleve.demi_pensionnaire %>">
      <label>
        <input type="radio" name="demi_pensionnaire" value="true" id='demi_pensionnaire'
               <% if dossier_eleve.demi_pensionnaire %> checked <% end %>><%= t('.demi_pensionnaire') %>
      </label>
      <label>
        <input type="radio" name="demi_pensionnaire" value="false" id='externe'
               <% if ! dossier_eleve.demi_pensionnaire %> checked <% end %>><%= t('.externe') %>
      </label>
    </div>

    <div id="dp" style="display: none;">
      <p class="text-danger"><%= t('.engagement_demi_pension') %></p>
    </div>

    <h2 class="separation mt-4"><%= t('.autorisation_de_sortie') %></h2>

    <div>
      <label>
        <input type="radio" name="autorise_sortie" value="true" id='autorise_sortie'
               <% if dossier_eleve.autorise_sortie %> checked <% end %>><%= t('.j_autorise') %>
      </label>
    </div>
    <div class="form__group">
      <label>
        <input class="form-check-input" type="radio" name="autorise_sortie" value="false"
               <% if !dossier_eleve.autorise_sortie %> checked <% end %>><%= t('.je_n_autorise_pas') %>
      </label>
    </div>

    <p><%= t('.mon_enfant_a_quitter_le_college') %></p>

    <h2 class="separation mt-4"><%= t('.renseignements_medicaux') %></h2>

    <div class="row">
        <div class="form__group" data-renseignements-medicaux="<%= dossier_eleve.renseignements_medicaux %>"
             id="form-renseignements-medicaux">
          <label class="">
            <input type="checkbox" value='true' name="renseignements_medicaux"  id='renseignements_medicaux'
                   <% if dossier_eleve.renseignements_medicaux %> checked <% end %>> <%= t('.envoyer_une_info_medicale') %>
          </label>
        </div>
        <% if dossier_eleve.etablissement.message_infirmerie.present? %>
          <div id="message-infirmerie" class="d-none">
            <%= dossier_eleve.etablissement.message_infirmerie %>
          </div>
        <% end %>
    </div>

    <h2 class="separation mt-4"><%= t('.droit_a_l_image') %></h2>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="droit_image_photo" value="true" id='autorise_photo_de_classe'
               <% if dossier_eleve.autorise_photo_de_classe %> checked <% end %>> <%= t('.j_accepte') %> </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="droit_image_photo" value="false"
               <% if !dossier_eleve.autorise_photo_de_classe %> checked <% end %>> <%= t('.j_accepte_pas') %> </label>
    </div>

    <p><%= t('.enfant_photographie') %></p>

    <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "famille"} %>
  </form>
</section>

<script>
  $(document).ready(function() {
    document.getElementById("demi_pensionnaire").focus();

    if ($('#demi-pension').data('demi-pension')) {
      $('#dp').css('display', 'block')
    }

    $('form').change( function () {
      console.log($('input[name=demi_pensionnaire]:checked').val())
      if ($('input[name=demi_pensionnaire]:checked').val() === 'true') {
        $('#dp').css('display', 'block')
        console.log('oui')
      } else {
        console.log('non')
        $('#dp').css('display', 'none')
      }
    })

    if ($('#form-renseignements-medicaux').data('renseignements-medicaux')) {
      $('#message-infirmerie').removeClass('d-none')
    }

    $('#renseignements_medicaux').click(function(event) {
      if (event.target.checked) {
        $('#message-infirmerie').removeClass('d-none')
      }
      else {
        $('#message-infirmerie').addClass('d-none')
      }
    })
  })
</script>
