<% @section = 3 %>

<section class="section">

  <form action="/administration" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <h2 class="col separation"><%= t('.restauration_scolaire') %></h2>


    <div class="form__group" id="demi-pension" data-demi-pension="<%= @dossier_eleve.demi_pensionnaire %>">
      <label>
        <input type="radio" name="demi_pensionnaire" required value="true" id='demi_pensionnaire'
        <% if @dossier_eleve.demi_pensionnaire %> checked <% end %>><%= t('.demi_pensionnaire') %>
      </label>
      <label>
        <input type="radio" name="demi_pensionnaire" required value="false" id='externe'
        <% if ! @dossier_eleve.demi_pensionnaire %> checked <% end %>><%= t('.externe') %>
      </label>
    </div>

    <div id="dp" style="display: none;">
      <% if @dossier_eleve.etablissement.demande_caf %>
        <label class="mt-1">
          <%= t('.numero_caf') %>
          <input type="text" name="identifiant_caf" value="<%= @dossier_eleve.identifiant_caf %>">
        </label>
      <% end %>
      <p class="text-danger"><%= t('.engagement_demi_pension') %></p>
      <% if @dossier_eleve.etablissement.reglement_demi_pension.present? %>
        <%= link_to t('.lire_reglement_dp'), @dossier_eleve.etablissement.reglement_demi_pension_url, target:'_blank' %>
      <% end %>
    </div>

    <% if @dossier_eleve.etablissement.regimes_sortie.count > 1 %>
      <h2 class="separation mt-4"><%= t('.autorisation_de_sortie') %></h2>

      <div>
        <% @dossier_eleve.etablissement.regimes_sortie.order(:nom).each do |regime| %>
          <label>
            <input type="radio" name="regime_sortie" value="<%= regime.id %>" required id="regime_sortie_<%= regime.id %>"
            <% if @dossier_eleve.regime_sortie == regime %> checked <% end %>>
            <b><%= regime.nom %></b>
          </label>
          <p><%= markdown(regime.description) %></p>
        <% end %>
      </div>
    <% end %>

    <h2 class="separation mt-4"><%= t('.renseignements_medicaux') %></h2>

    <div class="row">
      <div class="form__group" data-renseignements-medicaux="<%= @dossier_eleve.renseignements_medicaux %>"
                               id="form-renseignements-medicaux">
                               <label class="">
                                 <input type="checkbox" value='true' name="renseignements_medicaux"  id='renseignements_medicaux'
                                 <% if @dossier_eleve.renseignements_medicaux %> checked <% end %>> <%= t('.envoyer_une_info_medicale') %>
                               </label>
      </div>
    </div>

    <h2 class="separation mt-4"><%= t('.photo_de_classe') %></h2>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" required name="droit_image_photo" value="true" id='autorise_photo_de_classe'
        <% if @dossier_eleve.autorise_photo_de_classe %> checked <% end %>> <%= t('.j_accepte') %> </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" required name="droit_image_photo" value="false"
        <% if !@dossier_eleve.autorise_photo_de_classe %> checked <% end %>> <%= t('.j_accepte_pas') %> </label>
    </div>

    <p><%= t('.enfant_photographie') %></p>

    <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "famille"} %>
  </form>
</section>

<script>
$(document).ready(function() {
  document.getElementById("demi_pensionnaire").focus();

  if ($('#demi-pension').data('demi-pension')) {
    $('#dp').css('display', 'block')
  }

  $('form').change( function () {
    console.log($('input[name=demi_pensionnaire]:checked').val())
      if ($('input[name=demi_pensionnaire]:checked').val() === 'true') {
        $('#dp').css('display', 'block')
      } else {
          $('#dp').css('display', 'none')
      }
  })

  if ($('#form-renseignements-medicaux').data('renseignements-medicaux')) {
    $('#message-infirmerie').removeClass('d-none')
  }

  $('#renseignements_medicaux').click(function(event) {
    if (event.target.checked) {
      $('#message-infirmerie').removeClass('d-none')
    }
    else {
      $('#message-infirmerie').addClass('d-none')
    }
  })
})
</script>
