<section class="section">
  <div class="container">
    <h2 class="separation">Réinscription de <%= @eleve.prenom %> <%= @eleve.nom %> enregistrée</h2>

    <p>L'inscription ne sera validée qu'à réception d'un email de confirmation aux adresses suivantes :</p>

    <ul>
      <% @dossier_eleve.resp_legal.each do |resp_legal| %>
        <% if resp_legal.email.present? %>
          <li><%= resp_legal.email %></li>
        <% end %>
      <% end %>
    </ul>

    <p>A bientôt au collège <%= @dossier_eleve.etablissement.nom %> !</p>

    <div id='question-satisfaction' class="text-center mb-2">
      <p class="mb-1"><small>Qu'avez-vous pensé de cette nouvelle plateforme ?</small></p>

      <div id='satisfaction' class="">
        <% satisfaction = {1 => 'Très insatisfait', 2 => 'Insatisfait', 3 => 'Neutre', 4 => 'Satisfait', 5 => 'Très satisfait'} %>
        <% satisfaction.each do |note, commentaire| %>
          <% nom_fichier = commentaire.gsub(' ', '_').gsub('è', 'e').downcase %>
          <a class="smiley-satisfaction" href='#' data-note="<%= note %>">
            <img src="images/<%= nom_fichier %>.png"
                 alt="<%= commentaire %>" title="<%= commentaire %>">
          </a>
        <% end %>
      </div>
    </div>
    <form id='commentaire' class='d-none'>
      <div class="form__group">
        <textarea id='commentaire-textarea' name='commentaire'></textarea>
      </div>
      <div class="form__group">
        <input id='envoyer-commentaire' value='Envoyer' type='submit' class='button'/>
      </div>
    </form>
    <div id="merci_pour_commentaire" class="notification success text-center" style="display: none;">Merci pour votre commentaire</div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.smiley-satisfaction').click(function(event) {
      event.preventDefault()
      var note = $(this).data('note');
      $.ajax({
        method: "POST",
        url: "/satisfaction",
        data: { note: note, authenticity_token: "<%= form_authenticity_token %>"},
        success : function() {
          $('#message_validation').show('slow')
        }
      });
      $('#commentaire').removeClass('d-none');
      $('#commentaire-textarea').focus();
    })
    $('#envoyer-commentaire').click(function(event) {
      event.preventDefault()
      var commentaire = $('#commentaire-textarea').val();
      $.ajax({
        method: "POST",
        url: "/commentaire",
        data: { commentaire: commentaire, authenticity_token: "<%= form_authenticity_token %>"},
        success : function() {
          $('#satisfaction').hide('slow')
          $('#question-satisfaction').hide('slow')
          $('#commentaire').addClass('d-none');
          $('#merci_pour_commentaire').show('slow')
        }
      })
    });
  })
</script>
