<section class="section">
  <div>
    <h1 class="text-center"><%= t('identification.titre') %></h1>
    <p class="lead text-center"><%= t('identification.baseline') %></p>
  </div>

  <form action="/identification" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% if flash[:erreur] %>
      <p class="notification warning"><%= flash[:erreur] %></p>
    <% end %>

    <div class="form__group">
      <label class="col-form-label" for="identifiant" id="label_identifiant"><%= t('identification.labels.identifiant') %></label>
      <input name="identifiant" type="text" class="form-control" id="identifiant" placeholder="<%= t('identification.placeholders.identifiant') %>" autofocus>
    </div>

    <div class="form__group">
      <label class="" for="jour" id="label_date"><%= t('identification.labels.date_de_naissance') %></label>
      <input name="jour" type="number" id="date_jour" min="1" maxlength="2" placeholder="<%= t('identification.placeholders.jour') %>" style="width:25%;" max="31" required>
      <input name="mois" type="number" id="date_mois" min="1" maxlength="2" placeholder="<%= t('identification.placeholders.mois') %>" style="width:25%;" max="12" required>
      <input name="annee" type="number" id="date_annee" min="2000" maxlength="4" placeholder="<%= t('identification.placeholders.annee') %>" style="width: 48%;" max='2018' required>
    </div>

    <div class="form__group text-center">
      <button class="button"><%= t('identification.connexion') %></button>
    </div>

  </form>

  <div id="lien-si-agent">
    <p class="text-center">
    Vous êtes dans l'académie de Paris ?
    <%= link_to "Vous devez vous connecter avec l'ENT", "#{ENV['ENT_PARIS_URL']}/login?service=#{ENV['ENT_PARIS_URL_RETOUR']}"%>
    </p>

    <% if Rails.env == 'demo' %>
      <p class="text-center"><a href="https://ent.parisclassenumerique.fr/cas/login?service=https%3A%2F%2Fdemo.dossiersco.fr%2Fretour-ent"> m'authentifier avec mon ENT (réservé aux établissements parisiens) </a></p>
    <% end %>
  </div>

  <% if !Rails.env.production? && Etablissement.exists?(uai: '0123456S') %>
    <div class="text-center">
      <p>Vous êtes sur un environnement de test. Les données existantes ici sont anonymisées. Vous pouvez donc vous connecter avec les comptes suivants : </p>
      <ul>
        <% DossierEleve.where(etablissement_id: Etablissement.find_by(uai: '0123456S').id).sample(3).each do |dossier| %>
          <li><%= link_to "Élève #{dossier.prenom} #{dossier.nom}", "/identification?identifiant=#{dossier.identifiant}&annee=#{dossier.annee_de_naissance}&mois=#{dossier.mois_de_naissance}&jour=#{dossier.jour_de_naissance}", method: :post %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
