<%
  premier_prenom = [
      {
          name: "prenom",
          label: t('.prenom'),
          type: "text",
          value: @eleve.prenom,
          indication: "Prénom",
          disabled: false,
          required: 'required'
      }]

  autres_prenoms = [
      {
          name: "prenom_2",
          label: t('.prenom_2'),
          type: "text",
          value: @eleve.prenom_2,
          indication: "Deuxième prénom (optionnel)",
          disabled: false
      },
      {
          name: "prenom_3",
          label: t('.prenom_3'),
          type: "text",
          value: @eleve.prenom_3,
          indication: "Troisième prénom (optionnel)",
          disabled: false
      }]

  reste_identite = [
      {
          name: "nom",
          label: t('.nom'),
          type: "text",
          value: @eleve.nom,
          indication: "Nom",
          disabled: false,
          required: 'required'
      },
      {
          name: "sexe",
          label: t('.sexe'),
          type: "radio",
          options: [t('.feminin'), t('.masculin')],
          checked: @eleve.sexe
      },
      {
          type: "espace",
          hauteur: 20,
      },
      {
          name: "ville_naiss",
          label: t('.ville_de_naissance'),
          type: "text",
          value: @eleve.ville_naiss,
          indication: "Ville de naissance",
          disabled: false,
          required: 'required'
      },
      {
          name: "pays_naiss",
          label: t('.pays_de_naissance'),
          type: "text",
          value: @eleve.pays_naiss,
          indication: "Pays de naissance",
          disabled: false,
          required: 'required'
      },
      {
          type: "espace",
          hauteur: 20,
      },
      {
          name: "nationalite",
          label: t('.pays_de_nationalite'),
          type: "text",
          value: @eleve.nationalite,
          indication: "Pays de nationalité",
          disabled: false,
          required: 'required'
      },
      {
          type: "espace",
          hauteur: 10,
      }]

  enseignement_facultatif = [
      {
          name: "latin",
          label: t('.lv2'),
          type: "checkbox",
      }
  ]
%>

<% @section = 1 %>
<%= render partial: 'partials/navigation', locals: { dossier_eleve: @eleve.dossier_eleve } %>

<section class="section">

  <form action="/eleve"  method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <p><em><%= t('.conseil_corriger_les_informations') %></em></p>

    <h2 class="separation"><%= t('.titre') %></h2>

    <%= raw(construire premier_prenom) %>

    <% if @eleve.niveau_classe_ant !~ /5EME/ and @eleve.niveau_classe_ant !~ /6EME/ %>
      <%= raw(construire autres_prenoms) %>
    <% end %>

    <%= raw(construire reste_identite) %>

    <% if @montees_pedagogiques.present? %>
      <h3 class="separation"><%= t('.options_pedagogiques') %></h3>
      <p><%= t('.explication_options_pedagogiques') %></p>

      TODO: revoir le systeme pour enregistrer un abandon d'option
      <% @montees_pedagogiques.each do |montee| %>
        <%= label_tag do %>
          <% if @eleve.dossier_eleve.options_pedagogiques.include?(montee.option_pedagogique) ||
              @options_origines.include?(montee.option_pedagogique.nom) %>
            <% if !montee.abandonnable && @options_origines.include?(montee.option_pedagogique.nom) %>
              <%= check_box_tag montee.option_pedagogique.nom, montee.option_pedagogique.id, :checked,
                                disabled: 'disabled', class: 'disabled'%>
            <% else %>
              <%= check_box_tag montee.option_pedagogique.nom, montee.option_pedagogique.id, :checked%>
            <% end %>
          <% else %>
            <%= check_box_tag montee.option_pedagogique.nom, montee.option_pedagogique.id %>
          <% end %>
          <%= montee.option_pedagogique.nom %>
        <% end %>
      <% end %>

    <% else %>
      <% @options_etablissement.each do |option| %>
        <%= label_tag do %>
          <%= check_box_tag option.nom, option.id %>
          <%= option.nom %>
        <% end %>
      <% end %>
    <% end %>

    <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "accueil"} %>
  </form>
</section>

<script>
  document.getElementById("prenom").focus();
</script>
