<section class="section">

  <%= simple_form_for @eleve, url: eleve_path, method: :post do |f| %>

    <p><em><%= t('.conseil_corriger_les_informations') %></em></p>

    <h2 class="separation"><%= t('.titre') %></h2>

    <div class="form__group">
      <%= f.input :prenom, placeholder: 'Prénom', required: true %>
    </div>

    <% if @dossier_eleve.niveau_classe_ant !~ /5EME/ and @dossier_eleve.niveau_classe_ant !~ /6EME/ %>
      <div class="form__group">
        <%= f.input :prenom_2, placeholder: 'Deuxième prénom (optionnel)' %>
      </div>

      <div class="form__group">
        <%= f.input :prenom_3, placeholder: 'Troisième prénom (optionnel)' %>
      </div>

    <% end %>

    <div class="form__group">
      <%= f.input :nom, placeholder: 'Nom', required: true %>
    </div>

    <div class="form__group">
      <%= f.input :sexe, collection:  [t('.feminin'), t('.masculin')], required: true, checked: @dossier_eleve.sexe, as: :radio_buttons %>
    </div>

    <div class="form__group">
      <%= f.input :ville_naiss, placeholder: 'Ville de naissance', required: true, label: t('.ville_de_naissance') %>
    </div>

    <div class="form__group">
      <%= f.input :pays_naiss, collection: @liste_pays, required: true, checked: @dossier_eleve.pays_naiss, as: :select, label: t('.pays_de_naissance') %>
    </div>

    <div class="form__group">
      <%= f.input :nationalite, collection: @liste_nationalite, required: true, checked: @dossier_eleve.nationalite, as: :select, label: t('.pays_de_nationalite') %>
    </div>


    <% if @options_pedagogiques.present? %>
      <h3 id="options-pedagogiques" class="separation"><%= t('.options_pedagogiques') %></h3>
      <p><%= t('.explication_options_pedagogiques') %></p>

      <% @options_pedagogiques.sort_by(&:nom).each do |option| %>
        <%= label_tag do %>
          <% if !abandonnable?(@dossier_eleve, option) && pratiquee?(@dossier_eleve, option) %>
            <%= check_box_tag option.nom, option.id, :checked, disabled: 'disabled', class: 'disabled' %>
            <%= hidden_field_tag option.nom, option.id %>
          <% elsif abandonnable?(@dossier_eleve, option) && pratiquee?(@dossier_eleve, option) %>
            <%= check_box_tag option.nom, option.id, :checked %>
          <% elsif ouverte?(@dossier_eleve, option) && selectionnee?(@dossier_eleve, option) %>
            <%= check_box_tag option.nom, option.id, :cheched %>
          <% elsif ouverte?(@dossier_eleve, option) %>
            <%= check_box_tag option.nom, option.id %>
          <% end %>
          <% if ouverte?(@dossier_eleve, option) || pratiquee?(@dossier_eleve, option) %>
            <%= option.nom %>
            <%= option.explication %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "accueil"} %>

  <% end %>

</section>

<script>
document.getElementById("prenom").focus();
</script>
