<section class="section">
  <div>
    <h1 class="text-center"><%= t('identification.titre') %></h1>
    <p class="lead text-center"><%= t('identification.baseline') %></p>
  </div>

  <form action="/identification" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% if session[:message_erreur] %>
      <p class="notification warning"><%= session[:message_erreur] %></p>
    <% end %>

    <div class="form__group">
      <label class="col-form-label" for="identifiant" id="label_identifiant"><%= t('identification.labels.identifiant') %></label>
      <input name="identifiant" type="text" class="form-control" id="identifiant" placeholder="<%= t('identification.placeholders.identifiant') %>" autofocus>
    </div>

    <div class="form__group" id="date_form">
      <label class="" for="jour" id="label_date"><%= t('identification.labels.date_de_naissance') %></label>
      <input name="jour" type="number" id="date_jour" maxlength="2" placeholder="<%= t('identification.placeholders.jour') %>" style="width:25%;" max="31" required>
      <input name="mois" type="number" id="date_mois" maxlength="2" placeholder="<%= t('identification.placeholders.mois') %>" style="width:25%;" max="12" required>
      <input name="annee" type="number" id="date_annee" maxlength="4" placeholder="<%= t('identification.placeholders.annee') %>" style="width: 48%;" max='2018' required>
    </div>

    <div class="form__group text-center">
      <button class="button"><%= t('identification.connexion') %></button>
    </div>

  </form>

  <div id="lien-si-agent">
    <p class="text-center"><a href="/agent"><%= t('identification.agent_ple?') %></a></p>
  </div>
</section>

<script>
  var container = document.getElementById("date_form");
  var index_avancement = {'jour': 0, 'mois': 1, 'annee': 2};
  var avancement_saisie = 0;
  container.onkeyup = function(e) {
    var target = e.srcElement;
    var maxLength = parseInt(target.attributes["maxlength"].value, 10);
    var longueurDejaTapee = target.value.length;
    if (longueurDejaTapee >= maxLength
      && index_avancement[target.name] == avancement_saisie) { // Retour en arrière
      avancement_saisie++;
      var next = target;
      while (next = next.nextElementSibling) {
        if (next == null)
          break;
        if (next.tagName.toLowerCase() == "input") {
          next.focus();
          break;
        }
      }
    }
  }
</script>
