<section class="section">
  <div>
    <h1 class="text-center"><%= t('identification.titre') %></h1>
    <p class="lead text-center"><%= t('identification.baseline') %></p>
  </div>

  <form action="/identification" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% if session[:message_erreur] %>
      <p class="notification warning"><%= session[:message_erreur] %></p>
    <% end %>

    <div class="form__group">
      <label class="col-form-label" for="identifiant" id="label_identifiant"><%= t('identification.labels.identifiant') %></label>
      <input name="identifiant" type="text" class="form-control" id="identifiant" placeholder="<%= t('identification.placeholders.identifiant') %>" autofocus>
    </div>

    <div class="form__group">
      <label class="" for="jour" id="label_date"><%= t('identification.labels.date_de_naissance') %></label>
      <input name="jour" type="number" id="date_jour" min="1" maxlength="2" placeholder="<%= t('identification.placeholders.jour') %>" style="width:25%;" max="31" required>
      <input name="mois" type="number" id="date_mois" min="1" maxlength="2" placeholder="<%= t('identification.placeholders.mois') %>" style="width:25%;" max="12" required>
      <input name="annee" type="number" id="date_annee" min="2000" maxlength="4" placeholder="<%= t('identification.placeholders.annee') %>" style="width: 48%;" max='2018' required>
    </div>

    <div class="form__group text-center">
      <button class="button"><%= t('identification.connexion') %></button>
    </div>

  </form>

  <div id="lien-si-agent">
    <p class="text-center"><a href="/agent"><%= t('identification.agent_ple?') %></a></p>
    <% if Rails.env == 'demo' %>
      <p class="text-center"><a href="https://ent.parisclassenumerique.fr/cas/login?service=https%3A%2F%2Fdemo.dossiersco.fr%2Fretour-ent"> m'authentifier avec mon ENT </a></p>
    <% end %>
  </div>

  <% unless Rails.env.production? %>
    <div class="text-center">
      <p>Vous n'êtes pas sur un environnement de production. Les données sont ici anonymisés. Vous pouvez donc vous connecter avec les comptes suivant : </p>
      <ul>
        <% Eleve.all.sample(3).each do |eleve| %>
          <li><%= link_to "Élève #{eleve.prenom} #{eleve.nom}", "/identification?identifiant=#{eleve.identifiant}&annee=#{eleve.annee_de_naissance}&mois=#{eleve.mois_de_naissance}&jour=#{eleve.jour_de_naissance}", method: :post %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
