<% @section = 4 %>

<section class="section">
  <div class="container">

    <h2 class="separation"><%= t('.pieces_a_joindre') %></h2>

    <div class="panel">

      <div>
        <p><%= t('.pieces_obligatoires') %></p>
      </div>
      <div>
        <p><%= t('.images_multiple_html') %></p>
      </div>
      <%= t('.instructions_html') %>
    </div>

    <%= render partial: 'partials/pieces_jointes', locals: { dossier_eleve: @dossier_eleve, action: "/enregistre_piece_jointe" } %>
    <form action="/pieces_a_joindre" method='POST'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "administration"} %>
    </form>
  </div>
</section>

<div class="modal__backdrop" id="modal-chargement">
  <div class="modal">
    <%= t('.modal-chargement') %>
  </div>
</div>

<%= render partial: 'partials/image_box' %>
<script>
  $(document).ready(function() {
    $('input[type=file]')[0].focus();
  });
</script>
