<% @section = 4 %>
<% nb_documents_demandes = dossier_eleve.etablissement.piece_attendue.size %>

<%= render partial: 'partials/navigation', locals: { dossier_eleve: dossier_eleve } %>

<div class="col-12">

  <h2 class="separation"><%= t('.pieces_a_joindre') %></h2>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>
  <div class='card'>
    <div class='card-body'>
      <p><%= t('.pieces_obligatoires') %></p>
    </div>
  </div>
  <div class='card'>
    <div class='card-body'><%= t('.instructions_html') %></div>
  </div>
  <%= render partial: 'partials/pieces_jointes', locals: { dossier_eleve: dossier_eleve, action: "/enregistre_piece_jointe" } %>
  <form action="/pieces_a_joindre" method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= render partial: 'partials/nouveau_precedent_suivant', :locals => { :precedent => "administration"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= render partial: 'partials/image_box' %>
<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
<script>
  $(document).ready(function() {
    $('input[type=file]')[0].focus();

    $('.forms').change(function() {
      var data = $(this).serialize()
      $(this).find( ".soumettre" ).click()
      $("button[type='submit']").attr("disabled", "disabled").addClass('disabled')
    })
  });
</script>
