<section class="section">
  <div class="container">

    <h2 class="separation"><%= t('.titre') %></h2>

    <p><%= t('.dossier_complet_html', eleve: "#{@eleve.prenom} #{@dossier_eleve.nom}", niveau: @eleve.niveau_classe_ant[0].to_i - 1, etablissement: @dossier_eleve.etablissement.nom) %></p>
    <p><%= t('.verifier_informations') %></p>

    <div class="card">
      <div class="panel">
        <% @options_maintenues.each do |option| %>
          <div class="row mt-1">
            <div>
              <%= t('.options_maintenues') %> <strong><%= option.nom %></strong>
            </div>
            <a id='modifier-<%= option.nom %>' href="/eleve#options-pedagogiques">
              <div class="btn btn-outline-secondary btn-sm">Modifier</div>
            </a>
          </div>
        <% end %>

        <% @options_demandees.each do |option| %>
          <div class="row mt-1">
            <div>
              <%= t('.options_demandees') %> <strong><%= option.nom %></strong>
            </div>
            <a id='modifier-<%= option.nom %>' href="/eleve#options-pedagogiques">
              <div class="btn btn-outline-secondary btn-sm">Modifier</div>
            </a>
          </div>
        <% end %>

        <% @options_abandonnees.each do |option| %>
          <div class="row mt-1">
            <div>
              <%= t('.options_abandonnees') %> <strong><%= option.nom %></strong>
            </div>
            <a id='modifier-<%= option.nom %>' href="/eleve#options-pedagogiques">
              <div class="btn btn-outline-secondary btn-sm">Modifier</div>
            </a>
          </div>
        <% end %>

        <% if @dossier_eleve.etablissement.gere_demi_pension? %>
          <div class="row mt-1">
            <div>
              <%= t('.restauration_scolaire') %>&nbsp;:
              <strong><%= @dossier_eleve.demi_pensionnaire ? 'demi-pensionnaire' : 'externe' %></strong>
            </div>
            <a id='demi-pensionnaire' href="/administration">
              <div class="btn btn-outline-secondary btn-sm"><%= t('.modifier') %></div>
            </a>
          </div>
        <% end %>

        <% if @dossier_eleve.etablissement.regimes_sortie.count > 1 && @dossier_eleve.regime_sortie %>
          <div class="row mt-1">
            <div>
              <%= t('.sortie') %>&nbsp:
              <strong><%= @dossier_eleve.regime_sortie.nom %></strong>
            </div>
            <a href="/administration">
              <div class="btn btn-outline-secondary btn-sm">Modifier</div>
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <form action='/validation' method='POST' class="mt-2">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= render partial:'partials/champ_check', locals: { desc: t('.certifie_sur_l_honneur', prenom_eleve: @eleve.prenom),
                                                           name: 'signature', condition: @dossier_eleve.signature, required: 'required' }%>

                                                         <div class="text-center mt-2">
                                                           <button type='submit' class="button"><%= t('.valider_inscription') %></button>
                                                         </div>
    </form>
  </div>
</section>
