<% content_for :head do %>
  <%= javascript_include_tag 'agent', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :body do %>

  <header class="navbar" role="navigation">
    <div class="navbar__container">
      <a class="navbar__home" href="/agent/tableau_de_bord">
        <img class="navbar__logo" src="/images/republique_francaise.svg" alt="logo Dossiersco" />
        <span class="navbar__domain">DossierSCO.fr</span>
      </a>

      <nav>
        <ul class="nav__links">
          <% unless @agent_connecté.nil? %>
            <% if @agent_connecté.admin? %>
              <li class="nav__item">
                <%= link_to t('.configuration'), configuration_path, {class: 'nav-link'}%>
              </li>
            <% end %>
            <% if super_admin?(@agent_connecté.email) %>
              <li class="nav__item">
                <div class="dropdown">
                  <%= affiche_etablissement(@agent_connecté.etablissement) %>
                  <div class="dropdown-content">
                    <% Etablissement.all.each do |etablissement| %>
                      <%= link_to "#{etablissement.nom} (#{etablissement.departement})",
                                  changer_etablissement_configuration_agent_path(@agent_connecté, etablissement: etablissement),
                                  {method: :post} %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% else %>
              <li class="nav__item">
                <%= affiche_etablissement(@agent_connecté.etablissement) %>
              </li>
            <% end %>
            <li class="nav__item">
              <div class="dropdown">
                <%= @agent_connecté.email %>
                <div class="dropdown-content">
                  <%= link_to 'Mon profil', edit_configuration_agent_path(@agent_connecté), {class: "dropdown-item"} %>
                  <%= link_to "Se déconnecter", agent_deconnexion_path, {class: "dropdown-item"} %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="navbar__container">
      <nav>
        <ul class="nav__links">
          <li class="nav__item <%= 'active' if request.fullpath.include? '/tableau_de_bord' %>">
            <%= link_to 'Tableau de bord', agent_tableau_de_bord_path %>
          </li>
          <li class="nav__item <%= 'active' if request.fullpath.include? '/liste_des_eleves' %>">
            <%= link_to 'Liste des élèves', agent_liste_des_eleves_path %>
          </li>
          <li class="nav__item <%= 'active' if request.fullpath.include? '/convocations' %>">
            <%= link_to 'Convocations', agent_convocations_path %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main" class="container">

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]  %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]  %>
      </div>
    <% end %>

    <% if (defined? message_info) && (!message_info.nil?) %>
      <div class="alert alert-success"><%= message_info %></div>
    <% end %>

    <%= yield %>

  </main>
  <script>
    drift.identify(<%= @agent_connecté.id %>, {
      email: '<%= @agent_connecté.email %>',
      name: '<%= @agent_connecté.prenom %> <%= @agent_connecté.nom %> (<%= @agent_connecté.etablissement.nom %>)',
      postalcode: '<%= @agent_connecté.etablissement.code_postal %>',
      city: '<%= @agent_connecté.etablissement.ville %>'
    })
  </script>
<% end %>
<%= render template: 'layouts/application' %>