<% content_for :head do %>
    <%= javascript_include_tag 'agent', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :body do %>
    <header class="navbar navbar-expand-lg navbar-light bg-pink">
      <div class="navbar-logo">
        <%= link_to root_path do %>
          <img src='/images/republique_francaise.svg' class='logo'>
          <span class="navbar-brand" >DossierSCO</span>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% unless @agent_connecté.nil? %>
            <% if @agent_connecté.admin? %>
              <li class="nav-item">
                <%= link_to t('.suivi_inscription'), agent_tableau_de_bord_path, {class: 'nav-link'}%>
              </li>
           <% end %>
            <% if super_admin?(@agent_connecté.email) %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                                                                               aria-haspopup="true" aria-expanded="false">
                  <%= affiche_etablissement(@agent_connecté.etablissement) %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% Etablissement.all.each do |etablissement| %>
                    <%= link_to "#{etablissement.nom} (#{etablissement.departement})", changer_etablissement_configuration_agent_path(@agent_connecté, etablissement: etablissement), {method: :post, class: 'dropdown-item'} %>
                  <% end %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <span class="nav-link"><%= affiche_etablissement(@agent_connecté.etablissement) %></span>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                                                                             aria-haspopup="true" aria-expanded="false">
                <%= @agent_connecté.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Mon profil', edit_configuration_agent_path(@agent_connecté), {class: "dropdown-item"} %>
                <%= link_to "Se déconnecter", agent_deconnexion_path, {class: "dropdown-item"} %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <nav class="menu-agents pl-5 navbar navbar-expand-lg navbar-light bg-pink">
      <ul class="navbar-nav ml-5">
        <li class="nav-item <%= 'active' if request.fullpath == '/options_pedagogiques' %>">
          <%= link_to 'Options pédagogiques', options_pedagogiques_path, {class: 'nav-link'} %>
        </li>
        <li class="nav-item <%= 'active' if request.fullpath.include? '/mef' %>">
          <%= link_to 'MEF', configuration_mef_index_path, {class: 'nav-link'} %>
        </li>
        <li class="nav-item <%= 'active' if request.fullpath.include? '/tache_import' %>">
          <%= link_to 'Import', new_tache_import_path, {class: 'nav-link'} %>
        </li>
        <li class="nav-item <%= 'active' if request.fullpath.include? '/pieces_attendues' %>">
          <%= link_to 'Pièces attendues', pieces_attendues_path, {class: 'nav-link'} %>
        </li>
        <li class="nav-item <%= 'active' if request.fullpath.include? '/agent' %>">
          <%= link_to 'Agents', configuration_agents_path, {class: 'nav-link'} %>
        </li>
        <% if super_admin?(@agent_connecté.email) %>
          <li class="nav-item <%= 'active' if request.fullpath.include? '/etablissement' %>">
            <%= link_to 'Etablissement', configuration_etablissements_path, {class: 'nav-link'} %>
          </li>
        <% end %>
      </ul>
    </nav>
    <main role="main" class="container my-5">
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]  %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]  %>
      </div>
    <% end %>

    <% if (defined? message_info) && (!message_info.nil?) %>
      <div class="message_de_succes"><%= message_info %></div>
    <% end %>

    <%= yield %>

    </main><!--/.container-->
    <script>
      drift.identify(<%= @agent_connecté.id %>, {
        email: '<%= @agent_connecté.email %>',
        name: '<%= @agent_connecté.prenom %> <%= @agent_connecté.nom %> (<%= @agent_connecté.etablissement.nom %>)',
        postalcode: '<%= @agent_connecté.etablissement.code_postal %>',
        city: '<%= @agent_connecté.etablissement.ville %>'
      })
    </script>
<% end %>

<%= render template: 'layouts/application' %>
