<% content_for :head do %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :body do %>
    <header class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="navbar-logo">
        <%= link_to root_path do %>
          <img src='/images/republique_francaise.svg' class='logo'>
          <span class="navbar-brand" >DossierSCO</span>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </header>

    <main role="main" class="container mt-4">

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]  %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]  %>
      </div>
    <% end %>
    <div class="">

      <% if (defined? message_info) && (!message_info.nil?) %>
        <div class="alert alert-success"><%= message_info %></div>
      <% end %>
      <%= yield %>

    </div>

    </main>

<% end %>

<%= render template: 'layouts/application' %>
