<% content_for :head do %>
  <%= javascript_include_tag 'famille', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :body do %>

  <header class="navbar" role="navigation">
    <div class="navbar__container">
      <a class="navbar__home" href="/accueil">
        <img class="navbar__logo" src="/images/republique_francaise.svg" alt="logo Dossiersco" />
        <span class="navbar__domain">DossierSCO.fr</span>
      </a>
      <ul class="nav__links">
        <% if @eleve.present? %>
          <li class="nav__item">
            <%= link_to 'Se déconnecter', '/deconnexion' %>
        <% end %>
      </ul>
    </div>
  </header>

  <main role="main" class="container  mt-4">

  <nav class="mt-1">
    <div class="arrow-steps clearfix">

      <% @entrees_de_menu.each do |entree_de_menu| %>
        <a class="step <%= classe_pour_menu(entree_de_menu, @dossier_eleve, @entrees_de_menu) %>" href='<%= lien_menu(entree_de_menu, @dossier_eleve, @entrees_de_menu) %>'>
          <span><%= t(".menu_#{entree_de_menu}") %></span>
        </a>
      <% end %>

    </div>
  </nav>
  <% if flash[:notice] %>
    <div class="notification success mt-1">
      <%= flash[:notice]  %>
    </div>
  <% elsif flash[:alert] %>
    <div class="notification error mt-1">
      <%= flash[:alert]  %>
    </div>
  <% end %>

  <%= yield %>

  </main>

<% end %>

<%= render template: 'layouts/application' %>

